[2019-05-07 15:48] deajan commented on #274
In the turnserver.conf config file I see the following:
[code]
Am I supposed to open port range 49125-65535/udp on the turn server ?

Btw, upgraded to coturn latest git-master today, does not seem to make a difference.

[2019-05-07 23:46] kbrmimbyl commented on #275
@cchadwickk I'm facing the exact same one-way problem. Any update on what worked for you? I want to avoid the --server-relay option of possible.

[2019-05-08 00:07] cchadwickk commented on #275
Turns out my office IT has setup to alternate between 2 public IP addresses
randomly. So if connection is made by IP 1, turn server won't allow same
connection to be continued by IP 2 unless server-relay is enabled. So that
is definitely required in my case.

On Wed, 8 May, 2019, 5:17 AM kbrmimbyl, <notifications@github.com> wrote:

[2019-05-08 03:45] kbrmimbyl commented on #275
Thanks. I can confirm that enabling --server-relay does work for me. I think I'll move coturn to a dedicated server so that DDoS attackers have nothing much to attack. Right now coturn is running in parallel with a couple more things.

[2019-05-09 03:43] oliverhausler opened #387 "Packet loss and no connection when on LTE in some countries"
In some networks, no connection is established when an LTE mobile phone is called and relay candidates are to be used. I believe there is packet loss on coturn.

- The issue mainly happens when an LTE mobile phone is called, but also seems to happen on fiber-optic connections.
- The issue happens with multiple providers in Europe (Germany, Czech Republic), but apparently not in the US.
- T-Mobile

[2019-05-10 14:05] oliverhausler commented on #387
@misi Could you have a quick look at this here, please. I am unsure if it's an issue with coturn or a config problem. Maybe you can see it and point me in the right direction. I can also give you access to a test setup in case you want to look at it directly.

[2019-05-11 07:48] misi commented on #387
Hi @oliverhausler  I am busy with other tasks, but I will get you back ASAP..
Thanks for your patience..

[2019-05-11 17:27] oliverhausler commented on #387
@misi Thank you so much. It's solved. Problem wasn't in coturn, but rather a bug in our client:

I'm closing this.

[2019-05-11 17:27] #387 closed

[2019-05-12 08:01] benbro opened #388 "Typo"
You can use only one of the **to** auth mechanisms in the same time because,

https://github.com/coturn/coturn/blob/master/examples/etc/turnserver.conf#L210

[2019-05-12 08:20] benbro commented on #351
I'm also not getting TCP candidates after upgrading from Ubuntu 18.04 (coturn 4.5.0.7) to Ubuntu 19.04 (coturn 4.5.1.0).

This gives me udp candidates: turn:myserver.com:3478?transport=udp
This doesn't give me tcp candidates: turn:myserver.com:3478?transport=tcp
This also doesn't give me tcp candidates: turns:myserver.com:443?transport=tcp

Did something in turnserver.conf changed?
Is there someth

[2019-05-12 21:43] benbro commented on #268
I think nginx let you load new config and cert without stopping existing connections. It creates  a new worker process and stops the old one only when all connections are closed.
https://unix.stackexchange.com/a/333580

Isn't changing permissions on a private cert insecure and no standard?

[2019-05-13 10:06] misi commented on #388
Thanks! Fixed in master

[2019-05-13 10:06] #388 closed

[2019-05-13 11:43] armin1402 opened #389 "Binding Error Response error-code: 401"
Hi,

im trying to get coturn running to support stun and turn.

I got a strange behavior, and i'm not sure how to get correct configuration file.

Here is my setup:

### Working STUN only
#### Config
[code]

#### Result
`11959	314.007987	195.201.141.251	10.XX.XX.37	STUN	106	Binding Success Response XOR-MAPPED-ADDRESS: 93.XXX.XXX.XXX:63075 MAPPED-ADDRESS: 93.XXX.XXX.XXX:63075 RESPONSE-ORIGIN: 195.2

[2019-05-13 12:05] misi commented on #389
I made a quick test and It seems I can allocate port.
See
https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
STUN or TURN URI: `turn:195.201.141.251`
TURN username: `demo`
TURN password: `demo`

[2019-05-13 12:22] armin1402 commented on #389
Hi Misi,

turn:195.201.141.251 is indeed working with credentials, but stun isn't.

You can check it with Wireshark.

![grafik](https://user-images.githubusercontent.com/32325508/57620607-90b10380-7589-11e9-8e09-e5f95d0e122e.png)

![grafik](https://user-images.githubusercontent.com/32325508/57620650-ae7e6880-7589-11e9-8214-99d01c9d4a85.png)

Here an example stun-only:

![grafik](https://user-image

[2019-05-16 11:36] thomas0713 opened #393 "If external-ip is only used for aws?"
https://github.com/coturn/coturn/blob/c4477bfddd2cd51de1ad37032ca88330f3c44ed6/docker/coturn/turnserver.conf#L100

In turnserver.conf , I see a world " For Amazon EC2 users", if the external-ip is only used for aws?
I let the stun server run in the k8s cluster, and then expose it to the public network with the nodeport service, but the srflx returned by stun is a gateway address, not the external-

[2019-05-16 21:51] tenge-amzn opened #394 "TLS downgrade attack prevention?"
Hi there,

I'm wondering if there is a way we can enable TLS_FALLBACK_SCSV?
https://datatracker.ietf.org/doc/rfc7507/

[2019-05-17 13:19] mittster opened #395 "can't access STUN/TURN server from webrtc"
I am following the official [coturn docs][1] and trying to setup a `coturn` server to handle `STUN` and `TURN` requests. I am testing if my server runs correctly by using this little JS script:

    function checkTURNServer(turnConfig, timeout){

      return new Promise(function(resolve, reject){

        setTimeout(function(){
            if(promiseResolved) return;
            resolve(false);

[2019-05-17 22:21] tenge-amzn commented on #394
If I try to connect CoTurn TLS port with TLS1.1 and -fallback_scsv, the server does not fail the handshake. This should not happen.

`openssl s_client -connect my.turn.server:443 -fallback_scsv -tls1_1`

I'm wondering if we can add this functionality or is it in planning?

[2019-05-19 14:21] mittster opened #396 "coturn works locally, but not for remote connections"
If I try to STUN connect to coturn server from the same machine running the server using `turnutils_stunclient myIP`, the server responds with

[code]

To test STUN requests remotely, I've also installed coturn on my laptop. If I make the same request from my laptop, the stun server responds with only 1 response and hangs after that.

[code]
There is no second and third message and the command lin

[2019-05-20 09:10] #366 closed

[2019-05-22 09:19] sebastianjohn opened #397 "always allocation timeout when connect to turn ( webrtc )"
i try to make my webrtc work across different network, so i use turn server, but everytime i try to connect, the log always showing this, and my video just blank black screen,

here is my log:

23: session 003000000000000001: refreshed, username=<user>, lifetime=0
23: session 003000000000000001: user <user>: incoming packet REFRESH processed, success
23: session 003000000000000001: TCP socket clos

[2019-05-22 09:47] misi commented on #397
Check your browser logs to understand more your issue!
https://misi.github.io/webrtc-c0d3l4b/#30
From the logs it seems it close the TURN client session
`refreshed, username=, lifetime=0`
And we need more info about os, coturn version and config and your setup to help..

[2019-05-22 09:51] misi commented on #394
@tenge-amzn

It would be nice to have, but AFAIK noone works on it yet.
Please help us and make a Pull Request..

Thanks!

[2019-05-22 09:53] misi commented on #393
external-ip is a general config to help solving a coTURN service behind DNAT.

[2019-05-22 10:09] sebastianjohn commented on #397
im running it via cygwin, im using rfc5766-turn-server-3.2.5.9, here is my configuration :

listening-port=3478
tls-listening-port=5349
alt-listening-port=3479
alt-tls-listening-port=5350
listening-ip=192.168.43.187 ( not public ip )
external-ip=114.124.146.172/192.168.43.187 ( myPublicIp/myLocalIp )
min-port=49152
max-port=65535
verbose
fingerprint
lt-cred-mech
user=myusername:mypassword
realm=tu

[2019-05-22 10:10] misi commented on #393
I don't know about Alibaba cloud and k8s internal setup, and How the SLB load balancer works..

[2019-05-22 10:10] sebastianjohn commented on #397
and here's my webrtc conf:

connection.iceServers.push({
  urls: 'stun:stun.l.google.com:19302'
});

connection.iceServers.push({
  urls       : [
    'turn:myIp:3478?transport=udp', ( not public ip )
    'turn:myIp:3478?transport=tcp' ( not public ip )
  ],
    credential : 'myPassword',
    username   : 'myUsername',
});

[2019-05-22 10:11] sebastianjohn commented on #397
im new to TURN and webrtc, so i confuse should i set listener-ip on config equal to my local ip or my public ip?

[2019-05-22 10:14] misi commented on #397
use the latest cotrun version please. Cygwin is ok for testing but AFAIK not for production.
Please consider to run on a server machine with Linux or BSD etc.
Try to set in external-ip config only  your global ip.
`external-ip=114.124.146.172`

[2019-05-22 11:03] misi commented on #397
If your clients are only in your private network then  the listener-ip  is your pirvate IP.

If they are sometimes in-house but could also come  from the internet then use both or even better leave it unconfigured, and then it will listen on all IPs of the TURN server.

[2019-05-23 02:23] sebastianjohn commented on #397
so what should I do to connect my webrtc to turn server, its there any special things that need to be configured?

[2019-05-23 03:38] sebastianjohn commented on #397
i've change to latest turnserver, and i get this log :

$ turnserver -v
0: log file opened: /var/log/turn_256_2019-05-23.log
0:
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.6 'dan Eider'
0:
Max number of open files/sockets allowed for this process: 3200
0:
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 1000 (approximately)
0:

[2019-05-23 09:00] sebastianjohn commented on #397
also i've got this error :

43: session 001000000000000001: TCP socket closed remotely 192.168.123.35:53215
43: session 001000000000000001: closed (2nd stage), user <myusername> realm <dp669.com> origin <>, local 192.168.123.35:3478, remote 192.168.123.35:53215, reason: TCP connection closed by client (callback)
43: session 001000000000000001: delete: realm=<dp669.com>, username=<myusername>
43: s

[2019-05-23 09:43] sebastianjohn commented on #397
and this is my port list, is there anything wrong here?

Active Connections

  Proto  Local Address          Foreign Address        State
  TCP    0.0.0.0:135            DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:445            DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:5040           DESKTOP-UUFDIDC:0      LISTENING
  TCP    0.0.0.0:6646           DESKTOP-UUFDIDC:0      LISTENING

[2019-05-23 09:45] misi commented on #397
What you see on the client side? What is your ICE agent/Turn client? A browser? Firefox? See about:webrtc  and connection logs

[2019-05-23 09:52] misi commented on #397
Allocation seems ok, we saw, but after that client close the session the question is why?

If you see only one session you can see that after successfully allocation
clients close connection with refreshing it with 0 lifetime.
So I would search for the root of the issue on client side..
[code]

[2019-05-23 09:55] sebastianjohn commented on #397
on cliend side im using my phone, and chrome browser, and it have working once before its weird

[2019-05-23 10:11] misi commented on #397
- See: on a new tab "chrome:webrtc-internals"
- or try to add debug log options when you start
- and try to run browser with remote debugging

[2019-05-23 10:25] sebastianjohn commented on #397
i open chrome:webrtc-internals and i see a bunch of object, i dont know how to show it to you

[2019-05-23 10:39] sebastianjohn commented on #397
if the TCP socked closed then callback, is the server will try connect to UDP?

[2019-05-23 10:46] misi commented on #397
Maybe there is no issue at all.
Only ICE agent/ You mobile chrome realize that it can connect using host candidates, and then it cancels the TURN allocation, because it is not needed anymore.

If You control your webrtc app try to force TURN usage for a test.
add https://w3c.github.io/webrtc-pc/#dom-rtcicetransportpolicy-relay.

[2019-05-23 10:54] sebastianjohn commented on #397
yes, i mean, i know its not an issue, coturn is a great open source for turn/stun implementing, but i've been searching for the last 4 days and dont get any ideas why its not working, so i guess the best way is to ask the developer itself, sorry

[2019-05-23 10:56] misi commented on #397
Is the application open source? If yes which one?

[2019-05-23 11:02] sebastianjohn commented on #397
im using RTCMultiConnection its an open source webrtc library, and coTurn

[2019-05-24 05:12] yokoyamy opened #399 "TURN server doesn't response TCP relay candidate"
I setup turnserver 3.2.5.9 for WebRTC

It responds candidates for `host` `srfix` `relay`.

I'd like have a `relay` candidate as `tcp`.

However,I only can have `udp` .

How can I have a `relay` candidate as `tcp`.

Here is turnserver.conf

    listening-port=80
    listening-ip=my-server-global-ip
    external-ip=my-server-global-ip
    lt-cred-mech
    userdb=/opt/turnserver/etc/turnuserdb.conf

[2019-05-24 07:20] sebastianjohn commented on #397
i open trickle ICE and this is the result :

Time | Component | Type | Foundation | Protocol | Address | Port | Priority
-- | -- | -- | -- | -- | -- | -- | --
0.004 | 1 | host | 2143768763 | udp | 192.168.123.38 | 60428 | 126 \| 30 \| 255
0.047 | 1 | srflx | 842163049 | udp | 36.72.116.251 | 60428 | 100 \| 30 \| 255
0.083 | 1 | relay | 3507298388 | udp | 36.72.116.251 | 64829 | 1 \| 30 \| 255
0.10

[2019-05-24 07:20] sebastianjohn commented on #397
im really have no idea what is wrong

[2019-05-24 08:26] misi commented on #397
It seems in trickle ice that the turn server works fine.
Are you sure that you need TURN in your network?
Maybe for the NAT traversal it is enough to use STUN because CONE is the type of your NAT .

[2019-05-24 08:40] sebastianjohn commented on #397
so i change my code to this ( remove the turn )

connection.iceServers.push({
  urls: 'stun:my_local_ip:3478'
});

and i get this error

reason: allocation watchdog determined stale session state

[2019-05-24 08:40] sebastianjohn commented on #397
Allocation Timeout Error is gone

[2019-05-24 09:10] misi commented on #397
Do you still have in your config "no-stun" option?

[2019-05-24 09:12] sebastianjohn commented on #397
no, i've comment it out and uncomment the stun-only

[2019-05-24 09:59] pyzhangfan opened #400 "stun is not work (turn is ok)"
Test stun and turn.

turnadmin
`turnadmin -k -u raypai -r 115.159.28.58 -p 123456
0x1e76b69fe3a6d03ba1eddd05aeb48a7d`

turnserver.conf
`cli-password=qwerty
listening-device=eth0
relay-device=eth0
listening-ip=172.17.0.14
listening-port=3478
tls-listening-port=5349
relay-ip=172.17.0.14
external-ip=115.159.28.58
relay-threads=50
fingerprint
lt-cred-mech
cert=/etc/turn_server_cert.pem
pkey=/etc/turn_

[2019-05-24 10:34] sebastianjohn commented on #397
now i get this log without any error :

20, sp=1, sb=88
92: session 128000000000000002: closed (2nd stage), user <> realm <dp669.com> origin <>, local 192.168.123.38:3478, remote 192.168.123.38:56098, reason: allocation watchdog determined stale session state
92: session 128000000000000003: usage: realm=<dp669.com>, username=<>, rp=1, rb=20, sp=1, sb=88
92: session 128000000000000003: closed (2nd

[2019-05-27 08:37] wickey123 commented on #397
I have a same problem too but I use WSL and this my log

wickey@DESKTOP-9195VUB:~/coturn/turnserver-4.5.1.1$ sudo turnserver
0: log file opened: /var/log/turn_3661_2019-05-27.log
0:
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.5 'dan Eider'
0:
Max number of open files/sockets allowed for this process: 65536
0:
Due to the open files/sockets limitation,
max supported numbe

[2019-05-28 06:39] WJdenghuo opened #401 "allocation timeout"
IPv4. Local relay addr: 172.21.16.2:61994
1132: session 001000000000000006: new, realm=<62.234.105.58>, username=<cnki>, lifetime=600
1132: session 001000000000000006: realm <62.234.105.58> user <cnki>: incoming packet ALLOCATE processed, success
1142: session 001000000000000006: realm <62.234.105.58> user <cnki>: incoming packet BINDING processed, success
1152: session 001000000000000006: realm <

[2019-05-28 07:37] christoofar opened #402 "Question: Certificate renewal?"
I'm a dope here... but I was wondering...

What does coturn do when a certificate expires?  If I have a letsencrypt script writing new .pem files over the ones that were loaded when coturn launched, does coturn pick it up on its own, or do I need to cycle (stop/start) turnserver?

[2019-05-28 13:40] ksaldiran opened #403 "Segfault in libc-2.12.so"
Hello,

I use turnserver-3.2.5.9 version and get below segfault error rarely. Maybe this issue was resolved next versions. Is there any idea or suggestion?

`May 24 23:47:02 nycinet-7 kernel: turnserver[24802]: segfault at c0 ip 00000034ede44009 sp 00007f94fe4643f0 error 4 in libc-2.12.so[34ede00000+18a000]`

[2019-05-29 08:12] #397 closed

[2019-05-29 21:57] Spikeophant commented on #351
My issue turned out to be some funky nat pinning we needed to do.  I am good to go, sorry I should have closed this earlier.  @benbro  you should open a new ticket, but you might look at the output of netstat and see if the box is listening on the desired ports.

[2019-05-29 21:57] #351 closed

[2019-05-29 23:41] John2bx commented on #249
Removing the AAAA record didn’t solve our issue. Android and browser clients can connect but iOS clients cannot. Still think it’s an Ipv6 issue.. since on my 4G IPV6 it is  not available.

[2019-06-06 09:26] 350078238 opened #405 "check_stun_auth: user wlx credentials are incorrect"
Can you help me?
check_stun_auth: user wlx credentials are incorrect

[2019-06-06 09:26] 350078238 opened #406 "check_stun_auth: user wlx credentials"

[2019-06-06 09:26] 350078238 opened #407 "check_stun_auth: user wlx credentials are incorrect"

[2019-06-06 09:28] 350078238 commented on #112
我也遇到这个问题，不知道怎么解决，请问你解决了吗？

[2019-06-06 14:04] AmarOk1412 opened #408 "Question: RFC 6062, buffering the first packet from remote peer?"
Hi!

I am currently using a coturn server to do some communications in TCP. I only got a problem on the last project.

Because I use TCP over TURN, I use RFC 6062. We can imagine that Alice wants to talk to Bob (who is listening data). So Bob will get its relayed address after asking the TURN a TCP transport (a.a.a.a:xxxx) and send its address to Alice. Then Alice gives her ip (b.b.b.b:yyyy) to Bo

[2019-06-06 17:47] AmarOk1412 commented on #399
@yokoyamy you need to send a request with `REQUESTED-TRANSPORT` = tcp

[2019-06-10 06:31] ksaldiran commented on #403
Any idea ?

[2019-06-13 16:40] timproegler commented on #385
Hi! Any news on this? Have you been able to reproduce?

[2019-06-16 16:30] chenxinlong opened #409 "What's the max allocation num at the same time on the server ?"
Hi, according to the content mentioned in [rfc5766 page-7](https://tools.ietf.org/html/rfc5766#page-7) :

   exactly one relayed transport address that is used only by that
   allocation.  Thus, when a packet arrives at a relayed transport
   address on the server, the server knows for which client the data is
   intended.

   time.

Let's set the turnserver.conf as :
[code]

Since one relayed tra

[2019-06-22 08:23] yurivict opened #410 "Please strip the installed binaries"
[code]

[2019-06-22 08:37] yurivict opened #411 "Please allow shared libaries"
Usually ```--disable-static --enable-shared``` enables them, but in ```coturn``` it doesn't work.

[2019-06-24 09:27] chenxinlong commented on #409
Can anyone help me with this problem

[2019-07-04 16:07] Prashanth004 commented on #395
Same issue

[2019-07-04 16:29] chenxinlong commented on #324
Same problem, sometimes it does not publish the total_traffic info.

[2019-07-06 15:46] JarnoVgr opened #412 "Allow admin account without database"
Currently a database is required to setup an admin account. This is bloat for users that don't require a database for their TURN usage. It would be great if an optional admin key can be specified in the config.

Error:
`To use the HTTPS admin connection, you have to set the database table admin_user with the admin user accounts.`

[2019-07-06 15:52] JarnoVgr commented on #403
The version you're using is from before 2014. Maybe consider updating? ;)

[2019-07-06 15:54] JarnoVgr commented on #402
Sending the `SIGUSR2` signal reloads certificates.

Relevant PR: https://github.com/coturn/coturn/pull/236

[2019-07-08 18:51] mdosch opened #413 "Installation on a shared hoster makes home directory world readable."
If you try to install coturn on a shared hoster (where you don't have root access but are able to compile and install in your userspace) your home directory is world readable after make.

I figured out that the line 180 in the Makefile `${MKDIR} ${DESTDIR}${PREFIX}` makes your home directory world readable (drwxr-xr-x) when you configured with `./configure --prefix=${HOME}. I consider this a sever

[2019-07-10 04:01] tenge-amzn commented on #411
This is application, not library, what do you mean to enable-shared?

[2019-07-10 05:23] yurivict commented on #411
You install these headers and library:
[code]

[2019-07-10 06:08] sanjaikumarvn commented on #186
I am getting below error on .\configure

ERROR: cannot use compiler unknown properly

Could some one please help

ginstall is /usr/bin/ginstall
pkill is /usr/bin/pkill
sqlite3 is /usr/bin/sqlite3
Use TMP dir /var/tmp
Compiler: unknown

[2019-07-10 15:44] jay58 commented on #122
The issue is still persistent with me.

I did echo $CPPFLAGS and echo $LDFLAGS and both the path is the same as mentioned in the above comments.

Logs:

pkill is /usr/bin/pkill
sqlite3 is /usr/bin/sqlite3
Use TMP dir /var/tmp
Compiler: cc
Library option -lsocket cannot be used
Library option -lrt cannot be used
Library option -lwldap32 cannot be used
Library option -lwldap64 cannot be used
Library

[2019-07-15 11:50] PandaXass commented on #363
@misi I have the same issue that login from web admin page does not work from both Chrome and Firefox.
The coturn version I installed is Debian 4.5.1.1.

Basically the symptom is every time I click "Login" button, it leads me to the logon page again. And I can't find anything useful in coturn logs either.

[2019-07-16 07:15] AliBahramiEhsan opened #414 "very high latency and no packet loss"
First of all, great work! thanks!
I configured and run my turnserver as follows (installing it via apt-get install coturn):
turnserver -a -o -v -n -p 3478  --no-dtls --no-tls -u someusername:somepassword -r "somerealm"
everything works fine and I checked it via trickle ICE service.
Problem is that when my turn server acts as a relay server, latency goes up. latency is became something between 5 to

[2019-07-16 20:36] #408 closed

[2019-07-18 11:25] deajan commented on #274
ping !
Anyone having this random more than 2 people can't use video issue ?

[2019-07-19 14:00] localguru opened #415 "wrong version number in 4.5.1.2?"
Hi,

checked out from master (version 4.5.1.2), built a backport for Ubuntu/Bionic. Sylog shows

[code]

but should that be version 4.5.1.2? TURN_SERVER_VERSION is set to "4.5.1.1" in src/ns_turn_defs.h.

Ciao!

[2019-07-22 10:37] tdm4 commented on #274
@deajan - Yeah I am, but it's not a coturn issue. I've gotten 2 Firefox participants + 1 Android Nextcloud Talk client working 3 way, but 3 participants using Firefox or Chrome don't work. I don't think this is a coturn issue as the android talk client seems to work.

This is a Nextcloud Talk issue, not a coturn issue, @deajan

[2019-07-22 10:38] tdm4 commented on #274
@deajan - yes, you have to open UDP port range 49125-65535/udp on the turn server. Or, you can narrow the port range and open that up. If you don't open the UDP port range on the Turn server you will never get >2 participants working.

[2019-07-24 20:48] Sanyy commented on #343
The log is also world readable when it's created with postgres database credentials.

[2019-07-26 14:50] robert-scheck opened #416 "Coturn overrides existing log files rather appending"
When restarting coturn daemon, an already existing log file, e.g. `/var/log/coturn/turnserver_2019-07-26.log` is overridden (same when enabling `simple-log`). Given restarts of coturn could happen for any reason, this seems to be a non-helpful practice currently.

[2019-07-27 04:10] 4ydx opened #418 "Docker Testing: Total lost packets is 100%"
I am using a docker image based on github.com/instrumentisto/coturn-docker-image

When I create two containers locally using docker
[code]
and try to use turnutils_uclient, I can see that the turnserver is being connected to, but I am wondering why the packet loss is 100%.  I have tried running "turnutils_peer &" followed by "turnutils_uclient <server ip>" as well as "turnutils_uclient <server ip>

[2019-07-27 04:17] 4ydx commented on #418
At least running the test on the same container as the turnserver works:

[code]

I wonder if something about how docker containers communicate is a problem?  They are all being started on the "bridge" network and I was under the impression they can communicate to one another on all ports.

[2019-07-27 07:23] 4ydx commented on #418
I now have the connection working between a client and a peer container.  I believe this shows that the compiled turnserver is working correctly.

Here are the steps in case someone else wants to see this working on docker:

1) Build your image.  I am using a dockerfile that is very close to what is available at github.com/instrumentisto/coturn-docker-image

2) Run three different constainers:
[co

[2019-07-27 07:23] #418 closed

[2019-07-28 08:17] benbro opened #419 "systemd service missing ExecReload?"
Do we need to add ExecReload to the [systemd service](https://github.com/coturn/coturn/blob/master/examples/etc/coturn.service) to [reload ssl certificates](https://github.com/coturn/coturn/pull/236) without restarting the server?

Do we need to add this?
[code]

[2019-07-29 05:29] nadbour opened #420 "Network load balancer for TURN mobility"
Hi,
We are looking into implementing few TURN servers in AWS and we want to use a network load balancer for that.
I did a lot of reading and I found out that a NLB **doesn't support TURN mobility.**
Giving the facts that the documents are old, is there any update about this? Is it possible to do this kind of implementation these days?
If not, does anyone have any suggestions please?

[2019-07-29 14:56] Mortagne commented on #139
@hthetiot, about your Dockerfile,
do you have some example of your setup for this files :
etc/turnserver.conf
etc/turnuserdb

Regards

[2019-07-29 17:02] marcelrouw opened #421 "After update of coturn can not connect to 443"
Hi,

After I updated my Coturn server on AWS from version 4.5.0.7-1+b1 to 4.5.1.0-1~bpo9+1 I get error on connection to port 443. I used the Debian Stretch backports for the installation of Coturn. If I remove `alt-listening-port=443` from the config file. It seems to work correctly.

[code]

Is there still a way to directly connect to port 443 by Coturn or do I need to use something like iptables

[2019-07-29 18:24] baptx commented on #128
The changes of @oussamahammami did not work for me, but I got it working by doing `./configure`, 'make`, `make install`.
With the command `stun`, I noticed that the STUN server of coturn is displayed as `Port Dependent Filter` (but compiling and running stuntman server returned `Independent Filter`). When I installed the coturn package on Debian instead of CentOS, the `stun` command returned `Inde

[2019-07-29 19:27] baptx commented on #319
@misi the file https://github.com/coturn/coturn/blob/debian/master/debian/coturn.service does not work on CentOS, the daemon -o fails with SystemD (like @Chandramouli-P mentionned).
Here is a working SystemD service file that I got working on CentOS:
[code]
By the way, the Debian package starts coturn as root (not with a "turnserver" user like in your file), is it normal? Is it necessary to run th

[2019-07-29 22:02] bradleythughes commented on #421
I'm not sure if you noticed the `errno=13` in the log you posted. This is EACCES, aka "Permission denied", which makes me wonder if the turnserver is not running as a privileged user (like root) that is allowed to bind to low ports. Perhaps something changed in the startup script as part of the upgrade?

[2019-07-30 09:37] marcelrouw commented on #421
`/etc/turnserver.conf` for both servers the user and group set
[code]
The `/etc/init.d/coturn` seems to be the same for both servers. After a quick inspection by eye.

Only the new server has a `/lib/systemd/system/coturn.service`
[code]

`ps -ef` new server:
`turnser+ 14080     1  0 Jul29 ?        00:00:08 /usr/bin/turnserver --daemon -c /etc/turnserver.conf`

`ps -ef` old server:
`turnser+ 10654

[2019-07-31 17:08] activedecay opened #422 "jokes, spelling and grammar errors"
The sheer volume of spelling and grammar mistakes in this project give me extreme anxiety and is making me feel suspicious of the project's quality. For example:

    the timestamp format is just seconds sinse 1970

From the config, it's not clear what this means:

    If the value is missed, then it means 'true'.

and this comment doesn't read well, making it seem like the line numbers should be

[2019-08-01 18:42] mom040267 commented on #422
1) Grammar mistakes:

To our defense, we can admit that we got bad eduction in some shithole
countries and this is the reason why we are working as software engineers,
and we are not in respectable occupations like lawyers, hotel receptionists
or politicians.

2) Extreme anxiety:

We can recommend a doctor visit, before it comes to something serious. If
you feel yourself in immediate danger, call

[2019-08-01 21:37] activedecay commented on #422
well played <3

[2019-08-02 14:26] ntwobike opened #423 "TLS/TCP socket disconnected"
We are trying to secure peer-turn-peer connection. Our motivation is to enable DTLS all the connection should be encrypted. Now when we set up the configs, we are seeing it constantly sending ice candidate(after connection established too) in the app and it use TCP with TLS not UDP with DTLS(dont know this is possible at all). I'm kind of lost now after changing configs like -no-udp, -no-tcp ..etc

[2019-08-02 15:37] 4ydx opened #424 "Stun CHANGE_REQUESTs from a docker container in the bridged network. Possible?"
I am not an expert in networking so hopefully someone can help me out here.  In terms of starting a docker image in bridged network mode, it seems to me that stun CHANGE_REQUEST is impossible to support.  Is this correct?

If it is possible to support, does anyone have experience with using digitalocean floating point ips to create the two listening ips required for the stun CHANGE_REQUEST?  As st

[2019-08-04 08:25] spiderV20 opened #425 "coturn 4.5.0.8 max-bps option not working"
1) id=000000000000000008, user <TKProCli>:
      realm: 123com
      started 280 secs ago
      expiring in 3320 secs
      client protocol TCP, relay protocol TCP
      client addr 192.168.10.125:53850, server addr 172.17.0.2:3478
      relay addr 172.17.0.2:46147
      fingerprints enforced: ON
      mobile: OFF
      Max throughput: 6000 bytes per second     (here)
      usage: rp=8, rb=2008, s

[2019-08-04 19:29] bradleythughes commented on #422
To echo what @mom040267 said, the spelling/grammar mistakes you find can often be attributed to the fact that English is not the authors' first language. Feel free to submit a pull request to correct any errors you find. :)

With regards to jokes, the "Show him the instruments, Practical Frost" message seems to be a reference to [The First Law](https://en.wikipedia.org/wiki/The_First_Law), a fanta

[2019-08-05 01:54] 4ydx commented on #424
When creating a docker container, it can be connected to more than one network.  This will give it two different ip addresses.  The question is, will stun change request functionality still work when exposing the ports?  When a port is exposed, you can specify an ip address for the port to be exposed against.

In the context of a digital ocean droplet with a floating ip, eth0 will have the origina

[2019-08-08 09:16] thachnv92 opened #426 "Error while docker build coturn"
Hello,
I got error when build coturn in docker/coturn/
In Step 18/26:
[code]

Please help me correct it.
Thanks.

[2019-08-10 00:24] tenge-amzn opened #427 "Peer traffic stats not publishing"
Hi,
This line shows we should have a pubsub message for peer traffic.
https://github.com/coturn/coturn/blob/master/turndb/schema.stats.redis#L23

Didn't find it in the source code, so haven't implemented them yet?

[2019-08-12 03:55] 4ydx commented on #426
Are you using debian?  There is an error message: "Package 'libmariadbclient18' has no installation candidate".

[2019-08-12 03:59] 4ydx commented on #396
I am seeing the same thing in terms of the client appearing to hang when connecting to a remote turnserver.  In my case I am running it as a stun only server.

[2019-08-12 04:33] thachnv92 commented on #426
Yes. I got code this here.

[2019-08-12 12:09] 4ydx commented on #426
Face palm.  Yeah of course.  I would try debian:latest to see if that fixes it.

[2019-08-13 06:02] maxpavlov opened #428 "Coturn over TLS with NGinx - baseline"
Hello.

So I have seen several discussions about running coturn behind NGINX proxy, and I have several questions.

1. Does running coturn using only TLS ports binds it to TCP mode?
2. Is Coturn a mainly http-based API, since I've seen a suggestion to just do an SSL termination via nginx and route request to non-TLS Coturn ports using HTTP? Would that work?

Thanks in advance.

[2019-08-13 07:25] thachnv92 commented on #426
I changed it but still error.
[code]
[code]

[2019-08-13 14:32] maxpavlov opened #429 "Coturn only to relay IPs that have previously done a STUN check"
I would like to have a TURN server to only service the IP's of two peers trying to connect if they have tried to initiate reflexive connectivity before and TURN is the last resort for them to connect. Right now I assume anyone who has the username and password will be able to right away relay traffic, right? Is there a way to only allow "those who need it" that prove it by previously requesting a

[2019-08-18 09:58] plague-doctor opened #430 "VoIP connection issue from LAN (mostly)"
Guys, after days of trying to resolve this issue (all to vain) I need some help/suggestions.
I run matrix synapse server with Coturn for VoIP connections. All would be great except I have a strange and non-deterministic issue with Coturn.

When my mobile phones are not in my LAN (they are away from home) most of a time I can established VoIP connection between them (using Riot). Coturn works as ex

[2019-08-20 14:02] timproegler commented on #385
Hi guys and sorry to bring this up again! Do you still have no news on this topic? We have some clients that really need DSCP markers to be able to prioritize webrtc traffic...

Thanks in advance

[2019-08-21 21:39] localguru commented on #430
Shouldn't the riot clients connect directly if they are in the same LAN? Does your firewall deny direct connection?

[2019-08-22 14:35] 4ydx commented on #426
You might try debian:stretch.  buster recently became the stable version so that might be it.

[2019-08-22 14:46] 4ydx commented on #429
I believe that on the client side if you provide stun as well as turn the stun connection will most likely be given precedence when attempting connections.  If that fails, turn will be used.

A more complex approach would be to try stun only and if there is a failure rely on turn.  Again it is all client side.

[2019-08-23 19:06] maxpavlov commented on #428
I found out that TURN is not an http-based protocol, however, SSL handshake can be be done even on TCP-mode connections in modern load balancers.

[2019-08-23 19:06] #428 closed

[2019-08-24 21:11] cameron-elliott opened #431 "turnutils_uclients .... -y fails on 127.0.0.1, but okay with 192.168.2.1"
running 4.5.1.1 on ubu 1804

this is a mystery that has me scratching my head.

my local default-route ip is 192.168.86.4

WORKS GOOD: lost packets is zero
turnutils_uclient 192.168.86.4 -u user -w pass -n 1 -c -y

FAILS: "0: channel bind: error 403 (Forbidden IP)"
turnutils_uclient 127.0.0.1 -u user -w pass -n 1 -c -y

**Why does this fail on 127.0.0.1, but not 192.168.86.4 ??**

pcap/wireshark

[2019-08-26 13:52] OrangeDog commented on #427
#150

[2019-08-26 14:02] OrangeDog commented on #422
These are perfectly clear

    the timestamp format is just seconds sinse 1970

Technically it should specify 1970-01-01T00:00:00.000Z or "the unix epoch" but it's obviously referring to standard unix timestamps. The literal reading of seconds since 1970-12-31T59:59:59.999Z is unlikely.

    If the value is missed, then it means 'true'.

If the value is omitted, the default value is 'true'.

It is

[2019-08-27 02:12] thachnv92 commented on #426
No change :((

[code]

[2019-08-27 02:13] thachnv92 commented on #426
I change this code as you said, But nothing to change.
Issue is still visible.

[2019-08-28 11:04] sinisabrcina commented on #401
Hello, we have the same problem, did you find a solution maybe?

[2019-08-28 13:09] reschresch opened #432 "mic and camera only works saperate - not together"
Hello,
I try to work with OpenMeetings behind a NAT. I installed Coturn as a Turn-Server.
When I switch on the camera only my clients cann see the video.
When I switch on the microphone (without camera) it works perfectly.
But when I switch on both together nothing appears. No sound, no video, no error in the log.
But when the moderator (who want to stream his sound and video) is in the same Intan

[2019-08-28 15:56] 4ydx commented on #426
You can try replacing the error messages with something like:

apt-get install -y libc6>=2.15 libevent-core-2.0-5>=2.0.10-stable ... (etc)

->

apt-get install -y libc6>=2.15 libevent-core-*  ... (etc)

This may or may not work.  I am not familiar with this projects dependencies.

[2019-08-29 09:01] chenxinlong commented on #409
Any progress here?

[2019-08-31 12:30] n3vu0r opened #433 "Logs mostly empty"
Hello,

I'm trying to debug Nextcloud Talk and coturn. But the coturn logs are always empty except for the start up messages. Does coturn log successful stun and turn connections at all or just certain kinds of errors?

[2019-09-02 12:56] n3vu0r commented on #433
Finally found the `verbose` setting.

[2019-09-02 12:56] #433 closed

[2019-09-04 17:06] zecar opened #434 "videocall only working if at least one device is on wifi"
I've implemented webrtc videocall in a website. I've installed coturn as a turn server and I'm handling other signaling stuff via socket.io On frontend I'm using [SimplePeer](https://github.com/feross/simple-peer).

The problem:

I've tested this between

2 computers on the same wifi -> **working**

2 computers on different wifi -> **working**

one computer and one android phone on the same wifi -

[2019-09-11 07:52] Chandramouli-P opened #435 "Security of STUN server"
Hello,

I am setting up two different servers for STUN and TURN respectively. I understand that we will provide user name and password along with TURN server URL in the application. This provides some security. But, what about STUN server? When we are using STUN server, we are providing only STUN server URL with port number, with out credentials. I haven't seen anywhere that STUN uses user name an

[2019-09-12 03:58] aswathrao opened #436 "Facilitating health check by third parties - A feature request"
Background: It has become standard practice to deploy multiple instances of coturn in AWS cloud and routing client to one of them using AWS Route 53. R53 offers a feature where it performs periodic health checks on these instances and filters out those that are not healthy. The health check is performed by analyzing responses to an HTTP/HTTPS query or trying to establish a TCP connection.

Feature

[2019-09-13 11:58] iiiyx opened #437 "docker: turnserver.conf"
Please help. I don't understand.
What should I put as `extranal-ip` in `turnserver.conf` in case of docker installation?
Or should I manually change it to a host IP after the container started?

[2019-09-13 12:04] iiiyx commented on #437
Also
`COPY turnserver.conf ${INSTALL_PREFIX}/etc`
line is commented in a Dockerfile.
How turnserver.conf does get to the container?

[2019-09-13 17:21] iiiyx commented on #426
@4ydx, thank you! your solution workes! I had exactly the same problem.

[2019-09-14 04:59] kskewes commented on #393
So far I've been able to get `coturn` to run STUN in Kubernetes exposed directly like this:
[code]

For the `ConfigMap` I can't figure out why STUN doesn't work without specifying `Verbose` logging.
I'm not sure all the below settings are required.
[code]

I haven't been able to get `nginx-ingress` to correctly rewrite the client's source IP address and `coturn` always sees `nginx-ingress` pod's I

[2019-09-15 07:32] jookk opened #438 "Not working after reboot"
Im using coturn 4.5.1.1 on debian buster with webrtc app.
I have problem with coturn, because after server reboot cant successfully call to other party behind nat.
I must restart coturn and after that calls working fine.
Can you help me?

My turnserver.conf:

tls-listening-port=5349
external-ip=2xx.xxx.xxx.xxx/192.168.x.x
verbose
fingerprint
use-auth-secret
static-auth-secret=3xxxxxxxxxxxxxxxxxxxx

[2019-09-16 06:34] #393 closed

[2019-09-16 06:41] thomas0713 commented on #393
@kskewes thank you,  I solved this problem by setting this option "externalTrafficPolicy: Local" in stun service. It seems to mean that stun will use the host network which is deployed behind NAT.

[2019-09-17 05:27] Chandramouli-P commented on #435
Hello,

Any update would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2019-09-17 06:18] ankit82330 commented on #332
Hey bradleythughes,

I have commented the stale-nonce, but still call disconnect after 600 sec.

[2019-09-18 08:01] paulvi commented on #435
Please ask on Stackoverflow and share URL here

[2019-09-19 13:00] Chandramouli-P commented on #435
Hello,

Please find the below URL:

**https://softwarerecs.stackexchange.com/questions/69080/security-of-stun-server**

Thank you.

Best Regards,
Chandramouli.

[2019-09-20 01:52] cameron-elliott commented on #438
@jookk turnserver.conf will have no impact on whether turnserver gets restarted after boot, you will probably need to learn about systemd (depending on your platform), and figure out whether scripts were installed depending on your method of installation.
I don't know your platform, but you might try this command: '$ ls /lib/systemd/system/*coturn*'
and try reading up on systemd.

[2019-09-20 04:34] jookk commented on #438
I'm using Debian 10
I post systemd script
Coturn installed from repo by apt.

I tried alpine linux and there it is starting without problem.
Thank You very much.

Dňa 20. septembra 2019 3:52:51 používateľ Cameron Elliott
<notifications@github.com> napísal:

[2019-09-20 04:59] jookk commented on #438
Cat /lib/systemd/system/coturn

[Unit]
Description=coTURN STUN/TURN Server
Documentation=man:coturn(1) man:turnadmin(1) man:turnserver(1)
After=network.target

[Service]
User=turnserver
Group=turnserver
Type=forking
RuntimeDirectory=turnserver
PIDFile=/run/turnserver/turnserver.pid
ExecStart=/usr/bin/turnserver --daemon -c /etc/turnserver.conf --pidfile
/run/turnserver/turnserver.pid
#FixMe: turns

[2019-09-23 09:08] Chandramouli-P commented on #435
Hello,

Any update would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2019-09-24 03:44] feiyue1206 opened #439 "channel_lifetime in conf not working"
I have read the configure file, and change the channel_lifetime, but it does work, the lifetime is 600 however.
![channel_lifetime](https://user-images.githubusercontent.com/4495569/65479602-ada6fd00-dec0-11e9-9c0d-08e548ca6ed2.png)

what is going wrong ? appreciate any advise.

[2019-09-24 06:43] feiyue1206 commented on #439
my configure file is as following:

listening-port=3478
tls-listening-port=5349
verbose
lt-cred-mech
user=111:12345678
channel-lifetime=360
stale-nonce=240
realm=test
log-file=/rrcoturn/logs/turn.log
cert=/rrcoturn/examples/etc/turn_server_cert.pem
pkey=/rrcoturn/examples/etc/turn_server_pkey.pem
mobility
cli-password=1qaz@WSX
no-stdout-log

[2019-09-24 07:54] feiyue1206 opened #440 "does coturn need two public ip ？"
I use coturn and webrtc to establish p2p vedio communication. I install and configure coturn as readme, and it works , both with STUN and TURN.

I do some research on STUN, and find STUN need two public ip. In coturn configure file i does not configure external-ip, so I wonders.
Does coturn need two public ip ? if so, how to configure it ?

https://stackoverflow.com/a/8373718/10058131
the link say

[2019-09-26 02:50] paulvi commented on #435
you should be keeping asking the question,
but breaking it and rephrasing. E.g. separate question for every ? sign.
When you just copy-pasted it into SO, it was not even clear what software you are using,
and what you have tried already.

[2019-09-26 03:26] feiyue1206 commented on #440
I do some test about "aux-server" and "external-ip" in config file.

I set "external-ip" = public ip of host, it works. and i deploy coturn on another machine with different public. all setting are same except  "external-ip". two coturns work fine seperately.  so in one server 1 i set "aux-server"=ip2:3478.

but i does find the port that can work. i try 3478/5349/33478. when i start coturn on serv

[2019-09-26 03:48] feiyue1206 commented on #437
whether external-ip is set, coturn can work within docker.
Remember to redirect ports used in coturn when run container

if external-ip is set to the public ip, then client will get the relay ip with the external-ip.
if external-ip is not set, client will get relay ip with the ip of container

[2019-09-27 05:10] chanduthedev opened #441 "[Error] SQLite connection was closed"
When I run below command, getting this error. Do I need to do any more configuration before running below command? please help.
`turnadmin -a -u adminuser -r admin.org -p admin123`

Thanks in Advance.

[2019-09-27 05:41] chenxinlong commented on #440
rfc 3489 : need 2 public ip to determining the NAT type.
rfc 5389 : it depends on the client's NAT traversal solution.

[2019-09-27 06:08] feiyue1206 commented on #440
so does coturn nedd 2 public ip ? if it need, how to configure it .
thanks

[2019-09-27 06:19] chenxinlong commented on #440
As far as I understand, it depends on the coturn client's NAT traversal solution.

If your turn client only implements the rfc 3489, then your turnserver need 2 public ip. If not, then you may doesn't need 2 public ip.

Sorry I haven't configure 2 public ip.

[2019-09-27 06:26] feiyue1206 commented on #440
what do you mean by coturn client and server ?

In my opinion, coturn works as server, and all users are client.
If so, i cannot decide what type the clients are.

[2019-09-28 10:31] zhoub opened #443 "Need Explanation for the TURN Sessions on Web"
As we know the HTTP page displays the TURN sessions below
[code]

Is there any explanation for these fields ? Thanks !

[2019-09-28 10:42] zhoub opened #444 "Property Way to To Do Relay"
Hi !

We have a question on the TURN sessions.

The Coturn server has multiple users.

WebRTC application A uses **userA** with password, application B uses the **userB** account with different password.

WebRTC application A only uses port **5349**, application B uses both ports **3478 and 5349**.

Now the application A tries to call application B, during the negotiation, we can see the TURN sess

[2019-09-28 13:56] TimoHess commented on #421
Thx. You saved my day.

[2019-09-29 08:20] feiyue1206 commented on #440
adding two public ip of 'listening-ip' in config works for rfc3489

[2019-09-29 08:40] feiyue1206 commented on #444
check whether the signaling server works fine

[2019-09-29 12:08] zhoub commented on #444
The both applications work in LAN, signal server works well.

Both application have the addresses to both Stun and Turn of Coturn.

[2019-09-30 04:51] guanghw commented on #332
I've met the same issue! Is there a solution？

[2019-09-30 06:30] zhoub commented on #444
It works now by disbling stale-nonce, strange.

[2019-09-30 06:30] #444 closed

[2019-09-30 09:39] chanduthedev opened #445 "[Error]Error during key setup"
I am getting below error when running `./examples/scripts/oauth.sh` from examples.
[code]

From this below code snippet from the file src/client/ns_turn_msg.c, it should success. But I am getting error. Please help.
[code]
Thanks in advance.

[2019-10-02 08:34] chanduthedev opened #446 "[OAuth] Third-party authorization (oAuth) is not supported in Mac (OS X)"
I am unable to enable OAuth server in coturn. I have configured all the required properties in conf file, still not able to enable. Below are the details of turnserver.conf file and error logs. Please help.

turnserver.conf
---------------
[code]

Error log:
---------
0: log file opened: /var/tmp/turn_6179_2019-10-02.log
0: Listener address to use: 127.0.0.1
0: WARNING: option --oauth is not suppo

[2019-10-03 14:16] O-Jack opened #447 "Unable to Get ICE TCP Relay Candidate from Coturn Server"
I'm currently trying to set up a TURN server using Coturn on CentOS 7 for a WebRTC application. I'd like for the application to relay over TCP due to the strict firewall settings my organization uses. I'm testing the ICE candidate gathering using the WebRTC Trickle ICE tool (https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/), but the only relay candidate I'm getting back is

[2019-10-03 19:13] thib-ack commented on #431
Hello,

Did you try `--allow-loopback-peers` parameter ?
However keep in mind this parameter creates a security vulnerability, so do not use in production !

Regards,
Thibaut.

[2019-10-04 01:27] chanduthedev commented on #445
We are doing in Mac system(OS X) which is not supporting GCM. After trying all the possibilities, moved to RedHat server and it worked like a charm.  So closing this issue as it got resolved.

Thanks for the help.

[2019-10-04 01:27] #445 closed

[2019-10-04 01:28] chanduthedev commented on #446
Same as issue #445. Moved to RedHat server and issue got resolved.

Thanks for the help.

[2019-10-04 01:28] #446 closed

[2019-10-04 01:33] chanduthedev commented on #441
Resolved this issue. Need to specify db path to this command with --db option. It will create a user in the db.

```turnadmin -a --db /usr/local/var/db/turndb -u adminuser -r admin.org -p admin123 ```

Thanks for your help.

[2019-10-04 01:33] #441 closed

[2019-10-04 11:52] klimentLambevski opened #448 "How to setup coturn for oauth authentication"
I am using the following command to start the turnserver with oAuth authentication

[2019-10-04 20:18] klimentLambevski commented on #448
As I read, actually the browsers don't support credentialType: OAuth. Is there any suggestions for implementing OAuth with WebRTC like proxy trought Nginx proxy where the authentication is made in nginx, and then the data is sent to the TURN server?

[2019-10-06 03:09] DevJhns commented on #434
@zecar, hi have u found anything about this?

[2019-10-10 10:45] chanduthedev commented on #357
Hi @hangocanh2303 , you can use your favorite text editor to modify existing source code.  Please follow below steps to understand the complete flow.

1. Add some debug logs
2. Recompile
3. Install
4. Repeat 1-3 steps until you understand the complete flow.

Happy Coding!!

[2019-10-10 12:07] sampleref opened #450 "coturn setup on machine with 2 network interfaces errors port unreachable"
Hi,

I have installed on COTURN on machine with 2 different network interfaces.

I want to establish a peer-to-peer video stream using webrtc between 2 machines which are on 2 different networks sharing a common single machine with both the network as gateway

![image](https://user-images.githubusercontent.com/8070420/66566011-84a19000-eb81-11e9-8474-c7ffb62a433f.png)

This 2 peers are using exter

[2019-10-10 12:29] fuanegua opened #451 "Coturn not working on raspbian to external Nextcloud"
I would like to use coturn on my Raspberry Pi in my private network for my external Netcloud Talk (installed on hosted webserver).

The coturn server seems to work fine, The ports a forwarded, the DynDNS works fine but Nextcloud Talk can’t use it. And I can’t find the error log to see the problem.

[code]

The coturn status is:

[code]

Where can I find the log files? And what could be the problem

[2019-10-11 03:35] chanduthedev commented on #448
Hi @klimentLambevski , Can you please provide reference link which shows browser not supporting credentialType: OAuth. I am trying Oauth using Browser, not working. But credentialType: Password is working fine.  Please provide if you have any links.

Thanks in advance.

[2019-10-11 06:01] misi commented on #448
Sorry for the late reply!

I am working on the Firefox implementation. I have a working code.
https://bugzilla.mozilla.org/show_bug.cgi?id=1247616
There is a bug in coTURN I also work it.
https://github.com/coturn/coturn/issues/189

Sorry for the silence.
So it is in the pipe..

[2019-10-11 06:55] chanduthedev opened #452 "Cannot find credentials of user"
When I use username/password, coturn server is working fine. But when I use use-auth-secret, getting 'Cannot find credentials of user ' error. Below are my configuration details.

turnserver.conf:
---------------
[code]
Users from DB:
---------------
[code]
Secret from DB:
---------------
[code]

I started coturn server using `turnserver -v`.
Please help me on this.
Thanks in advance.

[2019-10-11 10:52] misi commented on #451
Do you forward all ports?
You need static global ip on turn server side. See external-ip or -X

[2019-10-11 10:58] misi commented on #450
Check the ICE logs on your browsers
firefox
    about:webrtc
chrome
    chrome:webrtc-internals

[2019-10-11 11:00] misi commented on #447
Which browser do you use?

[2019-10-11 11:02] misi commented on #443
Sorry can you please detail your question.
Unfortunately I don't understand it.

[2019-10-11 11:03] misi commented on #440
2 public IP is only required if you want to discover NAT type.

WebRTC don't use this functionality, so I guess you don't need this function.
In general you need only one global IP.

Of course you can use multiple IP to have an IP pool.
You can distinguish client from relay address there could be a use case for two or more IP.

[2019-10-11 11:10] misi commented on #439
Allocation could be renewed..
I don't understand you question, can you please detail it?

[2019-10-11 11:54] misi commented on #357
Happy coding also!
Unfortunately I don't have the resource to help you more.
I am so sorry for the late reply..

[2019-10-11 11:54] #357 closed

[2019-10-11 11:57] misi commented on #434
What Browsers did you use?
Check the ICE logs in your browser:
Firefox
    about:webrtc
Chrome
   chrome:webrtc

[2019-10-11 13:12] fuanegua commented on #451
Thanks for your post!
I use freeDNS with a domain forwarding to the raspi. On the same system a Nextcloudpi is running and accessible from outside via 443/80.
So I opened the ports 5349 and 3478. So it should work as well.

The other Nextcloud I would like to use with coturn comes from outside. I can’t find any error log. Is there a way to test it from outside with error logging?

The thing is, th

[2019-10-11 13:15] misi commented on #451
I don't think it will work with dynamic ip.
You need to specify your external ip in coturn config.

You need to forward media ports too!

You need to see the logs in your browser.
For chrome
- chrome:webrtc-internals
For firefox
- about:webrtc

Read more about ICE protocol

[2019-10-11 13:25] misi commented on #432
So many things can cause this it is impossible to say it. Check your clients log..
For browser chrome:webrtc-internals, about:webrtc (for firefox)

[2019-10-11 13:28] misi commented on #431
Yes it is disabled by default because of the security risk.
Thanks @thib-ack for answering it..

[2019-10-12 02:43] feiyue1206 commented on #440
may you explain this in detail ? giving an example is better

thanks a lot

[2019-10-12 02:44] feiyue1206 commented on #439
i just want to configure the lifetime, without renewing it

[2019-10-12 07:40] sampleref commented on #450
**On Left Hand peer at 10.143.87.64 :

WebRTC ICE logs are as below**
    {
     "time": "10/12/2019, 12:46:31 PM",
     "type": "addIceCandidate",
     "value": "sdpMid: , sdpMLineIndex: 0, candidate: candidate:127 2 UDP 1677722110 192.168.11.138 62055 typ srflx raddr 172.16.0.0 rport 42627"
    },
    {
     "time": "10/12/2019, 12:46:31 PM",
     "type": "addIceCandidate",
     "value": "sdpMid

[2019-10-12 13:38] fuanegua opened #453 "TLS/TCP: errno=98"
I can’t get coturn run on TLS. It seems always trying to use the standard listening-port although it is defined in the turnserver.conf

What’s going wrong? Thanks for any help.

Log:

[code]

turnserver.conf:

[code]

[2019-10-13 00:12] YugiFanGX opened #454 "Coturn does not care about its configuration file"
I am using coturn 4.5.1.1-1.1 and have set up the /etc/turnserver.conf file.
However, restarting coturn does close the default port, nor opens the tls port as I entered.
I also tried to reboot, no workaround.

When killing the process listening on the default port 3478 and launching it again using
` sudo turnserver -c /etc/turnserver.conf` I am able to to get a tls port open.
But still the default

[2019-10-14 05:28] misi commented on #453
Please check if the port is free and no other process listens on it.
Also check wether turnserver is not stuck and running already and
listening on that port, if so kill this stuck process,

Misi

2019. 10. 12. 15:38 keltezéssel, fuanegua írta:

[2019-10-14 05:32] misi commented on #440
Your client connect to x.x.x.x, so turn server ip

But relay address is y.y.y.y, so you will allocate ports on this ip
address. And you will communicate with peers using this IP.

Client ====(x.x.x.x) coTURN (y.y.y.y) ------- Peer

Misi

2019. 10. 12. 4:43 keltezéssel, song írta:

[2019-10-14 05:38] misi commented on #439
Unforutnately I am not sure if it possible.. May some development needed.
Any patch welcomed!

[2019-10-14 06:11] feiyue1206 commented on #440
thanks a lot @misi

[2019-10-14 06:11] #440 closed

[2019-10-14 10:15] fuanegua commented on #453
Port is free. But status of coturn says:

[code]

What does `turnserver[696]: ERROR: Cannot op` mean?

[2019-10-14 10:34] fuanegua commented on #453
Okay, I didn’t change anything. But now it works.

[2019-10-14 10:34] #453 closed

[2019-10-14 15:35] O-Jack commented on #447
I'm using Google Chrome v74

[2019-10-15 05:36] misi commented on #447
Is the same issue with firefox? Can you test it?

[2019-10-15 13:38] O-Jack commented on #447
I've tried using Firefox, and I get the same behavior. After a bit more investigation, it seems like may not be a Coturn configuration issue. Rather, it's that Chrome and Firefox WebRTC clients do not support TCP candidate allocation on a TURN server (https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/I867K4sVQZI).

[2019-10-15 13:42] misi commented on #447
The question is what you want to achieve?
Normally relay servers use UDP between the TURN server and the peer.
If I am correct You set the transport between Client and TURN server to TCP with the transport option.

[2019-10-16 07:46] fatpandaria commented on #426
Does this docker build support MacOs?I got the same error while using the docker-compose.

[2019-10-18 13:39] zecar commented on #434
@DevJhns , @misi

sorry for this long delay.

It seems that RTC connections via 4g/3g networks were using ports outside the default range specified in coturn conf (49152 - 65535)

Opening all ports solved the problem and now it works every time on all browsers including android and ios (on ios only safari works)

[2019-10-18 13:39] #434 closed

[2019-10-22 07:06] sampleref commented on #450
The STUN Binding requests from coturn to 192.168.11.138 should actually have source ip as 192.168.10.15 instead they are sent with source IP 10.144.176.153, to which the peer 192.168.11.138 cannot send a response. So it reports a Failed pair from 192.168.11.138 -> 10.144.176.153.

Not sure why this happens on coturn, wondering if coturn uses any of the single relay ip as source ip on all outgoing

[2019-10-22 07:06] #450 closed

[2019-10-22 09:28] misi commented on #110
I have added a PR to cipherli.st. https://github.com/RaymiiOrg/cipherli.st/pull/110
Any comment warmly welcomed!

[2019-10-22 10:17] #416 closed

[2019-10-23 02:48] ytkang commented on #434
@zecar can you share your running command for coturn turnserver? I have same issue but It is not working after opening all ports for UDP & TCP

[2019-10-23 11:50] ytkang opened #456 "hotspot wifi cannot connect to turn server"
I'm using turnserver_4.5.0.8, and client lib('org.webrtc:google-webrtc:1.0.+)

**Case 1. no problem**
Offer(LTE hotspot wifi connected device) -> <- Answer(WIFI connected device)

=> Always connected well

**Case 2. problem in connection**
Offer(WIFI connected device) -> <- Answer(LTE hotspot wifi connected device)

=> Always iceConnectionState failed.
These are logs of LTE hotspot device's
[code]

[2019-10-23 12:47] vepro-dev commented on #379
This parameter has no effect as far I can see in my tests.

[2019-10-23 16:59] baptx commented on #401
I have the same problem when using latest version (4.5.1.1) of Coturn STUN and TURN server, using the Debian package. The WebRTC video chat always works for one minute and then it stops with the same message `lifetime=0` in `/var/log/syslog`. The problem does not happen when using Google STUN server stun.l.google.com:19302 with Viagenie TURN server http://numb.viagenie.ca/.
I noticed in `/etc/turn

[2019-10-23 17:21] baptx opened #457 "disconnection after one minute"
When using latest version (4.5.1.1) of Coturn STUN and TURN server, using the Debian package on latest Debian 10 GNU/Linux version, a WebRTC webcam chat always works for one minute and then it stops with "allocation timeout" and "lifetime=0" messages in coturn logs. The issue happened on previous versions of Coturn also.

The problem does not happen when using Google STUN server stun.l.google.com:

[2019-10-23 17:36] baptx commented on #401
I have a similar problem with an allocation timeout after one minute but I am not sure if it for the same reason: https://github.com/coturn/coturn/issues/457

[2019-10-24 01:36] ytkang commented on #456
I found problem.
When use --no-auth, it cannot be connected.

[2019-10-24 01:36] #456 closed

[2019-10-24 05:54] misi commented on #379
The TURN url only affects communication on TCP between TURN sever and  TURN client(browser),
but  because web Browsers didn't yet implemented request-transoport ( The attribute REQUESTED-TRANSPORT), so the TURN server and peer (Browser) use UDP.

Open an issue on your browser to support to implement REQUESTED-TRANSPORT TCP to be able the client to allocate a TCP poer on  coTURN server!
The coTURN

[2019-10-24 06:06] misi commented on #457
1. Yes

2.  Realm is needed so please set a realm!

3. Borwser closed the allocation. Set the allocation lifetime to 0. So check your browser logs.
about:webrtc or chrome:webrtc-internals

Oct 23 19:47:28 s1-2-sbg5 turnserver: 383: session 000000000000000008: realm <> user <demo>: incoming packet REFRESH processed, success

[2019-10-24 06:09] misi commented on #454
If it is not stuck then it should work and read config.
Use systemctl to restart it.

[2019-10-24 06:09] #454 closed

[2019-10-24 06:20] misi commented on #438
For me it seems issue solved, though I couldn't fully understood the issue from this limited info.
If you need further help please comment and let me know and I will reopen it.

[2019-10-24 06:38] misi commented on #438
What is in the syslog and coturn log?
This info is not enough to help.

[2019-10-24 12:08] baptx commented on #457
@misi I have set the realm again now. Do you know why the realm is needed? Do we also need a realm if we access the STUN / TURN server from the IP address instead of a domain name? (both ways are failing after 1 minute)
When the connection fails after 1 minute, I can see the message "ICE failed, see about:webrtc for more details" in the web console, so it looks like the problem is from the server,

[2019-10-24 12:43] misi commented on #457
Which firefox version do you use?

You can see in the log above that all turn (relay) candidates are _cancellled_!
So it is clear that not server makes it, but client(browser) cancel the allocation.
We see the same from the server logs.

So  the question is more on why it happens?

If you compare the good working setup what is the difference?

You can see the server refelexive (srflx) is used, but

[2019-10-24 18:10] baptx commented on #457
@misi it looks like the problem is due to Cloudflare reverse-proxy closing inactive connections every 100 seconds:
https://community.cloudflare.com/t/cloudflare-websocket-timeout/5865
The problem can be fixed by doing a ping from the WebSocket server every 30 seconds:
https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers
Thanks for your hint saying that the prob

[2019-10-25 01:45] ytkang opened #458 "Is coturn turnserver supporting group call?"
Is it just for 1:1 call or supporting group call?
if it supports, how many people can be added a group?

is this value TURN_PERMISSION_ARRAY_SIZE the max people per a group?

[2019-10-25 02:17] benbro commented on #458
No, a turn server doesn't do group calls. From [Wikipedia](https://en.wikipedia.org/wiki/Traversal_Using_Relays_around_NAT)

[2019-10-25 03:03] ytkang commented on #458
@benbro thanks

[2019-10-25 03:03] #458 closed

[2019-10-28 09:41] misi commented on #457
I mean realm needed for LTC authentication, and as fallback of course coTURN tries to use an empty string realm if you don't specify any (AFAIR).
I just want to say that it should be set realm according to your domain, to be configured properly and nice and be on the safe side not use empty string realm.

Yes. It is needed even if you use only ip address.

[2019-10-28 10:12] misi commented on #189
Please check and test  branch: fix-oauth

[2019-10-28 10:39] misi commented on #452
Read this:
https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf

If you use REST (shared secret auth) then on Client side
use as username a timestamp,
and as password the hashed username (hashed with shared secret)..

The classic username + password and REST (shared secret auth) can't work on the same time!

[2019-10-28 10:44] baptx commented on #457
@misi ok, in my case the domain name I am using for the website is using Cloudflare reverse-proxy so STUN / TURN is not supported through this domain, that's why I did not add a realm name since I don't have any domain name configured to access Coturn directly. So far, it works great.

[2019-10-28 10:49] misi commented on #457
You can use any kind of string that somehow identify your service domain, so not only domain names could be used. It is only a best practice to use dns domain.
Of course you can use it with default=empty realm, it should also work. (Sorry for the confusion.)

[2019-10-28 10:52] misi commented on #451
I think I answered your questions. No new issue raised so I close it now.
Please let me know if I can help you more in a new issue,
or I can reopen this also if you like.

[2019-10-28 10:52] #451 closed

[2019-10-28 10:54] misi commented on #448
I have added new branch with fixed #189.
Please test  branch https://github.com/coturn/coturn/tree/fix-oauth

[2019-10-28 10:59] misi commented on #448
Please star this issue:
https://bugs.chromium.org/p/webrtc/issues/detail?id=4907

[2019-10-28 11:10] misi commented on #447
This (https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/I867K4sVQZI) explains that WebRTC not implement TCP allocations.
[code]
I think there is no open question left here, so I close it.
Please let me know if you think I should keep it still open, and I will reopen it.

[2019-10-28 11:10] #447 closed

[2019-10-28 11:54] misi commented on #443
See the source code and STUN/TURN RFC, it will help you to explain to understand the fields.
I don't think there is such detailed documentation about these fields.

In nutsell
```turn client(client addr) === (server addr)turn server(relay addr) ----- peer```
* Session ID
turn session internal id
* User
Auth user name
* Realm
Auth realm set on server side used in auth HMAC key creation.
* Origin
Us

[2019-10-28 12:04] misi commented on #436
You can use cli/telnet interface to get session list and info about actual sessions.
Maybe it can be used as workaround until someone send PullRequest with such enhancement.

[2019-10-28 13:45] misi commented on #435
See STUN/TURN RFC

Yes, but it is not implemented in WebRTC.
It is less computing effort needed when you answer a STUN request without auth,
than when you authenticate such request.

[2019-10-28 14:09] misi commented on #431
I think @cameron-elliott your question is answered, so I close this issue now.
Please open a new issue if there is any remaining question. Thanks!

[2019-10-28 14:09] #431 closed

[2019-10-28 15:16] aswathrao commented on #436
As Philipp Hancke pointed out elsewhere that performing health check for TCP connection (like tcp://dn:port) would do the trick. He further opined that regarding capacity limit, over provisioning has worked thus far.

[2019-10-28 15:18] misi commented on #430
401 is as expected only once to get the nonce (to avoid repay attack), but if in the same turn session it is repeated then it is an issue.
See the STUN/TURN rfc for more info or this: https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf

I didn't detect any issue in the config

Check the machine clocks / timezone!
Try to check the shared secret...

[2019-10-28 15:22] misi commented on #426
@fatpandaria can you please retry it with the latest master?
(Sorry for the late reply...)
I think this issue is fixed now..

[2019-10-28 15:30] misi commented on #429
@maxpavlov
We don't have such functionality, and I think this setup needs to store sessions for long time to correlate the stun and the turn sessions. It adds more duty to server and more easy to overload server.
I agree with @4ydx that it is more depends on the client decision.
Of course we can implement in server side but than we need take care for a long time about sessions to be able to correl

[2019-10-29 01:27] paulvi commented on #435
Don't talk about sacrifice security because of computing power,
those words could pass 10-20 years ago.

Now all communication solutions must be secure.
Look the way browsers have changed last 1-2 year.

[2019-10-29 06:39] chanduthedev commented on #452
Thank you @misi for the response. Its working fine after starting the server as `turnserver -v -r example.com --use-auth-secret`.

But earlier it was not working and got 'Cannot find credentials of user' when I started the server `turnserver -v -r example.com --oauth --use-auth-secret`.

Can you please explain why it was not working when oauth, use-auth-secret both options enabled. if this is the

[2019-10-29 07:25] misi commented on #435
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1270514
 *  https://tools.ietf.org/html/rfc5389#section-13
    it states:
[code]

[2019-10-29 07:37] chanduthedev commented on #452
Hi @misi need one more clarification. From the below link pdf
https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf
in page15, it talks about message integrity, in that what is M refers to? I understood everything, except 'M' in that equation. Can you please explain what is M in that message integrity?
[code]

[2019-10-29 07:37] misi commented on #435
All in all in my opinion this is not coTURN issue, and you should open or if already exists star or vote the issue on your browser issue tracker.

[2019-10-29 08:00] misi commented on #452
@chanduthedev
"M" refers to the stun message.

Good point we need to add a warning! These couldn't work in the same time..
* OAuth use SHA1 20 byte secret key
* REST/ use-auth-secret use SHA1(MD5(key)) so MD5 output is 16 byte so SHA1 key is 16 byte

[2019-10-29 08:13] misi commented on #436
It is even better to use turnutils_uclient
See:
- examples/scripts/longtermsecure/secure_tcp_client_c2c_tcp_relay.sh
- examples/scripts/longtermsecure/secure_tls_client_c2c_tcp_relay.sh
- examples/scripts/longtermsecure/secure_udp_c2c.sh

[2019-10-29 08:16] misi commented on #425
@spiderV20 many thanks for reporting it. Can you please try with 4.5.1.1?

[2019-10-29 08:20] misi commented on #415
@localguru Sorry for my late reply..
I am just continue how Oleg started it,
so master is dev branch and we just tag releases.

- 4.5.1.1 is the latest release
- 4.5.1.2 not yet released...

[2019-10-29 08:26] misi commented on #424
@4ydx Sorry for the late reply..
I think it is worth to use it if you have 2 global ipv4(/ipv6) on your local host interface without any NAT!
So change ip and port could be used to determine NAT behavior.
I am not sure but I think the change ip will not work properly in such floating IP environment.

[2019-10-29 08:42] chanduthedev commented on #452
Thank you @misi for the quick reply.  use-auth-secret is working fine with turnutils_uclient utility command `turnutils_uclient -v -y -u chandu -W secret 127.0.0.1`. This command requires username and secret, so its working fine.
Can you please let me know how to use secret key in https://easyrtc.com/docs/  client. I am using easyrtc and want to integrate coturn with easyrtc.

With long term secre

[2019-10-29 09:16] misi commented on #452
You need to pass the shared key to uclient in case of use-auth-secret.
It will generate timestamp to username and password on the fly.

[2019-10-29 09:28] chanduthedev commented on #452
Yes I am passing shared key and it was working fine. My question is configuring `use-auth-secret` option in webrtc client. for the username password, we will do as below
[code]
how to do in case  of  `use-auth-secret` scenario? Is it in the form of below? passing hmac of username and secret as a password?
[code]

[2019-10-29 09:35] misi commented on #452
In case of use-auth-secret for easyrtc you need to generate the
- username(unix timestamp+expiry!): e.g. 1572377576:abcd123
and
- the HMAC(username, shared secret) as password.

[2019-10-29 09:43] chanduthedev commented on #452
Thank you @misi for quick reply. Yes I sent as below. username is `1572435255:chandra` and password as hmac(1572435255:chandra,new-coturn) which is 63d09dae63b43b22d51991dee1a0e5cb.
But still I am getting  below error.
** ERROR: check_stun_auth: Cannot find credentials of user <1572435255:chandra>**

[code]
My username is **1572435255:chandra** and my secret is **new-turn**

Am I missing anything?

[2019-10-29 09:54] misi commented on #452
hmac(1572435255:chandra,**new-coturn**)
vs.
my secret is **new-turn**
```php -r "echo hash_hmac('sha1', '1572435255:chandra', 'new-turn');"```
is
```e7f434aeac00cce79c1a90d7a13e42eee1e87f19```

```php -r "echo hash_hmac('sha1', '1572435255:chandra', 'new-coturn');"```
is
```a290bee54ab09ea4025c290845f0e5bf707147ea```

So
1. check your hash alg that it is sha1.
2. which is your secret new-coturn or

[2019-10-29 10:09] chanduthedev commented on #452
Sorry @misi  It was my bad, secret is  **new-turn**. Please see below command
[code]
And thank you for your commands to find hmac. I was using md5 instead of sha1 earlier.
this time I sent as below. Still getting error. Any clue? I know there is nothing wrong. but I am clueless. So asking for help.
[code]
I started the server as `turnserver -v -r example.com --use-auth-secret` and no error message

[2019-10-30 10:40] jzallimi opened #459 "Turn error 401: Unauthorized"
Please help me

matrix config:
turn_uris: ["turn:chat.trinissoft.com:3478?transport=tcp","turn:chat.trinissoft.com:3478?transport=udp"]
turn_shared_secret: "W85lGGbslu9iHFeUHdH3NfoLp3voXKo8lI7RoUidOV3wiJmk7aZ3mylONrprWK3M"
turn_user_lifetime: "86400000"

turn_allow_guests: True

error:

 session 001000000000000001: realm <chat.trinissoft.com> user <juli>: incoming packet message processed, error 4

[2019-10-30 10:54] misi commented on #459
Hi,

Use either lt-cred-mech (user:password) or use-auth-secret, both
couldn't be used the in the same time.

  * lt-cred-mech
    user=juli:mypassword
  * use-auth-secret
    static-auth-secret=W85lGGbslu9iHFeUHdH3NfoLp3voXKo8lI7RoUidOV3wiJmk7aZ3mylONrprWK3M

Misi

2019. 10. 30. 11:40 keltezéssel, jzallimi írta:

[2019-10-30 11:08] jzallimi commented on #459
When i use to call with 4g :
Call connectiong and nothing happend ???

7: session 001000000000000001: new, realm=<chat.trinissoft.com>, username=<1572519615:@erli:chat>, lifetime=600
7: session 001000000000000001: realm <chat.trinissoft.com> user <1572519615:@erli:chat>: incoming packet ALLOCATE processed, success
8: session 001000000000000001: peer 10.29.12.129 lifetime updated: 300
8: session 00

[2019-10-30 11:43] misi commented on #452
try to make a packet capture.

and debug with
``gdb -p pid``

Add a break point here
https://github.com/coturn/coturn/blob/540ef5fd6e82faad0159ab24e2df92b4701cb62f/src/apps/relay/userdb.c#L535

[2019-10-30 12:19] misi commented on #459
It is up to your client and ICE  decision...
See internals in your browser. Open in new tab ```chrome:webrtc-internals``` or ```about:webrtc``` in firefox

[2019-10-31 03:28] chanduthedev commented on #452
Thank you for the response @misi . I added break point and please see screenshot for that. Please suggest what to do.
<img width="1439" alt="Screenshot 2019-10-31 at 11 22 23 AM" src="https://user-images.githubusercontent.com/6205951/67916525-ef6a4800-fbd0-11e9-8146-fa40098f2fac.png">

FYI, i added lot of print statements to analyze the flow and found that **can_resume** and **postpone_reply** fla

[2019-10-31 10:11] chanduthedev commented on #452
I captured packet and I could not see anything wrong in the stun message as well. Please see attached packet.
<img width="1177" alt="Screenshot 2019-10-31 at 5 57 32 PM" src="https://user-images.githubusercontent.com/6205951/67937322-59521400-fc08-11e9-8428-dd70bd7f2b74.png">

Working scenario:
-----------
When I use uclient to send username and secret, working properly.

Not working scenario:
---

[2019-10-31 10:22] misi commented on #452
How you calculate the timestamp you use in username?
It should be an expiry unix timestamp so actual (unixtimestamp(UTC) + lifetime )
is it = 1572544327 in your case?

[2019-10-31 10:27] chanduthedev commented on #452
1572544327  is future time timestamp, calculated yesterday + three days, it will be valid till tomorrow 1st Nov.

[2019-10-31 10:46] misi commented on #452
Sorry I should check it, and I could realize it earlier that it is a future timestamp.. :(

Can you break here and print out result:
https://github.com/coturn/coturn/blob/540ef5fd6e82faad0159ab24e2df92b4701cb62f/src/apps/relay/userdb.c#L549

And in gdb print out:
[code]

[2019-10-31 10:59] chanduthedev commented on #452
I tried as per your suggestion and please see attached screen shot. Got  **No symbol "turn_time_before" in current context.** errror when I did `p turn_time_before(ts, ctime)` in gdb. After 18 next's also got same error.

<img width="1651" alt="Screenshot 2019-10-31 at 6 56 33 PM" src="https://user-images.githubusercontent.com/6205951/67941324-5a873f00-fc10-11e9-86c6-06c07e156535.png">

[2019-10-31 11:20] misi commented on #452
Ok so timestamp works fine..
If you go to next steps can you share the output..

[2019-10-31 11:35] misi commented on #452
Strange I am getting out of ideas.
You use `static-auth-secret` in config file?
Or you read it from db where in `turn_secret` table where you added realm(example.com), and shared secret?
Which coturn version? 4.5.1.1?

Which browser do you use Strange it should work if timestamp is matched and key and realm is

[2019-10-31 18:27] baptx commented on #457
Thanks for your help, I think we can close the issue.

[2019-10-31 18:27] #457 closed

[2019-11-01 04:09] chanduthedev commented on #452
Hi @misi please see below config details.

**coturn**: Version Coturn-4.5.1.1 'dan Eider'
**Browser**: Chrome (Version 77.0.3865.90 (Official Build) (64-bit))
**Secret Key**: Reading secret key from db table turn_secret table and started the coturn server with command  `turnserver -v -r example.com --use-auth-secret`. Never using conf file.

I use same browser with different tabs for caller and ca

[2019-11-01 15:38] jkman340 opened #460 "ICE Failing 2 Peers using same TURN and restrictive Iptables"
I have an environment where 2 users are using the same TURN server to establish a webrtc connection.  The IPtables rules on the server restrict both inbound and outbound traffic.  Inbound I am allowing UDP 3478 which is my STUN/TURN port.  Outbound I am allowing only establish/related traffic (plus all on loopback).   This is running on Ubuntu 18.04 with coturn 4.5.0.7 from the Ubuntu repo.

Both

[2019-11-03 18:55] maxpavlov commented on #429
@4ydx , @misi thanks for the comments, guys. All makes sense.

[2019-11-03 18:55] #429 closed

[2019-11-04 11:31] chanduthedev commented on #452
Hi @misi , I found one major difference in working scenario and not working scenario.
In working scenario, flow was hitting in file **src/client/ns_turn_msg.c** at line no **1914** where as not working scenario, flow was hitting line no **1912** in the same file. This was basically mismatching message integrity.
    Can you please help me on how message integration was calculated. UIclient is work

[2019-11-05 09:05] chanduthedev commented on #452
Hi @misi finally this issue got resolved, It was working fine now. The problem is that I am passing password value as hmac(username, secret), but we need to pass base64_encode(hmac(username, secret)).

Earlier I was creating a hmac using `echo -n "1573154558:coturn" | openssl dgst -sha1 -hmac secret` and using this value as password which causing message integrity mismatch.

Now I am using below J

[2019-11-05 09:05] #452 closed

[2019-11-06 08:59] misi commented on #460
Do You DROP the packets or REJECT?

[2019-11-06 15:08] jkman340 commented on #460
I have tried both DROP and REJECT will the same outcome, ICE Fails. Thanks!

[2019-11-07 01:52] zhoub commented on #443
Got it, thanks !

[2019-11-07 01:53] #443 closed

[2019-11-07 01:55] zhoub opened #461 "Coturn TURN/STUN Session Log"
Hi !

Is there anybody would like to share some experience that how to extend the coturn to save the log of TURN/STUN to the database ? Does this feature exist now ? Thanks in advance !

[2019-11-07 09:41] misi commented on #461
Use syslog with sql backend..

[2019-11-08 10:07] chanduthedev opened #462 "Which organizations currently using coturn as STUN/TURN server?"
Hi Team,

I would like to know list of organizations which are currently using coturn as their STUN/TURN server.

Thanks,

[2019-11-08 10:14] misi commented on #462
Good question!
I am also wondering who are the main users..

[2019-11-10 12:02] gharia opened #464 "Which is the latest stable release?"
Well, this is not an issue but a question. I was looking for the latest stable release and found the latest tagged version is `4.5.1.1`. But then the wiki page, https://github.com/coturn/coturn/wiki/Downloads, suggests stable release as `4.5.0.8`.

So which one to consider as a stable release. for production?

[2019-11-11 02:07] chanduthedev commented on #462
AFAIK Amazon MayDay was using coturn as their STUN/TURN server. Unfortunately now this feature is not available. Other than this I could not find any organizations who announced that they were using coturn as their STUN/TURN server.

[2019-11-11 06:14] chanduthedev opened #465 "Connection establish between two parties even though coturn credentials are invalid."
Hi @misi I have two issues, Can you please help on this.

**Issue 1:**
I am using  coturn  as STUN/TURN server for our video calls. But the problem was video call established between caller and callee for the **invalid coturn credentials** which was not expected.

**Issue 2:**

Is there any unique identifier(like socket id ) in coturn session if connection established. How coturn identifies the da

[2019-11-11 08:56] berho commented on #438
Same here after upgrading from Debian 9 to 10!

boot.log:
[code]

[code]

syslog:

[code]
but when I start the service manually coturn is working:

[code]

[2019-11-11 08:57] chanduthedev commented on #465
I found below variables in the code. Can you please explain what is the major difference among these three id's.
1. turnsession_id
2. turnserver_id
3. session_id_counter

And when connection established, which of these three id values change and what are those values? And Can we use any of these three id's as unique identifier to identify the connection?

Thanks in advance.

[2019-11-11 10:22] yuhorun opened #467 "Can Coturn be used for peer-to-peer file transfer? Asking for help!!"
I looked for a lot of information, still do not know how to implement. Can you tell me if this is feasible, it is best to provide ideas.
You are my god!
Thanks in advance!

[2019-11-11 11:48] yuhorun commented on #467
I installed Coturn on three computers, one of which is a cloud server.and the other two is peer behind Nat, How to get two Peers in touch to send data?

[2019-11-13 07:07] hoabka opened #468 "How to setup coturn cluster behind AWS Network Load Balancer"
Does anyone setup coturn cluster and it behind an AWS Network Load Balancer?
Any idea/suggestion would be great.
Thank you in advance.

[2019-11-13 22:08] huguesdk opened #469 "set up with dynamic ip address"
is there a way to set up coturn with a dynamic ip address? i would like to use it, but the ip address of my server changes from time to time. when this happens, the dns entry of the server is updated.

i was thinking of using the domain name of my server in the configuration file, but apparently, only ip addresses are supported.

what would be the recommended way to go about this?

[2019-11-14 03:41] chanduthedev commented on #462
I found that below are using coturn as their STUN/TURN servers.
 - Confrere (https://confrere.com/)
 - Whereby (https://whereby.com/) formerly appear.in
<br>
However there is no official announcement regarding coturn as their STUN/TURN server. So  I am not 100% sure that this.  And @bradleythughes  was using coturn when he was working appear.in and he mentioned in #328. So I am assuming appear.in

[2019-11-15 11:42] odo2063 commented on #469
/bin/turny.sh
[code]
/bin/turny_off.sh
[code]

crontab -e(as root, reset ex-ip @3:05a.m. shortly after reconnect of router):
[code]

don't forget to `chmod +x` for the *.sh

I implemented that for me today test is "to be done"...

[2019-11-16 17:05] Neustradamus commented on #331
@misi: Any news on it?

[2019-11-18 13:23] Neustradamus commented on #155
@misi: There are new other changes too, can you look?

Linked to: https://github.com/coturn/coturn/issues/331

[2019-11-21 07:29] abdularis commented on #468
You may use client load balancing by randomly select available server URLs given by your app server

[2019-11-26 20:41] kevinhartman commented on #273
@misi, is this already resolved? I see a `docker` folder in the repo root.

It's somewhat unclear how to build it, unfortunately. The instructions mention the need to perform manual steps such as running some copy file script as well as editing `turnserver.cfg` which doesn't seem to exist.

Perhaps an official build of this image could be published to DockerHub along with each version release? Reg

[2019-12-02 18:23] RyanHoldren opened #473 "TLS Certificate Invalid for Coturn.net"
Something has changed in the last few days and your TLS certificate for [coturn.net](https://coturn.net/turnserver/) is no longer valid.

[2019-12-03 06:53] misi commented on #473
I wrote Oleg an email about it, and asked his help. Thanks for reporting it.

[2019-12-03 09:45] misi commented on #464
4.5.1.1 is the latest stable release. Sorry for the confusion.

[2019-12-03 10:08] misi commented on #469
By design Turn servers need to work in core of the networks, not in SOHO envs.
I don't think there is actually a way for that in coTURN.
Only if you restart your server and change ip address every time your ip change. :-(

[2019-12-03 10:09] misi commented on #468
Unfortunately I am not familiar with AWS loadbalancing capabilities.

[2019-12-03 10:51] gharia commented on #464
No problem. Thanks @misi

[2019-12-03 10:51] #464 closed

[2019-12-04 02:57] chenxinlong opened #474 "support export metrics to prometheus"
Hi, will you consider supporting export metrics to Prometheus?

[2019-12-04 08:53] #459 closed

[2019-12-04 12:26] misi commented on #474
It would be great to add this feature. Any help would be appreciated..

[2019-12-04 13:23] xml4cn commented on #441
turnadmin -a --db /usr/local/var/db/turndb -u adminuser -r admin.org -p admin123
0: log file opened: /var/tmp/turn_17088_2019-12-04.log
0: SQLite connection was closed.

[2019-12-05 19:10] expressrussian commented on #33
I think i have NO TLS listener started because i only see 2 ports open: 3478 and 3479.
tls-listening-port is not commented, and no-tls is commented out.
How to enable the other 2 TLS ports?

[2019-12-07 15:11] MichaIng commented on #33
@expressrussian
Not sure. The service or binary log should show which listener was started, e.g.:
[code]
or
[code]

[2019-12-09 04:49] #438 closed

[2019-12-09 11:45] expressrussian commented on #268
Ubuntu 19.10 - i have the same error.
No spaces in config.
User turnserver/turnserver
-rw-r--r-- 1 root root 3562 Oct 12 20:18 fullchain5.pem
lrwxrwxrwx 1 root root   38 Oct 12 20:18 fullchain.pem -> ../../archive/domain.eu/fullchain5.pem

The files should be readable by anybody! Why coturn cannot read available files???

[2019-12-12 10:00] shakingWaves commented on #21
#listening-device=eth0
listening-ip=xxx
#relay-device=eth0
relay-ip=yyy
configure as this may work!

[2019-12-13 06:56] raksonibs opened #476 "WebRTC Behind Mobile VPN"
Hey There,

I've been using this turn server to relay connections using ICE and TCP, but have recently found that mobile users on Safari using Cloudflare's 1.1.1.1 mobile VPN are blocked from viewing the webRTC video streams.

In my coturn server I can see the appropriate logs, but I don't see the stream itself:
[code]

Currently my turn config is the default configuration, with only the realm bei

[2019-12-13 07:13] raksonibs commented on #476
I've tried hammering down which config might be causing issues around the vpn, and made the simple config:
[code]

This config file, run by `sudo turnserver -c /etc/turnserver.conf -v` creates similar allocate messages:
[code]

I imagine one of my configs is off, I am just unaware which it is to make Cloudflare's VPN on mobile work. Anyone have any pointers here?

[2019-12-13 08:18] ArtemisMucaj commented on #476
Hey, have you tried using port 443 ?

Maybe Cloudflare drops STUN/TURN packets in order to avoid large bandwidth usage, which they might not do with traffic to 443 ports as it's most likely encrypted data.

[2019-12-13 18:40] raksonibs commented on #476
I am now using port 443 with valid certs, resulting in a config that looks something like this:
[code]

However still, cannot get around this vpn on an iphone via webRTC. I must be doing something wrong, because trickleICE has the correct candidates gathered.

Is there an example coturn over SSL live that I could try plugging into momentarily, or perhaps someone has a working config they can lend

[2019-12-17 23:41] CoreyCole commented on #444
@zhoub I'm having problems with relay as well. I'm using the coturn-4.5.0.6 AWS EC2 AMI ami-908316f0.

I'm trying to connect two phone on different LTE networks (T-mobile and AT&T). It is working when one device is on Wifi and the other is on LTE, but when both devices are on LTE they don't connect. I'm guessing this is to do with relay because T-mobile seems to block direct peer-to-peer connectio

[2019-12-18 00:06] CoreyCole commented on #399
You can do this in the url I believe:
[code]

[2019-12-18 00:22] CoreyCole commented on #206
@msisi I'm using the amazon linux EC2 coturn-4.5.0.6 - ami-908316f0 and I think I am also having problems with relay. I'm able to connect my two phones on the same Wifi subnet and when one is on Wifi and the other is on LTE.

But, I'm not able to connect the two phones when both are on LTE (one t-mobile and the other at&t). I'm not sure about this hairpinning. I don't think my EC2 is behind a NAT,

[2019-12-18 09:07] zhoub commented on #444
Yes, used the default port number as STUN and TURN, then it worked.

On Wed, Dec 18, 2019 at 8:41 AM Corey Cole <notifications@github.com> wrote:

[2019-12-19 15:34] creimers opened #477 "Docker networking question"
Please bear with me. I'm an experienced web dev, but total a WebRTC novice and by no means an expert on networking.

My question is about the network setup in docker-compose, e.g. [docker-compose-redis.yml](https://github.com/coturn/coturn/blob/master/docker/docker-compose-redis.yml).

Can someone elaborate on the networking setup? Why do I need this ipam entry?

[2019-12-20 01:48] NorseGaud commented on #477
This helped me a lot: https://blogs.infoblox.com/community/how-docker-networking-works-and-the-importance-of-ipam/

[2019-12-23 22:56] creimers commented on #477
@NorseGaud ad Thanks for the link. Very interesting indeed.

Let's say I had a coturn instance up and running on premise with exactly this [docker-compose file](https://github.com/coturn/coturn/blob/master/docker/docker-compose-redis.yml), how would I configure my `iceServers` for the `RTCPeerConnection`?

[code]

Just like this more or less?

[2019-12-24 10:20] rvo337 opened #480 "failed connection — TLS/TCP socket buffer operation error (callback)"
I faced with a problem that a client (one of the participants in the call) may suddenly lose the connection. The client uses a mobile network.

Server Configuration:
- Coturn server v4.5.0.3
- Janus webrtc server v0.7.6

All calls use a TURN server that listens on port 443 and accepts only TLS connections. Using the TLS protocol is a necessary measure, otherwise the outgoing UDP traffic from the c

[2019-12-24 13:01] rvo337 commented on #480
Shortly before the "TLS / TCP socket buffer operation error" error, an "incoming packet REFRESH processed, success" happened.
Records from log:

`164273: session 009000000000000028: refreshed, realm=<domain>, username=<1577189233:uid>, lifetime=0, cipher=ECDHE-RSA-AES256-GCM-SHA384, method=TLSv1.2
164273: session 009000000000000028: realm <domain> user <1577189233:uid>: incoming packet REFRESH pro

[2020-01-01 23:19] dutchakdev commented on #480
+1

[2020-01-02 17:16] fadenb commented on #389
Any news on this issue?
Anything I can do to help debug/fix it?

[2020-01-06 14:43] olivierb2 opened #483 "Unable to relay over Microsoft Direct Access"
Hi everybody,

Does anybody already has a working coturn configuration with Microsoft Direct Access ? I'm currently running a coTurn server with permission to relay audio and video flux through authentication and this relay is working perfectly but not when client are connected over Direct Access.

Negotiation on port 3478 seems good, but client is forced to use relay mode. Negotiation seems to re

[2020-01-10 09:05] creimers commented on #477
I ended up accessing the stun server running in docker like this:

`stun:<HOST_IP>:3478`

[2020-01-10 09:05] #477 closed

[2020-01-14 15:44] marcoippolito opened #484 "permission denied for table allowed_peer_ip"
In order to understand Coturn, and how to use it with Postgresql-11,
I created the postgresql-11 dabatase using /usr/local/share/turnserver/schema.sql

    CREATE TABLE turnusers_lt (
        realm varchar(127) default '',
        name varchar(512),
        hmackey char(128),
        PRIMARY KEY (realm,name)
    );

    CREATE TABLE turn_secret (
            realm varchar(127) default '',

[2020-01-14 17:11] marcoippolito commented on #484
Solved...
I feel ashamed for such silly mistake...

I modified the ownership of the database's tables:

    coturn=# \dt
                   List of relations
     Schema |         Name         | Type  | Owner
    --------+----------------------+-------+-------
     public | admin_user           | table | turn
     public | allowed_peer_ip      | table | turn
     public | denied_peer_ip       | ta

[2020-01-14 17:11] #484 closed

[2020-01-18 23:01] jdwalker opened #485 "Loadbalancing multiple TURN servers - Round robin DNS option"
I've been looking at [the wiki for loadbalancing](https://github.com/coturn/coturn/wiki/TURN-Performance-and-Load-Balance) and for multiple systems it states:

But how would this work if client A gets the ip of TURN server B, and client C gets the ip of TURN server D - their ICE candidates will be different, right? So how do they connect? How would authentication work even if they can agree on a T

[2020-01-21 00:02] loxK opened #486 "Coturn, Nextcloud, Dnat: error 401: Unauthorized"
I want to use coturn with port forwarding to it. I run the coturn version bundled with Ubuntu 18.04: version 4.5.0.7-1ubuntu2.18.04.1

I have a firewall before coturn and thus need to forward ports.

The nat rules in the firewall are as followed:
[code]
[code]
The coturn config is:

[code]

The resulting logs when trying to connect from nextcloud:

[code]

What am I doing wrong ?

[2020-01-24 05:02] dwin commented on #485
You can use a shared database such as MySQL so that auth credentials would be shared.

[2020-01-24 08:18] jdwalker commented on #485
Sorry, I didn't mean authentication, I meant the webrtc connection - how do we go through A -> B -> C -> D?

[2020-01-24 09:46] ArtemisMucaj commented on #485
Hi,

To make it simple clients don't need to be connected to the same instance of *coturn* to communicate; the relay IP address obtained by each client is exchanged through your signaling servers.

For example we have two *coturn* instances *s0* and *s1* and two clients *A*, *B*.

*A* obtains a relay address *ip0* from *s0*
*B* obtains a relay address *ip1* from *s1*

These candidates are exchange

[2020-01-24 09:48] jdwalker commented on #485
Ah I think I understand - so the turn server is acting as a proxy - I was assuming there was a man in the middle relay.

Thanks for your help!

[2020-01-24 09:48] #485 closed

[2020-01-25 04:04] RSATom commented on #402
Can you please clarify why this issue still not closed. If I understand correctly patch for reload certs by SIGUSR2 already merged. Is there still some issues with certs reload?

[2020-01-30 10:28] r-coh commented on #137
Same problem, running Postgres version 9.2.24 and turnserver 4.5.0.8..

[2020-01-30 14:06] khalifa1981 opened #487 "psd command not working"
I am trying to dump output of ps to file using command : `psd test.txt` , and error "Cannot open file for writing" is display.

I am using version "Coturn-4.5.1.1"

Thanks

[2020-02-05 06:40] YY030913 commented on #122
$sw_vers
ProductName:	Mac OS X
ProductVersion:	10.14.6
BuildVersion:	18G2022

~/.bash_profile
export LDFLAGS="-L/usr/local/opt/openssl\@1.1/lib"
export CPPFLAGS="-I/usr/local/opt/openssl\@1.1/include"

$ echo $LDFLAGS
-L/usr/local/opt/openssl\@1.1/lib

$ echo $CPPFLAGS
-I/usr/local/opt/openssl\@1.1/include

when run
$ ./configure
still error
ERROR: OpenSSL Crypto development libraries are not inst

[2020-02-11 17:20] CiscoTalos opened #489 "Talos Security Advisory for CoTurn (TALOS-2020-0984, 0985)"
Hello,
The Cisco Talos team found security vulnerabilities affecting CoTurn. As this is a sensitive security issue, please provide an email along with PGP or mark this issue as private to receive the advisory report and details.

For further information about the Cisco Vendor Vulnerability Reporting and Disclosure Policy please refer to this document which also links to our public PGP key. https:/

[2020-02-12 08:24] misi commented on #489
email: misi@majd.eu
pgp:
[0x772DA61C07A354B2.asc.tar.gz](https://github.com/coturn/coturn/files/4190642/0x772DA61C07A354B2.asc.tar.gz)

[2020-02-12 09:01] misi commented on #487
try to write to a location where you have right to write. e.g. /tmp

[2020-02-12 14:27] CiscoTalos commented on #489
Thanks. Copy of report sent.

[2020-02-14 10:15] sandeep5193 opened #490 "process terminated with SIGABRT"
OS: Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-1057-aws x86_64)
Coturn version: 4.5.0.7-1ubuntu2.18.04.1

here is backtrace collected from CoreDump generated through apport:

0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
1  0x00007f93c6e89801 in __GI_abort () at abort.c:79
2  0x00007f93c6ed2897 in __libc_message (action=action@entry=do_abort, fmt=fmt@entry=0x7f93c6fffb9a "%s\n

[2020-02-14 11:21] misi commented on #490
Please upgrade to 4.5.1.1 and retest it..
Thanks!

[2020-02-15 05:38] sandeep5193 commented on #490
now we got SIGSEGV on another machine, same OS and Coturn version as  previous.

Program terminated with signal SIGSEGV, Segmentation fault.

0  0x00007f096e4cd947 in BIO_ctrl () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
1  0x00007f096e4cb535 in ?? () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
2  0x00007f096e4cd949 in BIO_ctrl () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
3  0x0000

[2020-02-15 13:11] #462 closed

[2020-02-15 14:20] NoobKeksTV opened #491 "After Restarting Server not able to bind to adress"
Hi there,

After i restarted my Debian 10 (buster) server im not able to start my turnserver. it always spams this error:
Cannot bind local socket to addr: Address already in use
0: Cannot bind TLS/TCP listener socket to addr 194.59.207.61:3479
0: Trying to bind TLS/TCP listener socket to addr 194.59.207.61:3479, again...
bind: Address already in use
0: Trying to bind fd 35 to <194.59.207.61:3479>

[2020-02-16 11:01] raccoonback commented on #486
Isn't this the same issue?
with: https://github.com/coturn/coturn/issues/459#issuecomment-547844254

[2020-02-16 22:11] xthursdayx commented on #430
This issue is a bit old now, but I just wanted to mention that I've found the same issue with Riot being unable to make VoIP calls (via Coturn) if I am am connected to my home LAN.

[2020-02-16 23:42] xthursdayx opened #492 "Coturn Docker error - socket: Protocol not supported"
Hi all, after spending a week trying in vain to figure out what my problem is, I'm hoping that I can get some help and suggestions from you all.

I am running Cotrun in a docker container in order to facilitate VoIP connections for my Matrix Synapse Homeserver. Coturn seems to work most of the time (unless I am on my home network - see issue #430 ) However, my docker system log is currently fillin

[2020-02-17 07:01] misi commented on #492
Check the ICE connection logs in your browser during the failed connection...

e.g. about:webrtc in firefox and chrome://webrtc-internals
See more in https://misi.github.io/webrtc-c0d3l4b/

[2020-02-17 11:23] sandeep5193 commented on #490
1st backtrace I shared looks very similar to #257 , I have installed 4.5.1.1 on a new server, will observe it.

Any thoughts on 2nd trace I shared?

[2020-02-17 15:20] xthursdayx commented on #492
I’m usually using a Riot mobile app when not on my local LAN, so I’m not sure if I’ll be able to check the logs. I’ll take my laptop somewhere else though and call via Firefox to see if it fails to connect so that I can check the logs.

In the mean time, do you know what the `socket: Protocol not supported` error might be about?

[2020-02-19 04:18] ancin commented on #297
I have the same problem. Do you have any idea? this authorize from config file or DB table?
I configed the user and pswd,like this pattern user11:paswd..

Thanks.

[2020-02-19 05:31] raccoonback opened #493 "Short-Term Authentication base on REST API (Error 401: Unauthorized)"
Hi, I am building a turn server using coturn.

I want to use short-term authentication base on REST API belong to https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf.

However, I'm struggling with error issues about "incoming packet message processed, error 401: Unauthorized".

Our project set up turnserver.conf as shown below.

[code]

The database is MongoDB (version 3.6) and has

[2020-02-19 05:35] raccoonback commented on #493
**username and credential** were applied identically to https://stackoverflow.com/questions/35766382/coturn-how-to-use-turn-rest-api.

[code]

[2020-02-19 05:40] raccoonback commented on #493
@misi, I've looked up a lot of issues with this error, but haven't found a solution yet. Help...;

[2020-02-19 06:27] raccoonback commented on #493
Also, I also stored the **shared secret key** in MongoDB.

### turn_secret

![image](https://user-images.githubusercontent.com/16451031/74807632-42a50980-532c-11ea-8097-1e3e86b620e1.png)

### trunuser_lt

![image](https://user-images.githubusercontent.com/16451031/74807573-26a16800-532c-11ea-8f11-f339e719040e.png)

### realm

![image](https://user-images.githubusercontent.com/16451031/74807591-2e6

[2020-02-19 06:30] raccoonback commented on #493
And, MongoDB is connected.

![image](https://user-images.githubusercontent.com/16451031/74807795-b21af900-532c-11ea-83e1-88ae6fca0452.png)

[2020-02-19 06:33] raccoonback commented on #493
@misi, I've looked up a lot of issues with this error, but haven't found a solution yet.

**Help**...;

[2020-02-19 06:44] misi commented on #493
Today will be my colleague memorial service, but tomorrow I will try to help. Thanks for your patience..

[2020-02-19 06:51] raccoonback commented on #493
@misi
Ok. Thanks for the quick reply!

[2020-02-19 07:17] misi commented on #489
quarkslab reported both of these issues back in 2018-12-17
Cisco 8 days ago reported again the following issues
Many Thanks to both reporter!

Fixes in master branch.
Will be included in the next release 4.5.1.2.
More info:
- CVE-2020-6062  / TALOS-2020-0985
- CVE-2020-6061 / TALOS-2020-0984

[2020-02-19 07:18] #489 closed

[2020-02-19 07:21] misi commented on #483
Sorry I don't have any experience w2ith ms direct access.
I don't yet understand your problem.
When should TURN return domain name? Can you please send a dump with explanation?
Please check what is in RFC and what you expect. If RFC allows such behavior please send PR and I will include it.

[2020-02-19 08:06] olivierb2 commented on #483
Basically, DirectAccess client cannot communicate to host with its IP address. By example, doing "ping 8.8.8.8" will never work while doing "ping google.com" will work.
While CoTurn negociation seems fine, the result is not usable because it's based on IP adresses. The RFC describes this behavior here : https://tools.ietf.org/html/rfc5766#section-5
I guess there is nothing to do with CoTurn in fac

[2020-02-19 08:06] #483 closed

[2020-02-20 13:16] misi commented on #493
Please check the reverse the order of timestamp and username:
username: 'ninefingers:1582164948',
name: ninefingers:1582164948

But in
https://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00
https://github.com/coturn/coturn/blob/master/README.turnserver
username: timestamp:username

I hope it helps

[2020-02-20 13:18] khaldounaldanafcbs opened #494 "Using coTurn TCP allocations with DataChannel webRTC client"
I have configured a coturn server which I need to use with DataChannel for a chat app.

I am trying to reach a point where I can get the coturn server provide me with a tcp allocation.

I am using the standard call of RTCPeerConnection in JS client, providing the turn URI, username and credentials.

The transport I am providing in the URI params is TCP ?transport=tcp.

With all this, I am always r

[2020-02-20 13:19] misi commented on #492
No unfortunately not..

[2020-02-20 13:30] misi commented on #494
Be aware that maybe not all browser implemented TURN+TCP relaying.

[2020-02-20 13:32] khaldounaldanafcbs commented on #494
- Is there a list of browsers that implemented the TURN+TCP relaying?
- What about the implementation with webRTC to retrieve the TCP allocation on the TURN server? Any idea how to achieve this?

[2020-02-20 13:36] misi commented on #491
Check stuck turnserver instance or busy ports with `netstat -lnp`.
I use debain 10 and I don't experience this issue.
It seems some ports are busy.
Try to stop, killall instance, and wait few seconds before starting it again.

[2020-02-20 14:30] misi commented on #494
Try to check in browser implementation
I don't know the actual status..

[2020-02-20 14:33] joshsavage opened #495 "coturn doesn't buffer data sent between tcp connection attempt and bind"
According to [RFC6062 section 5.3](https://tools.ietf.org/html/rfc6062#section-5.3) on receiving a TCP Connection on a Relayed Transport Address the server MUST buffer any data received from the peer. Presumably, this should be sent to the client after the Connection Bind however this doesn't seem like the case. In my testing I've found that all data sent from the peer to the client before the Con

[2020-02-20 21:04] ZockerBoysHD commented on #491
there are no processes / instances of the turnserver running at all.

[2020-02-21 10:53] feutl opened #496 "Let's Encrypt symlinks do not work with coturn"
I am running `coturn` on my [NCP](https://github.com/nextcloud/nextcloudpi) with Debian, but coturn has issues with the created symlinks in `letsencrypt/live/domain` pointing to the `archive/domain` folder.
[code]
The error I get
[code]

My workaround is, putting the files from the archive back to the `live/domain` directory and rename them so the fit what coturn configuration. After this the serv

[2020-02-21 11:40] misi commented on #496
@feutl
If you like you can run coturn with root user right.
But strongly discouraged, because it decrease security a lot.

Make post script in letstencrypt hook thats copy cert after renewal and after send a signal to coturn to reload the certs.

[2020-02-21 13:02] khaldounaldanafcbs commented on #494
Is this answer for my first or second question?

[2020-02-21 13:05] misi commented on #495
Many Thanks for the report!
Please send a Pull Request with the proposed changes and I will merge it.

[2020-02-21 16:14] feutl commented on #496
@misi
Thanks, but I would prefer not to use any of your options. The first one, using root is just not ok at all, this tampers security - as you said yourself.
The second, with an hook is also quite error prone, because with every renewal a new file is being created in the archive folder and referenced within live, and getting this script working correctly could be quite an effort - I must assume.

[2020-02-22 11:56] simon-india opened #497 "alt-listening-port & alt-tls-listening-port is not working."
[code]

In my config I want the server to listen on four ports 80,443,3478 and 5349. But its not listening on alternate ports and my question is if I add an extra public IP to my instance will be listening on both external IP's on all four ports.

[2020-02-24 00:07] raccoonback commented on #493
@misi
Sorry for the late reply. And Thanks for the help!

I did as you told me. Nevertheless, the result is the same as before. 😭😭😭

🙋‍♂🙋‍♂🙋‍♂
Does short term authentication work like a long term with timeouts? In other words, is it correct to receive a 401 error at least once?

Adding the tcp option causes the browser to resend the 'Allocate Request' with 'realm, nonce, message-integrity' after r

[2020-02-24 00:24] raccoonback commented on #493
### Case tcp option

![image](https://user-images.githubusercontent.com/16451031/75122956-932eb500-56e6-11ea-91d9-efa38ee18dfe.png)

### Case udp option

![image](https://user-images.githubusercontent.com/16451031/75122986-d6892380-56e6-11ea-94ee-2980b83c69d4.png)

In the case of udp, after a 401 error, the **'Binding Request'** is executed without requesting the **'Allocate request'** again.

[2020-02-24 06:49] misi commented on #497
Which user right you run coturn? Does this user has right to listen n a well known port range ( <1024)?

[2020-02-24 08:47] misi commented on #496
Please send a Pull Request with the proposed changes and I will review and apply it.
Unfortunately I am not familiar how the other mentioned sw-s do this, but if you can help and make a patch it would be so great!

Thanks in advance!

[2020-02-24 08:49] misi commented on #494
I know that ICE + TCP is implemented in firefox.
But this is not equivalent to TURN + TCP.
Check it in the source code of the browser.

[2020-02-24 08:51] misi commented on #493
@raccoonback

401 for the first time is the expected behaviour. In this 401 you will get the "NONCE". So for the first time it is absolutely normal to get 401.

[2020-02-24 08:54] feutl commented on #496
Sorry I am not a DEV, I am more a system administrator and just made some tests to figure this out.

[2020-02-24 08:55] loxK commented on #486
The issue was, with my setup, it was responding on another interface with a different IP ....

[2020-02-24 08:55] #486 closed

[2020-02-24 09:14] misi commented on #496
Few years ago I said the same. ;-) Unfortunately I don't have the time for it.
You need to learn little bit and after I pretty sure you can do it.
If you need this really please help in it!

[2020-02-24 09:16] misi commented on #493
You use "short term credential" wrong, it is only used in ICE,
so You use "Long Term Credential" in your scenario..

[2020-02-24 10:21] VolodyaIvanets commented on #361
I was trying to start turnserver v4.5.1.1 with **no-cli** option but got same error message:
[code]

[2020-02-24 11:34] gydovrowl opened #498 "Unexpected userdb reset"
We have experienced a very strange issue where all users suddenly disappeared from the turn server.

Client has an Ubuntu server (18.04 LTS) with coturn installed via apt (installation took place somewhere around december 2018). This server has been running ever since. Everything worked as intended until the start of this year or even the end of last year.
The client started to experience intermit

[2020-02-24 18:52] pedubreuil commented on #249
Any update about this issue?
Thank you in advance

[2020-02-25 05:32] simon-india commented on #497
![image](https://user-images.githubusercontent.com/23007053/75217858-4b7b5c80-57be-11ea-9239-238fa6b7fa93.png)
It is running as root.

[2020-02-25 05:54] simon-india commented on #497
Also the config is changed to have listening on 80 and 433 as primary and 3478, 5349 as alternative and still its only listening in primary not alternative

[code]
![image](https://user-images.githubusercontent.com/23007053/75218845-42d85580-57c1-11ea-985a-19210232f265.png)
![image](https://user-images.githubusercontent.com/23007053/75218884-5683bc00-57c1-11ea-8b39-56805caa99c6.png)

[2020-02-25 06:09] simon-india commented on #497
@misi Thanks for replying and caring for a stranger. I just read the documentation in again in clear mind and found that I needed to add the below snippet to make it listen in alternate ports. I hope it would help someone.

[code]
**Ports listening as expected**
![image](https://user-images.githubusercontent.com/23007053/75219683-72885d00-57c3-11ea-9ed8-1127af855fd3.png)

[2020-02-25 06:10] #497 closed

[2020-02-25 09:52] feutl commented on #496
Ok, I will give it a try, but this is going to be a very very steep learning curve.

Can you give me a hint, which files are responsible for fetching the config parameters and taking care of getting the path information for the cert files.

Thx

[2020-02-26 03:03] raccoonback commented on #493
I understand... 😀

Your help has been a lot. Thank you!

[2020-02-26 03:03] #493 closed

[2020-02-26 11:10] guedou opened #499 "Talso vulnerabilities & 4.5.1.2 ?"
Hi,

Thank you for your awesome work on coturn.

Could you consider releasing version 4.5.1.2 by applying the two commits that fixes the issues?

Guillaume

[2020-02-26 17:37] sandeep5193 commented on #490
one more SIGSEGV, on 4.5.0.7.

Program terminated with signal SIGSEGV, Segmentation fault.
0  0x00007f5fa263ef69 in EVP_MD_CTX_copy_ex () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
1  0x00007f5fa26582fd in HMAC_Final () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
2  0x00007f5fa26585ef in HMAC () from /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1
3  0x000055bf370358db in ?? ()
4  0x000055bf37

[2020-02-27 13:58] hangocanh2303 opened #500 "[Bug] Wrong nonce after Allocate Request UDP with nonce"
Hi,
Here is the result when authenticate with coturn, capture by wireshark
Client send right nonce to server after 401 error code but coturn return wrong nonce

![image](https://user-images.githubusercontent.com/19758537/75451590-6529c900-59a3-11ea-9437-5fa47d3317e1.png)
![image](https://user-images.githubusercontent.com/19758537/75451642-7a065c80-59a3-11ea-9400-38a0d205f135.png)
![image](https://

[2020-02-28 15:55] saadat-atta-brainx opened #501 "Coturn is sending my private IP in headers rather than public header. How to fix this?"
a=ice-pwd:04d5c0ff4b36109251581fd81db16c83
a=candidate:Hac1f15e7 1 UDP 2130706431 172.31.21.231 11028 typ host
a=candidate:Hac1f15e7 2 UDP 2130706430 172.31.21.231 11029 typ host

[2020-03-01 15:33] wyudong opened #502 "SQLite connection was always closed after killing the process"
I accidentally kill the turnserver process on ubuntu and now when I run **turnadmin -L**, it shows "SQLite connection was closed". How can I re-open SQLite connection then?

[code]

[2020-03-02 06:25] misi commented on #361
Thanks @VolodyaIvanets!
Can you please open a new issue send a PR.
I am busy with other stuff. So sorry..
Thanks.

[2020-03-02 10:43] misi commented on #500
@hangocanh2303
The udp source port is changed and I think this causing that other nonce is used.
Compare packages in your capture:
Good - Source UDP port does not change: 1564,1565,1566,1567 (port: 57023)
Bad -Source UDP port change: 1824,1825 (port:40630),   1851,1852 (port: 46701)

[2020-03-02 11:31] sandeep5193 commented on #490
as suggested by @misi we have upgraded all servers to 4.5.1.1. closing this issue, will open a new one if it occurs in 4.5.1.1.

[2020-03-02 11:31] #490 closed

[2020-03-03 07:26] cameron-elliott commented on #377
Hey @misi , just want to confirm that the Origin support is basically dead?

Is the Origin feature implemented in the coturn head, or removed?

If Origin support is removed or disabled, do these documents need to have the Origin mentions fixed?

https://github.com/coturn/coturn/wiki/turnserver
https://github.com/coturn/coturn/wiki/diff2projects

[2020-03-03 07:48] misi commented on #377
@cameron-elliott
1. > just want to confirm that the Origin support is basically dead?
The draft is dead, because of privacy issues.
RFC7635 solves this. So it is the next step. (OAuth + TURN)
2. >Is the Origin feature implemented in the coturn head, or removed?
It is still there.. It is not yet removed.
3. >If Origin support is removed or disabled, do these documents need to have the Origin mentio

[2020-03-03 10:53] VolodyaIvanets opened #503 "--no-cli option is ignored"
Hello!

I was trying to start turnserver version 4.5.1.1 with **no-cli** option but got error message:

[code]

[2020-03-03 11:13] misi commented on #503
It will be fixed in next release..
See changelog:
https://github.com/coturn/coturn/blob/8eb779a3cf792804c5f5b9091857e88536ff3ba8/ChangeLog#L4

[2020-03-03 11:14] misi commented on #502
Try to restart the turnserver..

[2020-03-03 11:23] wyudong commented on #502
@misi The turnserver is actually running, but I don't know what 's wrong with SQLite. I start the turnserver in this way:

[code]

[2020-03-03 11:33] misi commented on #502
@wyudong  Please set the sqlite db location in your server config..

[2020-03-03 11:52] k2hoon commented on #502
@wyudong By reference to the manual..
Options with required values:
       -b, --db, --userdb
              SQLite    user    database    file    name    (default    -    /var/db/turndb    or
              /usr/local/var/db/turndb or /var/lib/turn/turndb).  See  the  same  option  in  the
              turnserver section.

**Try it with the command below**
turnadmin --db <database-name> -L

[2020-03-03 12:11] misi commented on #499
I was ill sorry. I am just back at  work. I will do it ASAP..

[2020-03-03 12:27] wyudong commented on #502
@misi  @k2hoon I can find /usr/local/var/db/turndb, but running turnadmin with db option also returns the same error.

[code]

[2020-03-03 16:13] guedou commented on #499
Thanks a lot for your answer. I hope that you are now feeling better.

[2020-03-04 02:18] joshsavage commented on #495
I was wrong coturn does buffer the data and sends it in the TCP stream straight after the bind turn message. I missed it because I was accustomed to UDP datagrams coming in separately.

[2020-03-04 02:18] #495 closed

[2020-03-05 10:14] misi commented on #499
I just want to add that until you don't enable webserver you are safe form  all these vulnerabilities.
So we don't need to panic.  :)
This issue addressed in some form with limiting webserver availibilty in 4.5.1.1.
So with disabling the web by default, and evenif enabled it listens by default on localhost in 4.5.1.1.

In other hand I am doing my best.
I try to make the basic function tests work a

[2020-03-05 18:31] imesut commented on #332
I also see the same issue.

[2020-03-06 09:15] gydovrowl commented on #498
I understand this issue probably has nowhere near enough information to go on, but it would really help us if a developer/maintainer could indicate if anything like this has ever happened to anyone before. It will help us convince our client whether this was a user error during the initial configuration or not.

[2020-03-06 10:00] misi commented on #498
Which version do you use?
Try to use debian and upgrade to 4.5.1.1

[2020-03-06 10:32] gydovrowl commented on #498
Thanks for your reply!

Whatever version was available through apt-get at the time (december 2018). Sorry, not much to go on, we don't have direct access to the system... I'll try to find out, but I would guess 4.5.0.7.

I will suggest we upgrade to our client.

[2020-03-09 06:34] raccoonback opened #504 "Can I deploy Turn servers on Kubernetes"
Hi
I'm working on deploying a coturn project to Kubernetes.

I have succeeded in deploying STUN server to Kubernetes,
but when TURN server is deployed, **there is an issue that it is not distributed to the same pod among peers.** 😥😥😥

![image](https://user-images.githubusercontent.com/16451031/76188192-d75ba280-621a-11ea-851e-10f5a18c1445.png)

As shown in the figure below, a "Send Idication XOR-P

[2020-03-09 06:37] raccoonback commented on #504
@kskewes @MrOne-11 @misi

[2020-03-09 06:43] misi commented on #504
I am exploring how k8s networking works. I am experiencing k8s with Calico + Multus, but I don't yet have any solution. If any of you have such working solution already please share it..

[2020-03-09 06:55] raccoonback commented on #504
@misi
Thank you for your quick response.
I'll share if it's resolved.

[2020-03-11 08:51] wjhtinger opened #505 "Relay not work"
I set a coturn server and use webrtc to test. The STUN work well. But in some neworks, STUN not success, but the Relay not work. That means TURN not work, right?

In configure:
use-auth-secret
static-auth-secret=[your secret key here]
realm=turn.myserver.org
others are default.

So, what wrong with my server? How can I debug the problem?

[2020-03-11 10:21] zhu commented on #421
Add `AmbientCapabilities=CAP_NET_BIND_SERVICE` to the `[Service]` section will solve this problem.

[2020-03-11 10:21] zhu commented on #421
Add `AmbientCapabilities=CAP_NET_BIND_SERVICE` to the `[Service]` section will solve this problem.

[2020-03-12 14:41] #403 closed

[2020-03-12 14:41] ksaldiran commented on #403
Thanks for response

[2020-03-13 12:43] chanduthedev commented on #505
Hi @wjhtinger,
Are your testing network with in local network? If Signaling server and Client are in the same network, STUN will take precedence than TURN server. Need to keep both in separate network to work TURN server.

[2020-03-17 20:59] misi commented on #505
Auth secret is rest so see: https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf

[2020-03-17 21:01] misi commented on #499
Sorry I am busy due covid. I will do my best but please expect still some delay..

[2020-03-18 09:07] wjhtinger commented on #505
I use different network to test, not in local network.

[2020-03-18 09:10] wjhtinger commented on #505
I think Auth secret is OK, just STUN  work well

[2020-03-19 08:00] alexisprevot commented on #320
In Ubuntu 18.04 you can just fire as root

[code]

Once it's done, you can forget `./configure`, `make` and `make install` and continue the installation following the INSTALL document.

[2020-03-19 12:39] paulmenzel commented on #146
https://github.com/coturn/coturn/commit/e1cec37f2728e16fb194dbd825dbf5a26dfdfc6e#diff-2447139e4e9de0214f8f6d4c57928f66 updated the service file.

In https://bugs.debian.org/934513, Michael says it should still be improved, as coturn does not seem to daemonize correctly.

[2020-03-19 20:00] dbrgn commented on #146
Thanks for the links!

Right now I don't have free capacity to do the requested changes, so maybe someone else could take over :slightly_smiling_face: Also, the coturn instance I was responsible for was since moved to a FreeBSD server which doesn't use Systemd, so I can't test it in production.

[2020-03-23 10:01] MikeDabrowski commented on #180
For anyone having similar problem
In my case coturn config was correct and even after many restarts, it could not auth any user. It turned out that client apps (riot) needed to be restarted.

[2020-03-23 10:59] paulmenzel commented on #496
On my standard Debian 10 Buster/stable system, Certbot sets up the archive directory only readable and accessible for the user *root*.

    $ ls -ld /etc/letsencrypt/archive
    drwx------ 3 root root 4096 Mar 18 14:46 /etc/letsencrypt/archive

Are you sure, you didn’t change the permissions of the folder when trying to get it to work on your system?

[2020-03-23 18:39] paulmenzel commented on #146
I’ll try to prepare something.

Do you remember, why you also choose to daemonize the process? Just because it was done that way in the SysV initscript (if there was one)?

I though, the systemd way is to run stuff in the foreground.

[2020-03-23 18:56] dbrgn commented on #146
Unfortunately I don't remember... You are right, usually with Systemd you run things in the foreground and don't choose the "forking" type.

*If* there was a reason for that choice, you'll probably discover it quickly.

[2020-03-23 19:01] paulmenzel commented on #419
That might indeed be a good idea. [The environment variable `$MAINPID` could be used](https://www.freedesktop.org/software/systemd/man/systemd.service.html).

    ExecReload=/bin/kill -SIGUSR2 $MAINPID

The manual page advises against this though.

[2020-03-24 11:19] paulmenzel commented on #438
If you paste the logs from the working manual start, you could compare.

Judging from the failure log

[code]

you hit

https://github.com/coturn/coturn/blob/eb0565efbb793f8d87f8f73fda4823d6763d8453/src/apps/relay/mainrelay.c#L2308-L2316

As it is working when manually running `systemctl start coturn`, I guess, that the interface has not been assigned an IP address yet, despite being ordered after

[2020-03-24 13:42] paulmenzel opened #507 "Output to stdout stops and only written to log file"
Using Debian 10 Buster/stable with coturn 4.5.1.1-1.1, starting coturn by a systemd service unit in the foreground

    ExecStart=/usr/bin/turnserver -c /etc/turnserver.conf

it looks like, the messages to standard output stop very early, and it’s only logged to the log file.

[code]

The log file contains more messages:

[code]

The help text says, by default coturn logs to standard out and the l

[2020-03-25 07:27] paulmenzel commented on #268
@expressrussian, please open a new issue as yours seems unrelated. But, the Let’s Encrypt certificates should *not* be readable by everyone. By default, the directory the certificates are stored in are only accessible by the user `root`.

    $ ls -ld /etc/letsencrypt/archive/
    drwx------ 3 root root 4096 Mar 18 14:46 /etc/letsencrypt/archive/

[2020-03-25 12:39] darknight7 opened #508 "Configure coturn to accept connections on port 443 tcp exclusively"
I've been under pressure for a while to make webrtc (nextcloud talk) work with people behind restrictive corporate firewalls the way they have experienced with some commercial services.
This means that all connections have to be client initiated and established with port 443 on the server.

I've been trying to figure this out but I'm starting to wonder if it's at all possible with the current impl

[2020-03-25 13:03] misi commented on #508
Redirect or DNAT port to standard port could work with iptables/nftables

[2020-03-25 13:39] darknight7 commented on #508
Either I didn't explain myself very well or I didn't understand your suggestion, I'll detail a bit better the current setup:
- I have the luxury of two public ip addresses, let's say 1.2.3.4 and 1.2.3.5
- nextcloud+talk is setup on 1.2.3.4:443 with apache server
- coturn is setup on 1.2.3.5:443
- iptables is conveniently setup to allow connections to 443 (**only tcp**) on both ip addresses (444 to

[2020-03-25 19:37] berho commented on #438
Thank's for your recommendation. I have changed `/etc/systemd/system/coturn.service` and on next reboot service was running fine :)

[2020-03-26 08:40] darknight7 commented on #508
Problem solved. The above configuration is working perfectly unless something new makes me think otherwise.
It turns out that the a firewall (not on the machine) was not behaving as it was supposed to be, the relevant policy had not been applied correctly.
I hope this issue proves useful to someone else.

[2020-03-26 08:40] #508 closed

[2020-03-26 14:42] brunobottazzini commented on #332
So I also have the same problem. Was a solution proposed?

[2020-03-26 14:55] imesut commented on #332
Hello all,

I figured out, my problem was because of my client-side. I was using Kurento server, when I checked my node.js server which handles sessions, I saw I didn't add turn server settings. Then the problem has been resolved. The problem was occurring after 600 seconds but I was seeing request without specified realm and user info. Please check that your connections send realm and correct use

[2020-03-28 06:37] yfaker opened #509 "tcp stun client recommendation"
hi everyone , I'm testing stun over tcp, do you have any tcp stun client to recommend? thanks a lot

[2020-03-29 00:33] johnjaylward opened #510 "UDP Bind error when trying to initiate voip using a Matrix clien"
I'm running Matrix and coturn in the same jail under FreeBSD. Coturn starts up properly, but when I try to initiate a voip call, I get `bind` errors saying the address is already in use. I've already looked at #21, but that seems to be broken during startup on the initial bind, which is not my problem.

I could have sworn that my configuration was working for a few weeks, but today I noticed that

[2020-03-29 16:16] schildbach commented on #426
I've got the exact same issue. I'm on the `4.5.1.1` tag. My host OS is Ubuntu 18.04.4 LTS, but that should not matter much.

[2020-03-29 16:20] schildbach commented on #426
I think the issue is that Debian stable has `libevent-core-2.1-6`, _not_ `libevent-core-2.0-5`. Similar with the other packages.

[2020-03-29 16:22] MiningPickaxe opened #511 "Allocation Timeout: Peers can't connect to turn server"
Hello,
I am having some issues with the coturn server I set up.
When my client who is behind a NAT (SSH Tunnel 172.16.4.4) tries to connect to another SIP client (in this example it is actually on the same server as coturn 172.16.4.182) I get the following messages in the log:

[code]
and the connection times out after 30 seconds. The receiving side of the call logs me the following:
[code]
It see

[2020-03-29 17:31] MiningPickaxe commented on #509
Hey,

you might like this one: https://github.com/coturn/coturn/wiki/turnutils_stunclient

[2020-03-29 17:37] schildbach opened #512 "Docker build leaves behind crap in image root directory"
[code]

This is on commit 4722697645cf033de8cf4f34e4214af750746365 (master as of today).

[2020-03-29 19:22] misi commented on #512
Thanks for reporting it! I will test it.

[2020-03-29 19:31] misi commented on #507
Thanks for reporting it.

[2020-03-30 08:56] yfaker commented on #509
Hi thanks for you advise
i checked turnutils_stunclient and it is over udp
and i have found another clien meets the need:https://github.com/jselbie/stunserver

[2020-03-31 09:40] feutl commented on #496
I am running a "preconfigured" nextcloud instance, where most of the permissions and things concerning nextcloud is handled by the NextCloudPi scripts.
Anyhow, even if I would have changed them, the permissions shown at the beginning are even more open than yours.

The question now, does my problem is non existing in your setup?

[2020-03-31 09:50] paulmenzel commented on #496
@feutl, the coturn project doesn’t know, how the NextCloudPi scripts set things up.

With the default Certbot setup, the solution you proposed cannot work, and therefore it does not work here. The certificate directory is only readable by the user `root`.

So, without changing this, either run coturn as `root`, or add deploy scripts, copying the certificates to a directory the user `turnserver` ca

[2020-03-31 10:16] feutl commented on #496
I understand that you do not know how NCPi is working, which is fine.
Anyhow, my directories and files do have the permissions to be read by "everyone" and still it is not possible for coturn to be referenced to a symlink which resolves to the archive directory.

This is the main issue, permissions are fine, because other programs on that host can use the same symlinks and do get the respective /

[2020-03-31 10:19] paulmenzel commented on #496
`drwxr--r--   6 root root  4096 Mär  6  2019 archive` might need execute permissions.

[2020-03-31 11:36] feutl commented on #496
I can try this, but still makes not much sense so far
The files I copied into the `live` directory for coturn work with
`-rw-r--r-- 1 root root  769 Feb 21 11:31 dhparam.pem`

Apache is also capable of handling this correctly without running as `root`. This feels strange.

[2020-03-31 11:55] feutl commented on #496
I found some time, tested it, and adding `+x` to the `archive` directory did the trick.
I am not very happy with the permissions right now, and I need to do some further testing, but restarting `coturn` did not raise any errors :)

I keep you updated.

[2020-03-31 13:34] Sudheerkumar opened #515 "couldnot connect to turn server on 443 with turns enabled over enterprise network/ enterprise VPN"
Hi,

We are trying the following config urls in ice{turns:xx.xx..xx:443?transport=tcp,turn:xx.xx..xx:80?transport=tcp}

and we are not able to connect to the turn server. We could not see candidates gathering on trickle ice.

0.005	rtp	host	1516508954	udp	192.168.0.106	58213	126 | 30 | 255

I dont see other candidates like we get in stun:xx.xxx:80/3478/443 ports

Please help us on this.

Note: we

[2020-04-01 01:56] pmworkaccount commented on #496
Changing both 'live' and 'archive' to drwx--x--x fixed the issue for me. I needed to also open the firewall port but it works fine with selinux.

thanks all, I'd been waiting for this.

[2020-04-01 09:14] feutl commented on #496
I tested your permissions for for the `archive` folder, but without having `r` for everyone I do get the same `coturn` errors than before.
so I ended up with
`drwxr-xr-x   6 root root  4096 Mar  6  2019 archive`

with my `coturn` instance running as user `turnserver` which is a debian default setup I assume.

[2020-04-01 15:44] wolmi commented on #474
I've started to develop this feature, I'll update on this issue the progress.

At the moment I have prepared the environment and I have the first metric based on the current metrics sent to Redis.

![image](https://user-images.githubusercontent.com/624089/78157481-4bffb680-7440-11ea-9c73-5c4b186d589f.png)

[2020-04-01 23:00] wolmi commented on #474
I've pushed some code, it is based on the Prometheus C client from:
https://github.com/digitalocean/prometheus-client-c

My branch is:
https://github.com/wolmi/coturn/tree/prometheus

If you want to review it and give me some feedback it will be very helpful, if you prefer I can open a PR for an easy review.

[2020-04-02 04:41] Sudheerkumar commented on #505
I do have the same issue. Any help please? Am facing similar issue on a corporate network. Never see a `relay` being generated.
While outside VPN i could see `srflx` and it connects. In a whole i could never see a relay candidate generated ever from the browser client

[2020-04-02 20:42] Benoit221 commented on #249
I have also this trouble using Kopano meet with iphone and MacOS. I tried :
          - Windows & android -> OK
          - MacOS using Safari & android -> only android is visible in turn sessions
          - MacOS using Chrome as browser & android -> OK
          - Iphone using Safari & Android -> only android is visible in turn sessions
          - Iphone using Chrome & Android -> not tested
So

[2020-04-03 08:25] wolmi commented on #474
Please @misi can you review the PR #517 and see if it is correct?

I think the only thing missing to have the first version for using it is to include an option to pass as an argument or in the configuration file.

I'll work on adding the options too.

[2020-04-03 12:37] MNie opened #518 "STUN/TURN unable to do handshake in Mozilla Firefox"
I have a web and standalone applications that use WebRTC.
I have my own coturn server on Amazon EC2. I configure everything based on that [article](https://meetrix.io/blog/webrtc/coturn/installation.html) (maybe it was a mistake?). I test my apps with this stun/turn server and everything works just fine for Chrome, Edge, Safari, but does not work for Mozilla Firefox (Offer and Answer were generate

[2020-04-06 07:19] Sudheerkumar commented on #249
Hi, We are facing the similar issue on our VPN pr enterprise network.
Any inputs are much helpful.

[2020-04-06 12:13] pdarcos commented on #421
Thanks @zhu
That fixed it.

Cheers

[2020-04-07 01:50] rubo77 opened #520 "How to restart the turn server if you changed a config value"
The readme is missing such a hint.

- are config values accepted immediately?
- do I have to restart?

if you run `turnserver -o` as a daemon, this is really unclear for a newbie.

[2020-04-07 02:01] rubo77 commented on #496
I started with

    turnserver -o

as root. Then I get the error:

    0: WARNING: cannot find certificate file: turn_server_cert.pem (1)

my `/etc/turnserver.conf `:

    CA-file=/etc/letsencrypt/live/turn.mydomain.de/fullchain.pem

ls:

    -rw-r--r-- 1 root root 3,5K Apr  7 03:37 /etc/letsencrypt/live/turn.mydomain.de/fullchain.pem

What AM I doing wrong?

[2020-04-07 05:50] feutl commented on #496
@rubo77
you need to add `x` to your directory/files
simplest way, run `chmod +x -R directory`

this should work

[2020-04-07 05:58] rubo77 commented on #496
I found the error: I used the setting `CA-file` instead of `cert`, this works for the certificate (with the old file-permissions 644):

    cert=/etc/letsencrypt/live/turn.eclabs.de/fullchain.pem

But now I get the same error as above:

    WARNING: cannot find private key file: turn_server_pkey.pem (1)

How do I create such a private key file?

[2020-04-07 06:40] paulmenzel commented on #496
You should use `o+X` (mainly capital X). From `man chmod`:

[2020-04-07 06:49] paulmenzel commented on #496
[…]

@rubo77, Let’s Encrypt sets up the permissions so that only the root user can see the content of the directory, and also only allows the root user to read the *private* key. Please read up on private/public key certificates, and [file system permissions/traditional Unix permissions](https://en.wikipedia.org/wiki/File_system_permissions#Permissions).

How you set up the certificates is not an

[2020-04-07 06:50] paulmenzel commented on #496
@feutl, could you please close this issue, as this is not a problem in Coturn?

[2020-04-07 06:57] feutl commented on #496
@paulmenzel for sure, you are right

the issue got resolved with the correct permissions.
* https://github.com/coturn/coturn/issues/496#issuecomment-606533463

[2020-04-07 06:57] #496 closed

[2020-04-07 07:36] rubo77 commented on #146
the debian package does not instal the service.

## How to I install the service by hand

    wget https://raw.githubusercontent.com/coturn/coturn/master/examples/etc/coturn.service -O /etc/systemd/system/coturn.service
    systemctl enable coturn.service
    systemctl daemon-reload

[2020-04-08 05:40] rasos commented on #113
I am also still getting this on 4.5.0.7-1ubuntu2.18.04.1

[2020-04-08 12:39] Neustradamus commented on #331
@misi: It is official!
February 2020:
- RFC8489: Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc8489
March 2020:
- RFC8760: The Session Initiation Protocol (SIP) Digest Access Authentication Scheme: https://tools.ietf.org/html/rfc8760

[2020-04-10 12:06] Sudheerkumar commented on #358
Hi, we are also experiencing the same issue. any inputs?

[2020-04-10 17:10] Payetus opened #521 "Updated list of AWS AMI"
I cannot find and updated AWS AMI fot he coturn.

[2020-04-11 07:41] rasos commented on #113
Getting same error on 4.5.1.1-1.1 (Debian buster)

The typo as reported above indeed is not in the master branch anymore, so likely no regression. Reopen the issue?

[2020-04-11 12:02] theronic commented on #361
Also bitten by this. How do I set a CLI password?

[2020-04-12 09:43] Neustradamus commented on #189
@kdubb: Have you tested the fix-oauth?

[2020-04-12 14:29] gurupras commented on #485
A few follow up questions:
Do _s0_ and _s1_ need to know about each other in some way?
Is this applicable for webRTC? Sounds like it is, but just confirming..

[2020-04-13 07:30] benbro opened #523 "New release?"
Last release is from more than a year ago. There were several security fixes since then.
Can you please make a new release?

[2020-04-14 22:20] rottaran commented on #501
You can try to set the parameter external-ip=EXTERNALIP/INTERNALIP instead of listening-ip and relay-ip.

[2020-04-16 01:51] peterzanetti commented on #508
Your configuration has no default listening port for TCP/UDP? Why? How are you connecting to the TURN server? Is only using TLS?

I am trying to handle the same kind of scenario.

[2020-04-16 06:49] darknight7 commented on #508
My understanding of the matter is that right now this is not possible because of how the browsers implement the protocol. Webrtc TCP relay is unsupported, this is not a problem with coturn. Furthermore a proxy or firewall that is sufficiently advanced can and will detect webrtc not being https, and will filter it accordingly if configured to allow only https.
Opening high ports is thus still manda

[2020-04-16 11:47] de-saksham commented on #311
@RamyaAshika Were you able to solve this issue? If yes, could you please help!

[2020-04-16 14:57] de-saksham commented on #361
@theronic  cli-password=yourpassword

[2020-04-17 13:02] weiss commented on #247
FWIW, I'm having the same problem when testing with Chrome against a [different TURN server][1].  From what I can see, the TLS handshake succeeds, then the server receives another packet from the client without payload, then the client disconnects.  However, it _does_ work for me when using Firefox (have you tried that?).  So it _might_ actually be Chrome/[libwebrtc][2] doing something wrong/weird

[2020-04-19 10:01] stefan123t commented on #496
@feutl I have successfully configured the post-hook @misi mentioned initially following the description on stack overflow:

How to setup coturn with letsencrypt
https://serverfault.com/questions/849683/how-to-setup-coturn-with-letsencrypt

This approach is IMHO already streamlined enough to put it into a script for ncp-admin as your original intention was according to nextcloud/nextcloudpi#1068

N

[2020-04-19 13:00] Neustradamus opened #526 "RFC8445: Interactive Connectivity Establishment (ICE): A Protocol for Network Address Translator (NAT) Traversal"
Can you add the support of?
- RFC8445: Interactive Connectivity Establishment (ICE): A Protocol for Network Address Translator (NAT) Traversal: https://tools.ietf.org/html/rfc8445

[2020-04-19 13:06] Neustradamus opened #527 "Update old draft supports"
In README, I see:
- DTLS support (http://tools.ietf.org/html/draft-petithuguenin-tram-turn-dtls-00).
- Mobile ICE (MICE) support (http://tools.ietf.org/html/draft-wing-tram-turn-mobility-02).
- TURN REST API (http://tools.ietf.org/html/draft-uberti-behave-turn-rest-00)
- Origin field in TURN (Multi-tenant TURN Server) (https://tools.ietf.org/html/draft-ietf-tram-stun-origin-06)
- TURN Bandwidth dr

[2020-04-19 13:09] Neustradamus opened #528 "RFC8656: Traversal Using Relays around NAT (TURN): Relay Extensions to Session Traversal Utilities for NAT (STUN)"
Can you add the support of?
- RFC8656: Traversal Using Relays around NAT (TURN): Relay Extensions to Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc8656

[2020-04-19 13:14] Neustradamus opened #529 "RFC8489: Session Traversal Utilities for NAT (STUN)"
Can you add the support of?
- RFC8489: Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc8489

[2020-04-19 14:04] Neustradamus commented on #527
There are:
- https://tools.ietf.org/html/rfc7350 which replaces http://tools.ietf.org/html/draft-petithuguenin-tram-turn-dtls-00
- https://tools.ietf.org/html/rfc8016 which replaces http://tools.ietf.org/html/draft-wing-tram-turn-mobility-02
- https://tools.ietf.org/html/rfc8656 which replaces http://tools.ietf.org/html/draft-ietf-tram-turnbis-04

[2020-04-19 14:07] Neustradamus opened #530 "RFC 7350: Datagram Transport Layer Security (DTLS) as Transport for Session Traversal Utilities for NAT (STUN)"
Can you add the support of?
- RFC 7350: Datagram Transport Layer Security (DTLS) as Transport for Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc7350

[2020-04-19 14:09] Neustradamus opened #531 "RFC8016: Mobility with Traversal Using Relays around NAT (TURN)"
Can you add the support of?
- RFC8016: Mobility with Traversal Using Relays around NAT (TURN): https://tools.ietf.org/html/rfc8016

[2020-04-19 14:40] Neustradamus opened #532 "RFC8155: Traversal Using Relays around NAT (TURN) Server Auto Discovery"
Can you add the support of?
- RFC8155: Traversal Using Relays around NAT (TURN) Server Auto Discovery: https://tools.ietf.org/html/rfc8155

[2020-04-19 14:41] Neustradamus opened #533 "RFC5780: NAT Behavior Discovery Using Session Traversal Utilities for NAT (STUN)"
Can you add the support of?
- RFC5780: NAT Behavior Discovery Using Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc5780

[2020-04-20 13:18] jianminfly opened #535 "how to use full stun server with two public ip"
I have a serve with two public ip and i want to test the stun server of coturn. this is my command `turnserver -f -v -a -m 2 --max-bps=100000 --min-port=32355 --max-port=65535 --user=phz:1 -r phzled.cn -X <public ip/ private ip> -X <public ip/ private ip>` . I can ping the two public ip successfully an test successfully on "https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/".

[2020-04-20 17:01] MNie commented on #518
To answer my own question. Double-check if your stun/turn server is available when you are not using your corporate VPN. Mozilla was the only one that wouldn't work if the stun/turn server is not available outside of an internal network even VPN is enabled.

[2020-04-20 17:01] #518 closed

[2020-04-21 08:23] graceastrid opened #536 "Nextcloud Talk turn server. Using the turn-server does not give a positive (any) result"
My production server (but in a virtual machine):
- Centos Server 6.10
- Nextcloud 17.0.5
- coTurn v4.5.0.8
- 4 RAM
- 1Gbit channel
- Intel ® Xeon ® CPU E5-2670 0 @ 2.60GHz

Hello everybody! I installed Nextcloud Talk and when I try to talk via voice communication with more than two people (on different networks, not on the local network), problems arise: one of my friends can hear only one person,

[2020-04-21 14:01] anklyang commented on #530
。*+？ 嘿嘿。发自我的华为手机-------- 原始邮件 --------发件人： Neustradamus <notifications@github.com>日期： 2020年4月19日周日 22:07收件人： coturn/coturn <coturn@noreply.github.com>抄送： Subscribed <subscribed@noreply.github.com>主    题： [coturn/coturn] RFC 7350: Datagram Transport Layer Security (DTLS) as Transport for Session Traversal Utilities for NAT (STUN) (#530)
Can you add the support of?
RFC 7350: Datagram Transport Layer

[2020-04-21 14:46] Neustradamus commented on #530
@anklyang: I do not understand your comment.

[2020-04-22 02:43] dingdongnigetou commented on #91
Awesome, that saves my day!

[2020-04-22 14:24] spacetourist commented on #113
I have the same experience as @rasos using the same version. What is the impact of this issue on a running server?

[2020-04-22 16:18] Payetus commented on #447
Can you explain the second scenario better?

[2020-04-23 00:03] chehefen opened #537 "Delay in sending Allocation response for only first allocation request"
We are seeing coturn taking 2 seconds to send the first allocation response, which is the 401 response. This is the coturn server log:
[code]
The client connects to turn server using UDP. The allocation request was sent at 23:07:46 and the response was received at 23:07:48. Allocation requests after the first one all take less than 100ms to get the response. Does anybody know why the first request

[2020-04-23 08:00] psi-4ward commented on #113
same here

[2020-04-23 20:13] chehefen commented on #537
Turns out to be my own issue. Closing.

[2020-04-23 20:13] #537 closed

[2020-04-23 21:10] dwydler commented on #537
Will you tell us, what was the problem?!

[2020-04-23 21:21] chehefen commented on #537
After checking the tcpdump, the server hello arrived within a few milliseconds, but my application only detect it 2 seconds after sending the client hello. Turns out when I first run select() there were no socket in the list so it times out after 2s and pick up the socket fd and detect the incoming packet.

[2020-04-24 12:12] localguru commented on #535
Very good question. From my understanding it's just a second `listening-ip=` entry in `/etc/turnserver.conf` like

[code]
But does that work, if the second IP is in the same subnet?

https://access.redhat.com/solutions/30564

[2020-04-24 12:41] localguru commented on #535
And must both or all IPs point to the same DNS name?

[2020-04-26 00:18] qet119 opened #538 "Thank you for your contribution"
Thank you for your contribution

[2020-04-27 12:35] mmujic opened #539 "Disable HTTP Check on TCP ports"
Hello, is there an option to disable this HTTP GET request?

[2020-04-28 02:42] developdeez commented on #361
Same issue. How do you use that command @de-saksham ?
I'm new to linux

[2020-04-28 05:33] FackelAB commented on #347
I think it would be good to write into the log something like:
no certificate specified, this is required for tsl-comminication
and error-log on failure, while opening required files (not found, no permission)

[2020-04-28 08:19] de-saksham commented on #361
@developdeez you can enter this in turnserver.conf file like
cli-password = yourpassword

Yes, as experienced until you don't pass this cli-password server won't start. This is the only issue.

[2020-04-28 08:23] misi commented on #532
We need PR or we are for lack of developer resources actually.

[2020-04-28 08:23] misi commented on #533
We need PR or we are for lack of developer resources actually.

[2020-04-28 08:24] misi commented on #531
We need PR or we are for lack of developer resources actually.

[2020-04-28 08:25] misi commented on #530
We need PR or we are for lack of developer resources actually.

[2020-04-28 08:26] misi commented on #528
We need PR. We are for lack of developer resources actually.

[2020-04-28 08:26] misi commented on #527
We need PR. We are for lack of developer resources actually.

[2020-04-28 08:26] misi commented on #526
We need PR. We are for lack of developer resources actually.

[2020-04-28 08:27] misi commented on #523
I will do it very soon! Sorry for it!

[2020-04-28 08:28] misi commented on #523
Please help me and join to this project, to make it great!

[2020-04-28 08:32] misi commented on #361
It is because of security and vulnerability reported by many. Sorry for it.
It is just you should set a password.

[2020-04-28 08:37] benbro commented on #523
Thank you.

[2020-04-28 08:37] #523 closed

[2020-04-28 09:55] misi commented on #361
I fixed the no-cli issue.

[2020-04-28 12:43] Neustradamus commented on #533
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:43] Neustradamus commented on #532
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:43] Neustradamus commented on #531
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #530
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #528
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #527
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #526
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #331
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-28 12:44] Neustradamus commented on #529
@misi: Can you publish an announcement that you search help, new developers in several mailinglist/groups?

[2020-04-29 18:27] artooro commented on #421
In my case the turnserver user did not have access to the private key so the TLS listening port was not binding.
There were no errors logged by coturn even in verbose mode making this difficult to troubleshoot.

[2020-04-29 20:35] #538 closed

[2020-04-29 20:37] misi commented on #529
Sure I will..

[2020-04-29 23:28] localguru commented on #113
Same here with coturn 4.5.1.2

[2020-04-30 06:08] misi commented on #113
If you check the code "TLS/TCP socket buffer operation error (callback)"
Any not clean TLS close could cause it. We need to check it more.
https://github.com/coturn/coturn/blob/db68c761954853f2fb167e507d2aab9b0989d943/src/apps/relay/ns_ioalib_engine_impl.c#L2880

[2020-04-30 15:24] Antoine-Sevec opened #541 "How to add multiple coturns to my infrastructure"
Before coming to ask my question I searched for a lot of info on the general operation of a turn server.
And unfortunately, I couldn't find my answer... :/

@misi I hope you can help me :)

So my infrastructure is:

publisher 1 ------- turn 1 --------- viewers 2

My problem arises when "turn 1" is at the maximum of these capabilities (CPU, Network)

So I imagined doing load distribution with cotur

[2020-04-30 15:31] Antoine1535 commented on #541
@misi @misi

[2020-04-30 18:49] misi commented on #503
fixed in 4.5.1.2

[2020-04-30 18:49] #503 closed

[2020-04-30 19:21] misi commented on #499
@guedou  4.5.1.2 is out.
Sorry for the delay.. I close this issue..

[2020-04-30 19:21] #499 closed

[2020-04-30 19:42] misi commented on #474
@wolmi  Sorry for the delay. I will try to review it and it will be in the next release.

[2020-04-30 22:59] localguru commented on #247
I have the same problem using coturn 4.5.1.1-1.1build2 on Ubuntu 20.04 LTS. Test with testssl.sh is fine.

[2020-04-30 23:00] localguru commented on #113
Same here with coturn 4.5.1.1-1.1build2 on Ubuntu 20.04 LTS. cert= contains the full chain, test with testssl.sh is fine. Any ideas?

[2020-05-01 08:55] rasos commented on #113
@paride or any other maintainer would you consider to re-open this issue? Or should we open a new one?

[2020-05-01 09:14] guedou commented on #499
Thanks!

[2020-05-01 11:47] paride commented on #113
@rasos I can't reopen it, I suggest to open a new bug and mention that this one regressed. I'm not using coturn anymore so I can't be more precise.

[2020-05-01 15:15] shrikant12345 commented on #111
Issue resolved by changing min and max ip range from
# (default values are 49152 and 65535)
#
min-port=69152
max-port=85535

[2020-05-01 22:15] mokkin opened #542 "coturn problems with nextcloud and BigBlueButton"
I have installed coturn on Ubuntu 18.04 for our Nextcloud instance a couple of month ago and since about one week I am also using it for BigBlueButton.
Unfortunately I have trouble with video sharing in both applications through several NATs. If I connect with my mobile device internet directly it works.
https://github.com/bigbluebutton/bigbluebutton/issues/9349

D you have an idea?

tunrserver.co

[2020-05-02 00:02] localguru commented on #33
@bradleythughes "This is why you should be using throw-away, time-limited TURN credentials.". Could you give a config example please?

[2020-05-02 21:16] schandrasekhar opened #543 "Unable to connect to TURN server"
I am new to webRTC and wanted to try it out. This is my setup below all of which are running on localhost. I am running the setup on MacOS

2 web clients on chrome browser
coturn server running on localhost
signalling mechanism done on server using socket.io and also running on localhost

I am unable to get remote audio and video data on the web client

This is how I have installed coturn
`brew in

[2020-05-04 18:00] OmegaVVeapon commented on #273
Has this task been abandoned?

For what it's worth, I checked out https://hub.docker.com/r/instrumentisto/coturn as recommended by @mariuszbeltowski and it's very well put together in terms of good Docker practices.

Maybe those changes could be pulled into this repo?

[2020-05-04 18:48] tyranron commented on #273
I'm a main maintainer of https://hub.docker.com/r/instrumentisto/coturn Docker image. If @misi, or other contributors don't mind, I'm okay with mergin that here to have an official `coturn/coturn` Docker image for community. Also, I may offer my resources to support it and keep-up-to-date (though, that wouldn't require much at all).

[2020-05-04 19:15] misi commented on #273
Sorry I was busy I missed out new comments on this issue.
@tyranron let's meet and discuss how to make it.
I am happy and fully support to make an official cotrun/coturn docker image even more we can make a help chart too..

[2020-05-05 10:15] tyranron commented on #273
@misi nice! Well then, this is how I see the stuff here...

### What should be supported?

- Build image directly from repo's codebase.
- `edge` image versions built from latest `master`.
- `alpine` and `debian` (based on `debian:slim`) image versions built from release tags.
- [Multiarch support](https://github.com/instrumentisto/coturn-docker-image/issues/24) on the same image tag.
- [Basic imag

[2020-05-07 21:20] #415 closed

[2020-05-08 03:39] downright-ux opened #544 "Load Testing"
Hi,
wondering if you know have any tools that work well with load testing coturn.
I seem to have found one https://lmtools.com/, but wasn't to sure if any others.

[2020-05-08 07:06] killua99 commented on #273
To extend @tyranron comment, could be good to take a look at: https://docs.docker.com/docker-hub/official_images/

And evaluate if this repo could be part of Official Docker Images, that could be the best case scenario aiming for an official badge.

On Freenode IRC we could find more info about it and how to submit a proposal.

[2020-05-08 15:15] ShindeSwapnali opened #545 "How to run Stun and Turn Servers using Public IPs"
How to run Stun and Turn Servers using Public IPs

[2020-05-08 21:18] localguru commented on #545
Could you please clarify your question a bit?

[2020-05-09 02:30] ShindeSwapnali commented on #545
Instead of using Google Stun and Turn servers, I have installed them on my local windows machine.

So if I need to deploy my code on live servers, I will install all that on live server so Stun and Turn servers should be accessible by public IP..how could I make the relevant changes

[2020-05-10 00:26] schandrasekhar commented on #543
can anyone help with the above

[2020-05-10 11:14] stevesss commented on #162
I keep getting this mesage on startup: "oturn disabled in /etc/default" when in fact it is "TURNSERVER_ENABLED=1" In addition, it won't start

[2020-05-10 14:51] misi commented on #273
First lets create an image coturn/coturn.
I created an organization coturn. @tyranron,  please provide me your docker hub account.

[2020-05-10 20:26] Syirrus commented on #545
Not sure exactly what you mean, but as you stated you will have to install Coturn on your server that is publicly accessible of course making sure all the port and firewall stuff is sorted out.

[2020-05-10 23:05] schandrasekhar commented on #543
Apologies for tagging you here @misi , can you help with the above

[2020-05-10 23:14] schandrasekhar commented on #543
using https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/ with the configuration
[code]

[2020-05-10 23:17] schandrasekhar commented on #543
using `turnutils_uclient` like this
[code]

i get the following output for the client
[code]

This is the output of the turnserver
[code]

Can anyone help debug this?

[2020-05-11 01:58] mjsobrep commented on #43
@card-b and @ntinti Can you share a bit more about the system that you got to work. I have been trying to get coturn to run behind nginx, but can't seem to make a connection.

[2020-05-11 03:07] jelmd opened #546 "Allow ACME redirects"
Would be nice, if coturn would support redirecting ACME requests. E.g. if one has configured
`acme-redirect = "http://le.example.com/.well-known/acme-challenge/"`

E.g. any request like this:
[code]
should return a response like this and close the connection:
[code]

[2020-05-11 08:51] tyranron commented on #273
@misi it's just the same: [@tyranron](https://hub.docker.com/u/tyranron)

[2020-05-11 13:16] fooness commented on #146
Any ideas when this will change for debian and ubuntu?

[2020-05-11 13:20] paulmenzel commented on #146
@rubo77, @fooness, what makes you say that?

`/lib/systemd/system/coturn.service` is present in [coturn (4.5.1.1-1.1)](https://packages.debian.org/buster/amd64/coturn/filelist).

@fooness, if there were packaging issues, upstream is the wrong place to ask, and you should contact the distributions.

[2020-05-12 15:27] stondino00 opened #547 "Ubuntu PPA"
Please consider maintaining an ubuntu ppa.  The ubuntu version is rather old.

[2020-05-13 12:35] undeadindustries opened #548 "Possible to pass User:Password in DockerRun?"
Is it possible to pass a User:Password argument in Docker run? So I could password protect turn access?

Thanks!

[2020-05-14 11:37] davefej opened #549 "UDP ports firewall rules outbound only"
Hi we are building a videochat application with webRTC and coturn.
The conturn server is configured to TURN only for testing purposes.

**We found that we actually don't need to open the high UDP ports (49152-65535) throw the firewall.
The connection could be established with allowing only outbound connection in these ports.**

We just don't really understand why does it works without opening thes

[2020-05-14 13:15] jeffbrl commented on #549
Stateful firewalls can track UDP connections in addition to TCP. If you have an outbound rule for UDP, the firewall recognizes that a device behind it initiatiated the UDP packets and therefore the return traffic is allowed.

[2020-05-14 13:52] x5engine commented on #273
@tyranron I say 👍👍👍👍 and 👍

[2020-05-14 14:08] davefej commented on #549
Thanks, well I use ufw its stateful :)

But how the TURN can initiate the UDP connection to the webRTC client?
The client is behind NAT and firewalls that's why we use turn, so the client won't respond, because it deny inbound traffic too.

[2020-05-14 18:18] undeadindustries commented on #548
Or, possibly a better question, is there a list of all possible arguments to pass into the docker run command?

[2020-05-15 18:48] DorianScholz opened #550 "Bad configuration format: dh2066"
Looks like the example config file has not been updated to reflect "dh2066" now being the standard.

[2020-05-16 18:13] carsenie commented on #423
i have the same issue, have u found the issue ??

[2020-05-18 05:58] misi commented on #550
Many thanks!

[2020-05-18 07:25] feinerer opened #552 "LibreSSL compilation failures"
Compilation with a current version of LibreSSL produces an error and a warning:

- [LibreSSL has no FIPS mode](https://marc.info/?l=openbsd-misc&m=139819485423701) so `FIPS_mode()` is not defined:
https://github.com/coturn/coturn/blob/113f13855a53aeb41ca5b71aa36b3f945cee2052/src/client/ns_turn_msg.c#L247-L249
https://github.com/coturn/coturn/blob/113f13855a53aeb41ca5b71aa36b3f945cee2052/src/client

[2020-05-20 12:58] mirkobrankovic opened #553 "error_code: 600 | error_text: Address not associated with the desired network interface."
Hi, I'm using:

I'm not sure if this is correct place for this question but recently all my relay Ice candidates started reporting

I didn't change Coturn version in a long time, so probably something new from Browsers that I missed?

Thanks,
mirko

[2020-05-20 13:30] mirkobrankovic commented on #553
well it could be due to the fact that is can't open socket:

[code]

[2020-05-20 19:34] jelmd opened #554 "clarify realm usage in README.turnserver"
In the **DATABASES** section of `README.turnserver`:

3)  says "... All users in the database must use the same realm value".

A little bit weired but I guess, this is the same for all DB types, not only for PostgreSQL?

6) says "If a database is used, then users can be divided into multiple independent realms. Each realm can be administered separately, and each realm can have its own set of users

[2020-05-21 07:04] liuende501 opened #555 "Can turnserver perform as turnclient relay request to another turnserver?"
In the situation I encountered, I can not complete the work use one turnserver. I want to relay my rtc request pass two turnserver to internet, Can conturn realize my need.

[2020-05-22 06:42] omaximenco opened #556 "Centos 7 RPM build"
./CentOS7.pre.build.sh
./build.sh

Getting this error:
RPM build errors:
    Installed (but unpackaged) file(s) found:
   /usr/share/turnserver/etc/cacert.pem
   /usr/share/turnserver/etc/coturn.service

4.5.1.1 works fine.

[2020-05-22 11:37] schnitzi99 opened #557 "turnserver connections time out when blocking bogon ips."
This is not a bug report but I wanted to share my findings somewhere and this seems to be the most appropriate place and google might find this. Feel free to place this somewhere else or close the issue.

I wanted to set-up a very simple turnserver for Conversations.im video calls and for Nextcloud Talk. The problem was - sometimes it worked and sometimes it didn't.

After looking into it very clo

[2020-05-23 13:51] ruedigerkupper commented on #536
Hi! Have you opened your listening-port 3478 in your firewall (or forwarded it to the right machine, in case you are behind a NAT router)?

[2020-05-23 14:27] ruedigerkupper opened #558 "Coturn may start before network is fully configured"
This is a boot-time race condition appearing with automatic discovery of listener addresses.

When coturn is starts up without any explicit listener addresses configured, it automatically detects them on startup. By default, it will listen to all available non-local addresses. If it cannot discover any non-local address, startup will fail. (Error log: "0: main: Cannot configure any meaningful IP l

[2020-05-23 14:36] ruedigerkupper commented on #558
Another possibility would be to give the user the choice at package install time. Like "Will this coturn instance run on a machine with static IP configured?" and then change the target accordigly.

[2020-05-23 17:40] GeovaneW96 commented on #43
I could make it work behind nginx reverse proxy, problem is: stun gets the gateway machine's internal IP.

[2020-05-25 03:27] zhouziyang opened #559 "add official helm chart support"

[2020-05-25 07:54] FJEagle opened #560 "Is there any api or method to get coturn current bandwidth usage for better load-balancing in application server?"
We use a group of coturn servers for webrtc, and the application server will do the load-balancing by assigning proper coturn servers to  app clients to connect.

In our case, sometimes some of the coturn servers bandwidth usage is full, while others may be pretty idle, e.g., only half.

Is it possible for us to get coturn server current bandwidth usage for better load-balancing in application ser

[2020-05-26 09:01] goudal-emmk opened #561 "Strip ending spaces in configuration file"
Hello,
I had a problem binding to tlls port. I finally found that in the configuration line
cert=<filepath>
After three hours of research I found that I had a final white space on the file that was taken into account when opening the file, which is quite invisible when editing the file, and it's quite unusual in a configuration file to take the final spaces or tab into account.
I don't know if it'

[2020-05-26 09:32] suparsana21 commented on #397
Hi, can someone explain about the solution please?

[2020-05-26 12:30] dplusic commented on #420
This may help: https://github.com/coturn/coturn/wiki/TURN-Performance-and-Load-Balance#load-balancing-among-multiple-systems

[2020-05-28 09:40] marcohald opened #562 "iOS 13.5 does not connect"
Hi,

we are running coturn in Version Coturn-4.5.0.7 on ubuntu 18.04.4
When we try to connect to our BigBlueButton Server via Coturn on iOS we get no connection.
Android is working fine.
I'm not really sure whats the issue or if coturn is the issue.
But when I remove the turn Server from BigBlueButton it works without a Problem on iOS.
I hope tht i have provided all necessary logs and configs.

Th

[2020-05-28 11:20] tfreedman opened #563 "coturn external-ip from DNS?"
I have a coturn server running on my NAT, but do not have a static IP address from my ISP. However, I have DDNS set up for all other network services, such that my domain name always points to my current IP address. Given the way coturn's config file works, I would have to script ddclient to rewrite coturn's config file with my current IP address and restart coturn to use the new config each time

[2020-05-28 16:47] DevRockstarZ opened #564 "How can I use coturn on AWS EC2 or GCP VM when client is IPv6?"
Only IPv4 (LTE) can use TURN / STUN server,

but IPv6 (5G) can't use TURN / STUN server.

How can I solve this problem?

Do I have to use load balancer?

I installed coturn on EC2 and VM, but IPv6 user can't access to it.

Please help me...

[2020-05-29 09:35] Spring3Coke opened #565 "Why always turn fail when using the physical machine deployment in the computer room"
When I build coturn on the cloud service, he can return the done correctly, but when I use the physical machine in the machine room to build, it always gets stuck and times out and fails. I do n’t know what the reason is, which is very strange, I use the same deployment method. Can someone tell me what will be different when the physical machine is deployed?

Below is the error message：

Time | Co

[2020-06-01 10:18] NorryNew commented on #469
That is what I did:
CronJob runs after disconnect the Internet to prevent the provider will do it:
output=`wget https://ipv4.nsupdate.info/myip -O - -q ; echo` &&
sed -i "/^external-ip=/ c external-ip=$output" /etc/turnserver.conf
sudo service coturn restart

[2020-06-01 10:42] Spring3Coke opened #567 "TLS is not supported"
Why my coturn reports "TLS is not supported"?Is there any wrong with my service?Thank you！

[2020-06-03 02:44] #564 closed

[2020-06-03 04:53] sdjksdafji commented on #564
@DevRockstarZ Hi Patrick, I have the same issue with ipv6 only netowrk (5G), how did you solve the issut?

Thanks in advance

[2020-06-03 05:03] DevRockstarZ commented on #564
You can use ipv6 network through AWS ELB.
I used AWS Elastic Load Balancer to use ipv6 network.
I just created AWS EC2 and configure EC2 with ELB.

[2020-06-03 05:15] sungwoo91 opened #568 "How many udp ports are needed to communicate with peers via turn server?"
Hello,

I implemented WebRTC application and use coturn for turnserver.
We conducted a performance test and the following result was obtained.

All users are in the same room. And Network A and B are separated.

Network A : 5 people
Network B : 5 people

As a result of the test, 180 udp ports were used.

Is it correct that 10 users used 180 ports in two separate networks?
If this is correct, is th

[2020-06-03 17:19] sdjksdafji commented on #564
@DevRockstarZ I suspect the same thing but I have not verified end2end. Have you verified that after adding ipv6 listening, the issue of not connecting under 5G has gone?

[2020-06-04 02:07] DevRockstarZ commented on #564
@sdjksdafji I didn't configured ipv6(by VPC) on ELB and EC2.
I tried to configure ipv6, but it occured error.
So I configured default VPC and EC2 and ELB.
And I tried with by 5G device and LTE device, it worked really fine.

[2020-06-04 04:12] sdjksdafji commented on #564
@DevRockstarZ Thanks for the information, but I am confused about your description. Did you setup the ipv6 for the coturn server eventually?

I am trying to figure out if the root cause is the ipv6 only network in 5G. My observation is that at least the http request to ipv4 works fine in the ipv6 only (5G) network.

I did setup the ipv6 on ec2 but I don't have access to the 5G network myself. I am

[2020-06-04 04:41] DevRockstarZ commented on #564
@sdjksdafji  I didn't setup ipv6 things on EC2, VPC and ELB.
Just create EC2 and VPC configure ipv4 (not ipv6) and Elastic Load Balancer(ELB) will automatically transform ipv6 to ipv4 and send data to EC2.

[2020-06-04 16:53] sdjksdafji commented on #564
@DevRockstarZ Thanks. This makes sense. Glad to hear that the root cause is ipv6.

[2020-06-08 08:43] SDCRoman opened #569 "Coturn does not create logs"
I have a webrtc app, which works.

I want to understand what my stun/turn servers do.

My log config in turnserver.conf looks like this:

[code]

In the config it tells me that the default location for log files is:

`/var/log`

I checked this location and I have indeed some log files there, only for 3 days, which are super old. Maybe at the beginning I had a config, which worked. I dont know. I c

[2020-06-08 11:18] ZergOnLinux opened #570 "Logging"
Hello,

is there a way to add timestamps in the logging?

Is there a way to just log errors? Or log errors and successful messages in different files?

If there is a way, I haven't found it yet.

Best

[2020-06-08 15:41] Caaalabash commented on #400
Same problem, @pyzhangfan do you fix it?

[2020-06-08 15:56] Caaalabash commented on #400
![](https://static.calabash.top/blog-media/file/file-QQ20200608-235049@2x.png)

![](https://static.calabash.top/blog-media/file/file-QQ20200608-235223@2x.png)

Same problem, in the test: stun is not work (turn is ok). But in production enviorment, stun works~

[2020-06-09 08:14] DevRockstarZ opened #571 "About turnserver Wiki docs"
There are no longer ---no-loopback-peers option in the Wiki docs.

It should be changed to

[code]

Thanks!

[2020-06-10 17:53] CamJN opened #578 "local testing doesn't work, remote seems to."
I've got coturn installed locally on my dev machine, and on a staging server. On the staging server  the rest api seems to work, and I get host, relay, and srflx candidates. But on my local dev box, I only get host responses. I've verified that the application is reading the shared secret from the database correctly in both cases, and have the server-name/realm match the hostname in both cases.

L

[2020-06-11 05:43] JarnoVgr commented on #567
Could you post your full log?

[2020-06-12 01:19] ttbek commented on #54
Why was this closed?

[2020-06-15 02:18] chanduthedev commented on #578
HI @CamJN ,
what is your network structure for your dev machine? signalling server and coturn are in the same network?

[2020-06-15 02:21] CamJN commented on #578
@chanduthedev yup, for the dev box coturn and the signalling server are the same box, in fact everything is running on the same box in that case.

[2020-06-15 02:53] chanduthedev commented on #578
@CamJN if all are in the same network, this is expected behavior. AS per ICE protocol, there is a priority for candidate host, relay, and srflx. Candidate host(local) gets highest priority even relay and srflx configured.

[2020-06-15 02:55] chanduthedev commented on #578
@CamJN your stagging working due to signalling server and coturn are in different server and no host candidate available.

[2020-06-15 06:55] Sudheerkumar commented on #332
Hi, I Am seeing the similar issue but this happens when a client is inactive for about 7-10mins.

my stale-nonce flag is comment but not removed from the `turn server.conf` file. ANy inputs, please?

[2020-06-15 11:00] imesut commented on #332
Hello @Sudheerkumar

Could you share other details, which application you're using, did you set up turn/stun credentials on the client? It's important to share your turn log also.

You can also enable stun time, you can share your results when you enabled it may be increased it to 1000 or anything bigger than 600.

So we can propose a solution. I understand that nearly in all of the cases, client-

[2020-06-15 11:59] c0r3dump3d opened #580 "coturn ha with haproxy problem"
Hi, I'm trying to use coturn in HA with haproxy in tcp transparent mode for a BBB service. But I found that with some clients, not all, has an error with ICE (1007). If I change in BBB to a coturn server that doesn't pass for the haproxy the BBB works fine,  it seems a problem of coturn behind haproxy. Does anyone have experience with coturn and haproxy?

In the log I see only that the client sudd

[2020-06-15 16:45] CamJN commented on #578
https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/ says that the coturn server is unreachable on my dev box (I'm guessing that the "host" replies are generated by the browser maybe)

[2020-06-15 21:32] enoch85 commented on #569
Same here, when I change the log file to `/var/log/whatever/turnserver.log` it doesn't write anything to it. I've tried setting `777` and `turnserver:turnserver` and `root:root` - nothing helps.

Guidance would be appriciated.

My config:
[code]

[2020-06-16 10:31] idmacdonald commented on #480
I have a dedicated coturn server that I am using with Jitsi Meet. With coturn version 4.5.1.1 I am seeing that 'TLS/TCP socket buffer operation error (callback)' when Chrome or other clients that use the BoringSSL library connect to my installation.

I have tried various cipher-list and SSL settings in my coturn configuration, but nothing I've tried so far seems to solve the problem.

I've not yet

[2020-06-16 12:03] Astagor opened #581 "API key expiration"
As the API keys are valid for 1 year, so you have to remember to update  every year all configurations using the API to get the TRUN servers. Maybe the keys should be valid for a longer time or you can set while creating that they never expire, just like the login and password. Of course in the admin, you could manually revoke a key, if it gets compromised.

[2020-06-16 12:14] misi commented on #581
Your request is not related to coturn.. Sorry I close it here. It is related to edu implementation.
https://github.com/misi/stun-ansible

[2020-06-16 12:15] #581 closed

[2020-06-17 04:07] lockywolf opened #582 "The google group from the README doesn't exist or is not public"
The google group for coturn, listed in the README, [https://groups.google.com/forum/#!forum/turn-server-project-rfc5766-turn-server](https://groups.google.com/forum/#!forum/turn-server-project-rfc5766-turn-server) is apparently deleted, or not public. Cannot be opened.

[2020-06-17 10:12] felixdoerre opened #583 "Reporting a security issue: CVE-2020-4067"
Hi, I would like to report a (potentially exploitable) security issue in coturn, but I am not sure what the expected process is and if you desire to discuss this issue confidentially until it is resolved.

Regarding the criticality/impact: I am not completely sure, what the impact is, but I can imagine that this can be practically exploited depending on the exact scenario where coturn is used in.

[2020-06-17 13:27] fippo opened #584 "port blocking woes -- don't lock yourself out"
if one applies the very reasonable advice from https://www.rtcsec.com/2020/04/01-slack-webrtc-turn-compromise/#how-to-fix-an-open-turn-relay-to-address-this-vulnerability
there is an issue when using an external ip. It gets blocked.
Workaround: allow your external ip using --allowed-peer-ip

Suppose the following config:
[code]
and the following piece of javascript
[code]
(pc2.onicecandidate is co

[2020-06-17 13:32] misi commented on #583
Please send it to me: misi@majd.eu

[2020-06-18 10:53] paulmenzel opened #585 "No response is sent when request does not have http/1.1 ALPN extension"
With Coturn 4.5.1.1-1.1 set up in front of a Jitsi installation, no reply is received from the server, when no http/1.1 ALPN extension is sent.

    $ curl --no-alpn https://jitsi.molgen.mpg.de
    curl: (52) Empty reply from server

It works with the ALPN extension.

    $ curl -I https://jitsi.molgen.mpg.de
    HTTP/2 200
    server: nginx/1.14.2
    date: Thu, 18 Jun 2020 10:52:37 GMT
    conte

[2020-06-19 16:02] felixdoerre commented on #585
Yes, this is what the jitsi nginx config is set up to do: https://github.com/jitsi/jitsi-meet/blob/47cffeb00ab217fe208cf551adad9dfd2fd362a6/doc/debian/jitsi-meet/jitsi-meet.conf#L16
The problem is, that normal turn clients don't send a ALPN extensions so the only sane configuration is to default to turn. Of course that breaks non-alpn https clients, but that is the trade-off that jitsi makes at th

[2020-06-19 18:23] paulmenzel commented on #585
Interesting. Thank you for pointing this out.

I still have a couple of questions.

1.  I had the same problem, when Coturn was listening on port 443.
2.  Coturn is configured with `no-tcp`: https://github.com/jitsi/jitsi-meet/blob/47cffeb00ab217fe208cf551adad9dfd2fd362a6/doc/debian/jitsi-meet-turn/turnserver.conf#L10. Is that why no response is sent.
3.  Shouldn’t Coturn proxy the packet back to

[2020-06-20 00:30] felixdoerre commented on #585
Regarding 1: I assume that you got not response with curl when coturn is on 443 (even with specifying alpn). Yes this is expected. Coturn does not speak the http protocol, only the turn/stun protocol
Regarding 2: the `no-tcp` option does not imply the `no-tls` option. And the TLS sockets are used in this context.
Regarding 3: I am not aware of any coturn mechanism that actively detects http traffi

[2020-06-20 07:51] paulmenzel commented on #585
Thank you for you replies. I guess I still do not know how Coturn (or a STUN/TURN server) works. ;-)

[2020-06-20 07:51] #585 closed

[2020-06-22 18:04] CamJN commented on #578
@chanduthedev also in staging the signalling server and coturn are on the same server too, hoever no host candidate is available, that is true.

[2020-06-23 02:43] rajil commented on #480
I am getting this error in 4.5.1.2 using with matrix-synapse webrtc.

[2020-06-23 05:42] misi commented on #584
@fippo Sorry for my delayed reply. I am working on #583 after it I will get back to you.

[2020-06-23 07:13] chanduthedev commented on #578
@CamJN For local network, host candidate should be there. Please verify your network once.
Refer below RFC link for candidate priority.
https://tools.ietf.org/html/rfc5245#section-4.1.2

[2020-06-23 16:17] MichaIng commented on #570
Nope, no logging level/verbosity or differentiation possible for now, at least not via config file or command options.

I was looking for this feature as well since Coturn is very verbose by default. For SDcards and similar such verbose file logging is too much and when switched to `syslog` or `tmpfs` you need to have quite some RAM resources.

Probably not what you want, but on SDcard-based SBCs

[2020-06-23 17:18] MichaIng commented on #507
I can confirm it behaves a bid unexpected: Debian repo build 4.5.1.1-1.2 (Bullseye)

On service start, `journalctl` (via systemd, no daemon mode, `Type=simple`) does not show any entries until I force some fresh log via client. Then all the startup logs + the new logs appear at once with identical timestamps:
[code]
The timestamps match the client call exactly (failure expected due to missing cred

[2020-06-23 21:32] kesupile commented on #511
The docs say that WebRTC won't work with no-auth:  https://github.com/coturn/coturn/blob/master/README.turnserver

(Line 594).

However I've configured my user accounts, but I'm still seeing the timeout issue...

[2020-06-23 21:37] kesupile commented on #397
Same, I'm also having this exact problem

[2020-06-24 02:53] kskewes commented on #240
For anyone finding this issue like me, it appears that:

1. Google publish a `roots.pem` for use in embedded devices/etc "to talk to Google services". It has some other CA's but not all (including those that sign Let's Encrypt - IdenTrust/DST...) and list appears to have shrunk over M## releases.
2. Many random apps on GitHub/etc fetch this `roots.pem` file probably because it's convenient and the

[2020-06-24 07:23] misi commented on #584
You used in your report 127.0.0.1 as ICEservers in the ICE agent/browser that I think is causing the issue.
You should set the global IP address of your turn server.
Have you tried it that way?

[2020-06-24 08:27] fippo commented on #584
yes, I actually found out while debugging the meet.jit.si production servers. Reproduces on AWS instances as well.

[2020-06-24 08:37] misi commented on #584
@fippo Sorry but I don't fully understand your answer.
If you use public ip in ICE servers config does solve the problem or not?

If it still does not work, then can you please share more details about the ICE connection logs or what you tried and how can I reproduce it?

[2020-06-24 09:56] scott17090025902 opened #586 "SQLite connection was closed."
when exeute  "turnadmin -a -u gst -p 123456 -r demo",appear this message.
--db /usr/local/var/db/turndb is not useful.
turnserver.conf  userdb=/usr/local/var/db/turndb is not useful two.

[2020-06-24 18:12] fippo commented on #584
@misi it doesn't matter that I used localhost as an ip but I thought it would be easier to reproduce.

The same happens if I configure it on a GCE instance, e.g. with
[code]
for an instance I spun up (and allowed udp) and the rest of the configuration as above and then modifying the JS to use 35.223.199.204 instead of 127.0.0.1.
Wireshark dump (pcapng, zipped): [denied.zip](https://github.com/cotu

[2020-06-24 18:46] misi commented on #584
Can I ask you to share your browser (ICE agent) logs too?

[2020-06-24 18:54] misi commented on #584
Many thanks for the detailed report I will try to fix it.

[2020-06-24 19:11] fippo commented on #584
chrome debug logs (do you know how to interpret them? Then beware, you are being volunteered to write a webrtchacks post!) or webrtc-internals?

i'm not sure what the best way to fix this is but suspect that simply adding the external ip to the whitelist by default is the most side-effect free change.

[2020-06-25 04:19] Neustradamus commented on #400
@misi: Can you look?

[2020-06-25 04:22] chanduthedev commented on #586
Hi @scott17090025902 make sure db file has write permission. I also faced this issue, DB was updated once I update write permissions by giving DB file to admin access. Below is the command I used for adding user to the db.

`turnadmin -k -a -u chanduthedev -p test -r demo -b ~/Downloads/STUN_TURN/turndb `

[2020-06-25 04:23] Neustradamus commented on #399
@misi: Can you look?

[2020-06-25 04:23] Neustradamus commented on #395
@misi: Can you look?

[2020-06-25 04:23] Neustradamus commented on #396
@misi: Can you look?

[2020-06-25 04:23] Neustradamus commented on #399
@misi: Can you look?

[2020-06-25 04:24] Neustradamus commented on #345
@misi: Can you look?

[2020-06-25 04:27] Neustradamus commented on #505
@misi: Can you look?

[2020-06-25 04:31] Neustradamus commented on #550
@misi: It is solved now?

[2020-06-25 04:32] Neustradamus commented on #546
@misi: Can you look?

[2020-06-25 04:40] Neustradamus commented on #543
@misi: Can you look?

[2020-06-25 04:42] Neustradamus commented on #541
@misi: Can you look?

[2020-06-25 05:02] chanduthedev commented on #505
HI @Sudheerkumar, if signallng server and coturn are in the same network, relay ICE cadidate will not generate. ICE candidate generating basing on priority. You can check https://tools.ietf.org/html/rfc5245#section-4.1.2 link more info. If signalling server and coturn are in the same network only host ICE candidates will generate.

[2020-06-25 05:19] Neustradamus commented on #520
@misi: Can you look?

[2020-06-25 05:22] Neustradamus commented on #515
@misi: Can you look?

[2020-06-25 05:34] Neustradamus commented on #511
@misi: Can you look?

[2020-06-25 05:41] Neustradamus commented on #582
@misi: Can you look?

[2020-06-25 05:48] Neustradamus commented on #571
@misi: Can you look?

[2020-06-25 06:10] Neustradamus commented on #565
@misi: Can you look?

[2020-06-25 06:13] Neustradamus commented on #562
@misi: Can you look?

[2020-06-25 06:16] Neustradamus commented on #558
@misi: Can you look?

[2020-06-25 06:20] Neustradamus commented on #555
@misi: Can you look?

[2020-06-25 06:21] Neustradamus commented on #552
@misi: Can you look?

@feinerer A PR?

[2020-06-25 06:34] Neustradamus commented on #362
@misi: It is fixed?

[2020-06-25 06:36] Neustradamus commented on #363
@misi: It is solved?

[2020-06-25 06:45] misi commented on #584
I will fix it after the next release. Your idea to add one IP automatically is simple nice and clean.
I will try to find time to test it. So I can collect than myself everything and see the full picture with logs.
Chrome, Firefox browser logs, and webrtc-internals.

[2020-06-25 09:20] daxiondi commented on #122
On CentOS (and other RPM-based distributions), you need to install the openssl-devel package:

sudo yum install openssl-devel
(Use sudo dnf ... on CentOS 8, RHEL 8 or Fedora.)

The equivalent in the Debian ecosystem is libssl-dev

[2020-06-25 13:31] daxiondi opened #587 "Started the trunserver, but the port was not monitored"
Started the trunserver, but the port was not

`0: log file opened: /var/log/turn_5206_2020-06-25.log
0: WARNING: Cannot find config file: /usr/local/coturn/etc/turnserver.conf.defaul. Default and command-line settings will be used.
0: WARNING: Cannot find config file: /usr/local/coturn/etc/turnserver.conf.defaul. Default and command-line settings will be used.
0:
RFC 3489/5389/5766/5780/6062/6156

[2020-06-25 21:23] Neustradamus commented on #376
@misi: Any news?

[2020-06-25 23:01] Neustradamus commented on #383
@misi: Can you look?

[2020-06-25 23:01] Neustradamus commented on #427
@misi: Can you look?

[2020-06-25 23:01] Neustradamus commented on #394
@misi: Any news?

[2020-06-27 14:23] scott17090025902 commented on #586
Thank You.Maybe is version's error.When I reinstall,it fixed.

[2020-06-27 19:54] K12AZ opened #588 "Can use this as a ICE Server?"
Hello,

Could you able to tell me, this application can I use it as a ICE Server?

Looking forward

Thanks & Regards,

[2020-06-28 05:58] misi commented on #588
Yes

[2020-06-28 07:24] #587 closed

[2020-06-28 15:06] #588 closed

[2020-06-28 15:10] K12AZ commented on #588
Thank you

[2020-06-28 15:17] K12AZ opened #589 "Proxied Cloudflare to AWS ec2 - Coturn"
I have installed coturn on AWS EC2. (Static IP)

1. Works fine
---------------

DNS Managed by Cloudflare
I have created a subdomain turn.example.com and pointed to AWS EC2
This setup works fine.

Works fine means, two peers are connected and videos transmitted.

2. Not working
-----------------

When I proxied to AWS EC2, not working.

Does anyone face this issue? Looking forward

[2020-06-29 13:25] 519790441 opened #590 "crash in coturn-4.5.0.8"
I have several coturn servers to run RFC6062 relay service, one server crashes every other month or so, and the other servers are normal.

bind: Address already in use
bind: Address already in use
bind: Address already in use
bind: Address already in use
bind: Address already in use
bind: Address already in use
*** glibc detected *** turnserver: corrupted double-linked list: 0x00007ff88189fd20 ***

[2020-06-29 15:46] felixdoerre commented on #583
The security issue was resolved and the corresponding [security advisory](https://github.com/coturn/coturn/security/advisories/GHSA-c8r8-8vp5-6gcm) was published. I believe this issue is resolved now.

[2020-06-29 15:46] #583 closed

[2020-06-29 18:44] vi opened #591 "Are there plans to use io_uring on Linux?"
Is see `Kernel module for data channels.` entry in the TODO file. Maybe `io_uring`-based interface can be equivalent accelerator for data channels without requiring to do kernel things?

Are there any plans to use it? If not, are you open for contributions that add `io_uring`-based acceleration for data channels?

[2020-06-29 19:22] misi commented on #584
@fippo  I am wondering about in your use case the NAT is a DNAT, right?
This way I am thinking about what if we do not map PEER-ADDERESS at all.
What do you think?

[2020-06-29 19:31] misi commented on #583
Thanks @felixdoerre for the report, and for your help, and cooperation!

[2020-06-29 19:33] misi commented on #590
Please upgrade to the latest versions 4.5.1.3 and test it if the issue still exists

[2020-06-29 19:35] misi commented on #589
What do you mean proxied to AWS EC2?
DNAT?

[2020-06-29 19:38] misi commented on #582
@Neustradamus  @lockywolf  I can open the link. Can you please double check, and if you still can't open it please let me know.
Thanks!

[2020-06-29 19:39] misi commented on #580
I don't have a setup with HA proxy so unfortunately I can't provide you help.

[2020-06-29 19:42] misi commented on #571
Thanks for the report and sorry I will try to fix it.
Yes I need to update the wiki, but I unfortunately I don't have time even more important things.

[2020-06-29 19:48] misi commented on #569
Check file in /var/log/turnserver/, /var/log, /var/tmp, /tmp
https://github.com/coturn/coturn/blob/8c6b2f6135a51e7811191cd73b1bd2914f15aa6d/README.turnserver#L474

[2020-06-29 19:51] misi commented on #568
IT depends of your webrtc application and setup. multiplexing rtp/rtcp, and bundling.

[2020-06-29 19:54] misi commented on #567
Check your config and if you compile it with the needed dependencies.

[2020-06-29 20:40] enoch85 commented on #569
@misi Sure, it's there, but shouldn't it be configurable to which ever path you want?

[2020-06-30 01:04] lockywolf commented on #582
Seems to be working now.

[2020-06-30 01:04] #582 closed

[2020-06-30 01:45] 519790441 commented on #590
OK, I will try the latest version later.
Also, is the problem related to multithreading?
When I configured, the default parameters were used, so that one CPU used one thread.
This server, which often suffers from crashes, has 4 CPUs. Other servers that are working properly and will not crash have only 2 CPUs.

[2020-06-30 10:01] c0r3dump3d commented on #580
Ok, but it's a problem that coturn doesn't work with haproxy because haproxy doesn't work with upd traffic?

[2020-07-01 03:47] K12AZ commented on #589
![image](https://user-images.githubusercontent.com/63956726/86200921-95bb8280-bb90-11ea-95f7-9de0de9aebdf.png)

I mean this

[2020-07-01 10:35] EchoXBR opened #592 "incoming packet message processed, error 403: Forbidden IP"
there was something wrong,I can't use vedio call between 4G  device and wifi device
I notices that error log 'incoming packet message processed, error 403: Forbidden IP' ,I don't know how to fix it.
Here is the log

3752: session 012000000000000001: realm <test> user <>: incoming packet BINDING processed, success
3752: handle_udp_packet: New UDP endpoint: local addr 192.168.1.146:3478, remote addr

[2020-07-02 01:25] EchoXBR commented on #592
Version Coturn-4.5.1.2 'dan Eider'

[2020-07-02 02:48] EchoXBR commented on #592
To be precise, 4G mobile phones send video calls to the browser. After the browser receives the request, neither end can see the other's video. However, when the browser sends video calls to 4G mobile phones, it can be normal

[2020-07-02 05:58] kskewes commented on #476
What TLS CA are you using?
Safari only supports a small subset of Root CA's and unfortunately we've found that Let's Encrypt is not one of them.
In `coturn` logs we see TLS failures from Safari (Mobile & Desktop) clients. We don't see them proceed to the later auth/bind stages.

See: https://bugs.chromium.org/p/webrtc/issues/detail?id=11710

[2020-07-02 06:27] misi commented on #565
error code 701 cause IPv6 many times, and it is not always a real error..

[2020-07-02 17:29] yurivict opened #593 "CVE-2020-4067: STUN/TURN response buffer is not initialized properly"
Is this issue resolved?

Could you please make a release once it is resolved?

[2020-07-02 19:41] misi commented on #593
Yes it is resolved in the latest release. See: https://github.com/coturn/coturn/security/advisories?state=published

[2020-07-02 19:48] yurivict commented on #593
Ok, thanks!

[2020-07-02 19:48] #593 closed

[2020-07-03 14:16] Rohit-Simulanis commented on #122
Hi I am trying to install Coturn but getting error.
Cannot use Compiler unknown property
<img width="399" alt="Screenshot 2020-06-30 at 2 19 53 PM" src="https://user-images.githubusercontent.com/26364916/86477349-df10fb00-bd65-11ea-9b57-c8e96606f795.png">

[2020-07-04 01:40] daxiondi commented on #122
Depending on what seems like a permission issue, you can try
```chmod 777 /var/ tmp/*```

[2020-07-04 01:42] daxiondi commented on #122
If there are more issues, welcome to QQ group 959024679

[2020-07-09 14:09] fippo commented on #584
@misi sorry for the delay! That is the normal aws or gce deployment (a bit sad but...)
Since [this](https://github.com/coturn/coturn/blob/4badbbf018733810c98af3e0a519383cdb969f86/src/client/ns_turn_msg.c#L1474) seems to be the only place where the backmapping happens it might be easy to remove.
But adding the external ip to the whitelist is less risk and requires less testing ;-)

[2020-07-10 00:03] iroach opened #594 "Need run time config option to use alternative behavior for TTL"
We are running coturn on AWS and getting up to 38 hops from the client to the end server. Our endpoint is connecting to another provider's endpoint that is also using coturn on AWS. The result is that there are more than 64 hops causing the video packets to get dropped. We reviewed RFC 5766 and found that there is an alternative behavior for TTL which specifies that the TTL should get reset to the