[2020-07-10 08:28] #568 closed

[2020-07-10 19:24] khaireddines commented on #492
@xthursdayx please i have the same problem please share anything if you got a solution

[2020-07-10 22:53] jodoma opened #595 "What is causing "Peer Address Family Mismatch (4)" in dual stack operation"
I am running two coturn servers as part of a bigbluebutton (BBB) installation. Each of the servers is listening to an IPv4 and an IPv6 address. Originally, both also had an IPv4 and an IPv6 relay-ip. Yet, this resulted in IPv4-only relay addresses returned under all circumstances making it impossible to reach IPv6-only backend services.

In consequence, we configured one coturn server with only on

[2020-07-15 09:19] freemaths opened #596 "turnserver[1424]: ERROR: Cannot open log file for writing"
turnserver[1424]: ERROR: Cannot open log file for writing: /var/log/turn_2020-07-15.log

If config is changed to use log rather than syslog then the above error results and no logging is produced. Note: /var/log exists and is fine for all other logging (and indeed contains syslog which coturn logs to using the default config).

[2020-07-17 02:50] phpisfuture commented on #50
I specified that the latest version of OpensSL still throws the same error.

[2020-07-17 03:02] phpisfuture opened #597 "Can CoTurn be installed on macOS？"
Can CoTurn be installed on macOS？

./configure is success,but make reports an error,So how do we solve this？

1 warning generated.
Undefined symbols for architecture x86_64:
  "_FIPS_mode", referenced from:
      _stun_produce_integrity_key_str in libturnclient.a(ns_turn_msg.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invoc

[2020-07-17 18:51] JonathanLennox opened #598 "TURN allocations over IPv6 return IPv6 allocations, even without keep-address-family"
TURN allocation requests which do not specify a REQUESTED-ADDRESS-FAMILY attribute are supposed to be given IPv4 addresses, according to RFC 6156.

However, CoTurn does not do this for allocations made over IPv6, even when the --keep-address-family configuration parameter is not set.  In my testing, allocations made over IPv6 always return IPv6 allocations.

This means that an IPv6-only host (or a

[2020-07-21 07:12] lekhnath commented on #361
@misi I generated hashed password using following command:
[code]
And updated configuration file `/etc/turnserver.conf` as follows:
[code]

and then re run the `turnserver` command but still getting the same error message that says **CONFIG ERROR: Empty cli-password, and so telnet cli interface is disabled! Please set a non empty cli-password!**

What should I do next to apply the configuration ch

[2020-07-21 07:46] lekhnath commented on #361
@misi never mind I was using `-n` option in `turnserver` command which was bypassing the configuration file. :)

[2020-07-21 23:08] JonathanLennox commented on #595
The TURN spec says that a ALLOCATE request without a REQUESTED_ADDRESS_FAMILY option should always return an IPv4 address.  (There are bugs in coturn where this isn't always honored, see Issue #598, but it is in this case.)

If the client wants an IPv6 address, it needs to explicitly request one.  (Either with REQUESTED_ADDRESS_FAMILY or ADDITIONAL_ADDRESS_FAMILY.)

Alternately you can set the kee

[2020-07-23 18:25] jtague87 commented on #569
I also seem to be having this problem. No matter what I do, I cannot get any connection logs to come through when testing from Trickle-ICE. Any insight @misi ?

[2020-07-24 07:57] lininn commented on #336
yum install gcc gcc-c++

[2020-07-27 15:32] rasos commented on #214
I think you can't use both user authentification and the secret mechanism in parallel:

[code]

[2020-07-27 16:47] rasos commented on #355
I am just getting

[code]

and if I connect with `https` nothing happens.

[2020-07-31 14:36] ycaibb opened #600 "A use-after-free vulnerability"
Hi, there is a potential use-after-free bug, if you think so please confirm and fix

In the file coturn/src/server/ns_turn_server.cm, the _write_to_peerchannel function_(line 4190) freed the nbh at 4134 and use it at line 4138.

`rc = send_data_from_ioa_socket_nbh(get_relay_socket_ss(ss, chn->peer_addr.ss.sa_family), &(chn->peer_addr), nbh, in_buffer->recv_ttl-1, in_buffer->recv_tos, &skip);` // l

[2020-07-31 14:47] ycaibb opened #601 "A use-after-free vulnerability"
Hi, there is a potential use-after-free bug, if you think so please confirm and fix

In the file coturn/src/server/ns_turn_server.cm, the _write_client_connection_(line 4276) freed the nbh at 4293 and use it at line 4297.

`int ret = send_data_from_ioa_socket_nbh(ss->client_socket, NULL, nbh, ttl, tos, &skip);` // line 4293

`ss->sent_bytes += (uint32_t)ioa_network_buffer_get_size(nbh);` //4297

T

[2020-08-01 14:19] 532910 opened #602 "/var/log/turn_*.log are created"
This is sync of https://bugs.debian.org/966671

with `/etc/turnserver.conf`:
[code]

it creates a lot of turn_*.log files

[2020-08-03 08:48] 532910 opened #603 "log is spammed"
Currently my TURN server is under some kind of attack. Just arrives several STUN Binding Requests per second. From not my clients and most source IPs are listed in spamhaus or sorbs.

The problem is that logs are bloated with `incoming packet BINDING processed, success` (`incoming packet message processed, error 401: Unauthorized` with `secure-stun` and `handle_turn_command: STUN method 0x1 ignore

[2020-08-03 08:50] misi commented on #597
According travis it works with xcode 10.3 and xcode 9.4

[2020-08-03 08:55] misi commented on #596
Check which uid and gid runs coturn and if it can write the /var/log.  Normally /var/log owned by root.root but coturn runs  turnserver:turnserver uid:gid.

[2020-08-03 09:02] misi commented on #600
Thanks I will try to check it.

[2020-08-03 09:03] misi commented on #601
Thanks I will try to check it.

[2020-08-03 09:03] misi commented on #598
Thanks I will try to check it.

[2020-08-03 09:05] misi commented on #580
It depends on TURN client settings so Browser/BBB settings

[2020-08-03 09:06] misi commented on #561
Sorry for the late reply. I am busy with other tasks
Can you please send PR with it?

[2020-08-03 10:15] misi commented on #603
Can you please send Pull Request with the proposed fix. I am busy with other fixes.

[2020-08-03 10:18] 532910 commented on #603
I'm not sure how this should be fiexed. For example [eturnal](https://github.com/processone/eturnal) just doesn't log such requests.

[2020-08-03 11:49] misi commented on #600
Why have you closed this issue?

[2020-08-03 12:21] ycaibb commented on #600
Sorry, I thought you had been notified and would look at them.

[2020-08-03 12:22] misi commented on #600
Thanks! Let's reopen it..

[2020-08-03 12:23] misi commented on #601
Reopened..

[2020-08-03 13:45] bhspencer opened #604 "how can I disable stale-nonce"
I would like to disable stale-nonce such that a nonce lasts forever.

I see in config file

# By default, the nonce value is unique for a session,
# and has unlimited lifetime.

However, despite not setting a stale-nonce in the config I find that I am still getting 438 stale nonce responses after 600 seconds. I am using the lt-cred-mech. Is it possible to prevent a nonce from becoming stale.

The

[2020-08-03 16:13] bhspencer commented on #604
Looks at the code it seems I can set:

stale-nonce=0

To keep the nonce from going stale. Is that correct?

[2020-08-03 17:03] c0r3dump3d commented on #580
What is that dependency?

[2020-08-03 19:06] misi commented on #603
We should make log levels more sophisticated to log only what operator wants,
or try to use syslog and then you can filter it.

[2020-08-03 19:07] misi commented on #604
I run through the code to check, and I see that nonce initialized to 600 sec
STUN_DEFAULT_NONCE_EXPIRATION_TIME
in turn_params initialization
https://github.com/coturn/coturn/blob/87d85f06bd50f81564ccef49df515d26f7801a86/src/apps/relay/mainrelay.c#L146
and if no value set
https://github.com/coturn/coturn/blob/87d85f06bd50f81564ccef49df515d26f7801a86/src/apps/relay/mainrelay.c#L1322

I didn't yet f

[2020-08-03 20:05] bhspencer opened #605 "tcp_peer_accept_connection: cannot set TCP peer data input callback"
With some frequency when a peer tries to connect to an allocated port the peer gets a connection reset and I see this in the coturn log

3118: IPv4. tcp accepted from: 64.99.230.16:50771
3118: tcp_peer_accept_connection: cannot set TCP peer data input callback

Typically the peer might have to try connecting a couple more times before getting a connection.

Can anybody shed some light on the meani

[2020-08-03 20:43] misi commented on #605
Which version do you run in which OS, env, ssl version?
(If you do not use the latest code then try to upgrade.)

Do you have a tcpdump about the issue? Which socket type do you use TCP or TLS?
AFAIU this registers the socket with a call back function on the async io event handler engine.

It will help a lot if you can try to debug which line of the `register_callback_on_ioa_socket` function retur

[2020-08-03 21:13] misi commented on #580
How you set iceServer url in your browser, to use udp or tcp transport.

[2020-08-04 03:37] wcxdhr opened #606 "dyld: Symbol not found: _evthread_lock_fns_ & Expected in: flat namespace"
When I run
`turnserver`
The error occurs:
[code]

I tried to reinstall libevent, but the error didn't disappear.
OS: MacOs Catalina 10.15.5

[2020-08-04 05:54] misi commented on #606
See:
coturn root dir the .travis.yml file
According it should work. It seems that it compiles, and also the basic test runs fine.

I test it with various osX image.
See: https://docs.travis-ci.com/user/reference/osx/

Sorry but I use Linux so I can't test it myself.

[2020-08-04 11:20] misi commented on #602
Hi @532910  With which OS which coturn version do you experience this issue?

[2020-08-04 11:39] 532910 commented on #602
debian stable, 4.5.1.1-1.1+deb10u1

[2020-08-04 18:11] yurivict opened #607 "With --disable-static --enable-shared it still builds only a static library"

[2020-08-05 07:50] alnet82 opened #608 "DONT FRAGMENT bit on TURN connections"
I'm trying to discover path MTU over a relayed link. According to RFC 5766, if a client sends packets with DF bit on, TURN server should set it too in a packet going to the peer.
Is this the behavior in coturn?
Moreover, the RFC suggests to include DF attribute in Allocate request. Not sure though, how to do that...

[2020-08-05 07:53] misi commented on #608
serch for `dont_fragment` in the source..
Yes it should work according RFC.

[2020-08-06 21:28] samuel-p commented on #474
@misi Can you roughly say when the next release will be? I'm waiting for this in your docker image. At the moment I get still:

[code]

It would be awesome to have this feature.

[2020-08-07 14:18] ohameiri opened #609 "Architecture for load balanced Coturn cluster"
Hi
Having some issues while trying to set up a load balanced auto scaled coturn cluster.

Anyone had any experience with this?
Amy documentation regarding this issue?

10x

[2020-08-07 14:20] ohameiri commented on #609
(using AWS)

[2020-08-07 14:45] ohameiri commented on #468
+q

[2020-08-08 08:18] 315567599 opened #610 "ERROR: allocation watchdog determined stale session state"
**Dear，help me**

**coturn start command**:  turnserver -a -o -v -n -u user:jiangchao -p 3478 -L 192.168.0.171 -r shanghai -X 124.71.128.163/192.168.0.171  --no-dtls --no-tls

**coturn error log:**

264: session 000000000000000001: realm <shanghai> user <>: incoming packet BINDING processed, success
274: session 000000000000000001: realm <shanghai> user <>: incoming packet BINDING processed, succe

[2020-08-09 11:02] Neustradamus commented on #552
@misi: Can you look? There is a PR!

[2020-08-09 13:39] heikar opened #611 "No srflx result in test"
If i use [https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/](url) for test my coturn Installation i get the follow results:

Server: stun:Domain -> the last two results has as "component type" srflx
Server: stun:Domain:5439 -> the last result has no "component type"

The results are the same with activated or disabled firewall.

What can be the reason for this behavior?

Man

[2020-08-10 04:33] 315567599 opened #612 "reason: allocation timeout"
coturn log error:
closed (2nd stage), user <demo> realm <demo> origin <>, local 192.168.0.171:3478, remote xxx:53655, reason: allocation timeout

tcp、udp 1-65535 port is open。

why？

[2020-08-11 01:42] 315567599 commented on #610
@misi thanks

[2020-08-11 04:07] phpisfuture commented on #597
Can't other versions?

[2020-08-11 07:39] weiliudong opened #613 "TURN uses redis and starts"
Has anyone configured the redis database connection and used the TURN Server REST API to dynamically update the secret to make a short-term certificate. Can anyone contribute to the startup command line?
This is my command line, but TURN does not work and cannot be forwarded.

turnserver --listening-port=3478 --external-ip=xxx.xxx.xxx.xxx --realm=shenzhen --use-auth-secret --fingerprint --mobility

[2020-08-11 07:55] weiliudong commented on #613
Or contribute a configuration file information that can use redis normally, thank you very much.
In the configuration file --redis-userdb="ip=127.0.0.1 dbname=2 password=turn connect_timeout=30"
--redis-statsdb="ip=127.0.0.1 dbname=3 password=turn connect_timeout=30"
Doesn't work.

[2020-08-11 08:43] rajenpal033 opened #614 "How to check and inclrease connection limit?"
Hello,

I had a basic setup for coturn, I need to increase connection limit. How to do that?
If someone willing help me to setup things for me, Please let me know. I can hire for this job.

Thanks

[2020-08-11 09:23] weiliudong commented on #613
listening-port=3478
external-ip=xx.xx.xx.xx
#user=xxxxx:xxxxxxxx
realm=shen*
#lt-cred-mech
use-auth-secret
static-auth-secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
fingerprint
mobility
verbose
syslog
min-port=32355
max-port=65535
max-bps=1000000
bps-capacity=9000000
log-file=stdout
user-quota=100
total-quota=300
cipher-list=ALL
secure-stun
no-stun
no-cli
redis-statsdb="ip=127.0.0.1 dbname=3 connect_ti

[2020-08-11 09:24] weiliudong commented on #613
But redis did not collect traffic and other data information.
This is my configuration

[2020-08-11 10:21] weiliudong commented on #614
Do you have any configuration for redis statistics?

[2020-08-11 10:23] weiliudong commented on #614
Bǎ nǐ de pèizhì fā gěi wǒ.
9/5000
Send me your configuration.

[2020-08-11 13:40] rajenpal033 commented on #614
@weiliudong which configuration file? and I don't have redis.

[2020-08-11 14:36] c0r3dump3d commented on #580
My BBB server it's config to use tcp transport.

[2020-08-12 06:37] wolmi commented on #589
On the proxy mode of Cloudflare not all the ports and protocols are available.

Here you have an official list from Cloudflare
https://support.cloudflare.com/hc/en-us/articles/200169156-Which-ports-will-Cloudflare-work-with-

[2020-08-13 12:54] apprithm opened #615 "Multiple TURN server"
Hi, I'm pretty new to WebRTC world and I have a question related to how to scale the TURN server:

Assume I have the coturn server up and running, the clients can connect to it and talk to each other without any problem.

Now, If I have **2 coturn servers** T1 and T2 are running. **Client1** connected to T1 and **client2** connected to T2, can they talk to each other via different coturn server(s)

[2020-08-14 14:55] c4m4 commented on #580
is there any way to put this daemon in HA?

[2020-08-14 19:25] tenge-amzn opened #616 "TURN server limit"
Hi,
I'm wondering if anyone has previously dug into this, what allocation/bandwidth/pps limit coturn can take?
I know this depends on the server specifications, but just for software perspective, do we know any limitation?

We've seen some packet loss when the pps approaching to a certain number, no matter what server size we use

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-16 22:56] ROBERT-MCDOWELL commented on #146
the unit does not work
-- The job identifier is 437788.
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed to determine user credentials: No such process
Aug 16 22:55:21 node76 systemd[49644]: coturn.service: Failed at step USER spawning /usr/local/bin/turnserver: No such process
-- Subject: Process /usr/local/bin/turnserver could not be executed

even with a sleep at postexec does not

[2020-08-19 06:36] ggj66 opened #617 "two turnserver behind enterprise firewall relay"
Two turnservers behind the same enterprise firewall cannot relay through the public network address, but can relay through the internal network address. I think in order for the turnserver behind two different firewalls to be able to relay, external-ip needs to provide a public network address, whether external-ip can support both public network and internal network addresses.

[2020-08-20 10:19] weiss commented on #603
FWIW, it does these days (at `[info]` level), and now I'm wondering how to get rid of them myself :smiley:

[2020-08-20 11:35] 532910 commented on #603
I've added the following ferm rules

[code]

and life become easier. But I'm still receiving these packages, and still interesting what is this?
Source address of some packages was 1.1.1.1, but I don't believe they were from 1.1.1.1 and looks like someone who send them don't expect to receive a reply.

[2020-08-20 11:43] weiss commented on #603
BINDING requests are normal STUN requests.  I see millions of those per day on my public STUN servers.

Address spoofing is usually done to DDoS the spoofed address (though STUN isn't really the most effective protocol to perform this kind of attack).

[2020-08-20 12:06] 532910 commented on #603
Though my server is public I don't receive millions BINDINGs per day.
These don't look like a normal STUN requests as they are absolutely identical. And iptables rules above don't mess up real clients working.

[2020-08-26 11:32] PaulWay commented on #570
I've got a patch for full timestamp logging here:

https://github.com/coturn/coturn/pull/618

[2020-08-26 19:24] AgentForty7 opened #619 "Can Turn Authentication be done by using SHA256 for turnPassword"
Hi,
Can we do the process of authentication of turn server by using HMAC-SHA256  for turn Password? As we are currently using HMAC-SHA1 for this task.

If possible then what changes we have to make in turnServer.conf file for this authentication.

[2020-08-27 02:44] DevRockstarZ commented on #615
You can see this document.
[Document](https://www.google.com/url?sa=i&url=https%3A%2F%2Fzenodo.org%2Frecord%2F1442896%2Ffiles%2Fqoe-webrtc-computing.pdf&psig=AOvVaw0yIeeHtkPQU9cMK9V-mURU&ust=1598582552348000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCNjZvJ2uuusCFQAAAAAdAAAAABAD)
On page 11, peers can communicate each other when peers use different TURN servers.

[2020-08-27 02:52] DevRockstarZ commented on #609
I'm using ELB to mantain several coTURN instances.
You can just setup your coTURN instances and use ELB's ip address to use.

[2020-08-27 02:55] DevRockstarZ commented on #611
Can you write the full result of tricke-ice test?

[2020-08-27 02:56] DevRockstarZ commented on #614
I think there is no limit for coTURN, when coTURN are disabled, it means the instance can't afford or ports are disabled.
I recommend create several coTURN instances for scale-up your coTURN service.
Thanks.

[2020-08-28 13:42] heikar commented on #611
Hi @DevRockstarZ thank for your reply.

This behavior happens in the latest version of coturn.

Here is the result of the test:

[2020-08-31 02:04] DevRockstarZ commented on #611
You can see this configuration file [link](https://github.com/coturn/coturn/blob/c5b0bd0e221b2ae11345151eeae2cba2afdc6426/examples/etc/turnserver.conf#L20)

I think TCP/TLS port is 5349, you should use turn:Domain-Name:5349 or when you want to use turn, you should put turn on the front of the Domain-Name.

Also, my coTURN server does not contain srflx when I use 5349 port.

And you can see Trickle

[2020-08-31 07:31] ShubhangiSGaikwad opened #620 "Metrics not available at port 9121/9641 on Coturn Version -4.5.0.7"
Hello Coturn team,

Need help on prometheus configuration. On referring the readme , prometheus was not listed in turnserver.conf, so added prometheus in the  turnserver.conf and restarted the turn server , still Prometheus was not available at localhost:9121/metrics or
localhost:9641/metrics

Request to please guide , how to get Prometheus up and get the Turn Server Metrics .

our depolyment team

[2020-08-31 08:30] Nais0ne commented on #597
Just use the docker version of coturn

[2020-08-31 10:20] #597 closed

[2020-09-01 00:00] TLHN commented on #347
i have the same issue for some reason

`root@coturn:~# vim /etc/turnserver.conf
listening-port=3478
tls-listening-port=443
external-ip=88.99.14.147
fingerprint
use-auth-secret
static-auth-secret=171451ce8ddc3ba888b927fbed4b10f3
cert=/etc/letsencrypt/live/turn.dialoggestalter.de/fullchain.pem
pkey=/etc/letsencrypt/live/turn.dialoggestalter.de/privkey.pem
cipher-list="ECDH+AESGCM:ECDH+CHACHA20:DH+AE

[2020-09-01 06:50] apprithm commented on #615
Thank you, I will check out the doc!

[2020-09-01 06:50] #615 closed

[2020-09-03 08:01] ycaibb opened #621 "Null pointer dereference on tcp_client_input_handler_rfc6062data function"
The function is on the file coturn/src/server/ns_turn_server.c.

[code]

[2020-09-03 08:11] ycaibb opened #622 "Data races on general_relay_servers"
Both functions on the file coturn/src/apps/relay/netengine.c.

[code]

[code]

[2020-09-03 08:17] ycaibb opened #623 "Data races on to_syslog"
The function is on coturn/src/apps/common/ns_turn_utils.c

[code]

The function is on coturn/src/apps/common/ns_turn_utils.c.
[code]

[2020-09-04 05:43] ShubhangiSGaikwad commented on #620
Hello coturn team,

I am looking forward for a quick resolution on this,  please guide how to get Coturn Metrics on Coturn Version -4.5.0.7

Thanks in advance.

[2020-09-04 07:34] EchoXBR commented on #612
同问
我的有时候视频通话接通后 看不到对方

[2020-09-05 12:59] Eggham opened #624 "DTLS crashes turnserver"
I tried to use Uclient on a local machine to test DTLS on turnserver as follows:

`turnutils_uclient -S -k /usr/local/etc/turn_client.key -n 1 -m 1 -l 170 -e 192.168.2.241 -X -g -u username1 -w password1 $@ 192.168.2.99`

But Uclient showed the follow error:
[code]

Then it causes turnserver crashes:
[code]

It looks like a bug. Or was I doing something wrong?

[2020-09-07 08:58] EchoXBR commented on #397
Same, I'm also having this exact problem

[2020-09-10 03:34] Steven1937 opened #625 "couldn't dynamically determine load address for 'QueryUnbiasedInterruptTime'"
System: windows server 2003
Tool: Cygwin

When run 'turnserver' on Cygwin,  it crashes as follow:

Administrator@US145661457 /cygdrive
$ turnserver
0: log file opened: /var/log/turn_514_2020-09-10.log
0:
RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.0.4 'dan Eider'
0:
Max number of open files/sockets allowed for this process: 3200
0:
Due to the open files/sockets limitation

[2020-09-10 09:54] #625 closed

[2020-09-10 23:18] tupelo-schneck commented on #605
After further investigation we think that the issue is in ns_ioalib_engine_impl.c, function `register_callback_on_ioa_socket`, the following code:
[code]

If we comment out this code, everything seems to be working.

The context is a peer setting up a TCP connection to a relayed transport address ([RFC 6062, section 4.4](https://tools.ietf.org/html/rfc6062#section-4.4)).  It just so happens that w

[2020-09-11 20:11] mokkin opened #626 "turnserver is creating very large logfiles"
Today I wondered why the harddisk of our server ran out of memory: Because coturn created logs between 100 and 200 MB per day. It is creating entries even when nobody is using it (via Nextcloud Talk).
Coturn-4.5.0.7
Ubtuntu 18.04.5

What can I do against this?

[code]
[code]

[2020-09-14 10:00] DevRockstarZ commented on #626
I suggest you to add options below.
`--log-file /dev/null --simple-log --no-stdout-log`

[2020-09-16 04:13] acondura commented on #43
Could you please share your example of nginx proxy settings? I'm having trouble with mine not connecting.

[2020-09-16 22:12] d0nn13 commented on #347
For people having port 443 not opened, it might be caused by the systemd unit that is shipped in debian/ubuntu packages (at least).

In the service unit, the turnserver executable is run by a non-root user, and non-root users cannot open ports below 1024...

Fix:
[code]

[2020-09-18 08:05] ggodool commented on #397
I had a same problem on chrome. ( but firefox was ok. firefox could find relay candidate. )

I edit /etc/turnserver.conf file to write correct domain name for "realm=_my-domain_"  and restart coturn service.
and now it works on chrome too!

[2020-09-18 14:06] heikar commented on #611
Hi @DevRockstarZ ,

'sry for my late reply.

Thank you for your help :)

[2020-09-18 14:06] #611 closed

[2020-09-21 19:09] os14 commented on #474
same here ^^

[2020-09-22 06:16] zhouxlin commented on #610
i got this problme too,
i just remove the stun server,only turn server like that
[code]
the turn server can do the stun's jobs
but i got ERROR: allocation timeout

[2020-09-23 20:17] kunal-vzw commented on #166
+1 for a request for Windows support, for many of the reasons outlined here already i.e. requiring to integrate existing Windows services of our system with STUN/TURN servers ideally running on the same instance...

[2020-09-24 07:01] zhouxlin commented on #612
我的也有出现这个错误，通过 [这里的例子测试可用](https://github.com/webrtc/samples) 确定服务其应该是没问题的

[2020-09-27 19:33] rasos commented on #480
I am getting this error with coturn 4.5.1.1-1.1+deb10u1 ONLY on iOS devices, which seem to use BoringSSL instead of OpenSSL, see https://www.gitmemory.com/issue/coturn/coturn/113/466359253

[2020-09-28 14:47] Eggham commented on #624
Somehow the bug disappeared! I don't know what happened. Anyway I will close the issue.

[2020-09-28 14:47] #624 closed

[2020-09-28 19:16] ZergOnLinux commented on #626
Try logrotate, simple tool for this "problems".

[2020-09-29 09:22] AlexSSP opened #628 "Empty port number"
Hello. I have this message in my log
*************
: session 000000000000000003: realm <> user <>: incoming packet CHANNEL_BIND processed, error 400: Empty port number in channel bind request
7: session 000000000000000003: realm <> user <>: incoming packet message processed, error 400: Empty port number in channel bind request

What is this mean?

[2020-09-30 04:29] oguzhancelikarslan opened #629 "0: ERROR: set_ctx: ERROR: cannot set DH"
getting this error and could not understand what it says.
0: ERROR: set_ctx: ERROR: cannot set DH
0: DTLS1.2: Certificate file found: /etc/letsencrypt/live/xx.xxx.comfullchain.pem
0: DTLS1.2: Private key file found: /etc/letsencrypt/live/xx.xxx.com/privkey.pem

[2020-10-01 12:09] jespertheend commented on #441
try with `sudo`, that did the trick for me

[2020-10-02 17:56] onesse commented on #629
Same problem, do you have an explanation ?

[2020-10-05 12:24] hbokh commented on #569
Used to work with Debian 9 Stretch `coturn 4.5.1.0-1~bpo9+1`.
Fails on Debian 10 Buster `coturn 4.5.1.1-1.1+deb10u1` with the same config.

[2020-10-05 17:09] enoch85 commented on #569
@hbokh Where was `syslog` commented? In `turnserver.conf?`

[2020-10-05 17:10] hbokh commented on #569
Yes, indeed.

[2020-10-05 17:15] enoch85 commented on #569
This is my config and I only use `simple-log`. Anything you propose I change?

[code]

[2020-10-06 16:05] jpds opened #630 "TLS1.3 support"
Any plans for adding TLS1.3 support?

[2020-10-06 23:42] AluminumTank commented on #558
I have also ran into this issue. I did the same thing that was mentioned in the OP (specifying `network-online.target` instead of just `network.target`). However, in my case, even this does not bind to all addresses; it only binds to my local IPv4 address and the IPv4 and IPv6 loopback addresses. In contrast, when I restart the service later, it binds to all of my SLAAC IPv6 addresses as well as t

[2020-10-07 08:23] wferi commented on #558
As the already referenced https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/ explains, the best general solution is binding the server to the always available loopback or wildcard addresses instead of specific addresses, because that way the server can adapt to a dynamically changing network environment. The other solutions are either substantially more complicated and non-portable (

[2020-10-07 10:04] mgoodenUK opened #632 "--channel-lifetime must not be changed query"
Hi,

I was looking at potentially changing the channel binding lifetime value and i noticed this remark:

--channel-lifetime 	Set the lifetime for channel binding, default to 600 secs.
					This value MUST not be changed for production purposes.

Do you know why it's being advised that we must not change this in production environments?

Many thanks
Mark

[2020-10-07 11:22] #632 closed

[2020-10-07 11:23] mgoodenUK commented on #632
no longer require to change this value. closing.

[2020-10-07 11:47] mgoodenUK opened #633 "Multiple relay IP cfg file format"
Hi,

Could someone please advise how you specify multiple relay IP addresses in the configuration file?

I've tried a few different combinations but no success.

Many thanks
Mark

[2020-10-07 12:57] sitwaheed9 opened #634 "getting The server turn:127.0.0.1:3478?transport=udp returned an error with code=701:"
i am new to turnserver and using coturn in ubuntu 18.04 lts
i am learning the turn rest api so i have followed the steps

generated the temporary user name and password like this for rest api
[code]
the output is some thing like this
[code]

started the turnserver like  this

`turnserver -v --syslog -a -L 127.0.0.1 -L ::1 -E 127.0.0.1 -E ::1 --max-bps=3000000 -f -m 3 --min-port=32355 --max-port=65

[2020-10-09 18:45] ruedigerkupper commented on #558
Can you please elaborate on that or point me to some explaining ressources? I do not know how I would operate a TURN server bound to localhost? It is the the whole point it is reachable from outside? How do I manage that if it listens on localhost?
I'm sure I'm missing something, sorry for my stupid question and thanks for your help.

[2020-10-09 18:49] ruedigerkupper commented on #558
See also #438

[2020-10-09 18:49] ruedigerkupper commented on #438
See also #558

[2020-10-10 04:43] ngstwr commented on #629
Getting the same error!
@oguzhancelikarslan Did you solve this?

[2020-10-10 07:07] wferi commented on #558
No, you're right. My point (quoted from the [NetworkTarget](https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/) documentation) was that the default bind address should be one which is *always available*, that is either loopback or wildcard. Of course running a TURN server bound to the loopback address isn't a useful service in general. The NetworkTarget documentation explains the rea

[2020-10-10 13:15] Neustradamus commented on #438
@jookk: Why this ticket is closed?

[2020-10-10 13:18] Neustradamus commented on #558
Guys, have you tested: https://github.com/processone/eturnal?
Good or bad?

[2020-10-10 13:23] fooness opened #635 "Does coturn need nginx when in need of tls-listening-port=443?"
Hello everyone.

I setup coturn with certbot’s standalone method, so there’s no webserver on my vps to not block the port 443. I configured coturn in the following way:

[code]

There’s no output of `netstat -tunlp | grep 443`, and the server is not reachable via this port I suppose. Could anyone please help out?

[2020-10-11 14:16] ruedigerkupper commented on #558
@wferi: Just tried and you were right: Coturn will happily bind to the wildcard address if you explicitly ask it to do so. Just put `listening-ip=0.0.0.0` into the conf file. It's working fine and there is no need for using `network-online.target`.
Of course, this is only acceptable if it is really safe for your server to listen on all addresses. But in my case (home server behind a cable router a

[2020-10-12 10:18] jaydabi opened #636 "web-admin page available, but not configured"
Hi Folks,

I run a coturn instance of version 4.5.0.8 with the below configuration.

[code]
The man-page states the web-admin page is disabled by default, but it actually replies on HTTPS requests:
[code]
The start command we use only references the config file, no additional stuff:
`/opt/turnserver-4.5.0.8/bin/turnserver -c /etc/turnserver.conf`

To get rid of this, I already tried to set `web-ad

[2020-10-13 22:55] Mupati commented on #397
@ggodool is the realm supposed to be the domain your client is hosted on?

[2020-10-16 06:54] xuandu commented on #597
hello ,have you install successfully at macOS? I have the same problem with you .

[2020-10-22 11:28] Cheny-chen opened #638 "How to set mongodb to be the default db?"
I try to setup mongodb to be the default db instead of SQLite.
in the turnserver.conf file, I have set as following:
[code]

However, I have to enter the cli
[code]

if I skip --mongo-userdb, new admin user won't insert into mongodb because SQLite is default.

[2020-10-22 15:00] c4m4 commented on #474
same here, I am usin Debian 10 and coturn version 4.5.1

[2020-10-23 09:51] c4m4 commented on #186
ubuntu bionic
 apt-get build-dep coturn
Reading package lists... Done
E: Unable to find a source package for coturn

[2020-10-23 13:52] wqxcloud opened #639 "Ubuntu 18.04 with errors from onicecandidateerror above are not neccessarily fatal. For example an IPv6 DNS lookup may fail but relay candidates can still be gathered via IPv4."
Can you help me,when I test it after install it，i get this error,
Note: errors from onicecandidateerror above are not neccessarily fatal. For example an IPv6 DNS lookup may fail but relay candidates can still be gathered via IPv4.
The server stun:xxx.xxx.xxx.224:3478 returned an error with code=701:
STUN server address is incompatible.
The server stun:test.com:3478 returned an error with code=701:

[2020-10-23 16:33] OmlineEditor commented on #550
why size 2066 is used and not 2048? has always been the standard in other industries 2048.

[2020-10-23 16:42] OmlineEditor opened #640 "Require encryption = new parameter"
Please add the ability to connect users only with encryption and require encryption. Drop all connections without encryption.

tls-listening-port=5349
↑ this option ↑ adds but does not require encryption. you can also connect to this port without encryption. I think this is not acceptable from a security point of view.

[2020-10-24 13:00] Chandramouli-P opened #641 "How to know whether TURN server is using as relay server or not dynamically?"
Hello,

We are aware that when P2P call happens, TURN server acts as relay server sometimes and media will flow through the TURN server. How to know that traffic is going through the TURN server, when active call is going on? And also, how to know that how much bandwidth is utilized by CoTURN, when it acts as relay server?

Thank you.

Best Regards,
Chandramouli.

[2020-10-26 02:16] c4m4 commented on #620
I solved, using the master branch, git clone and compile, first you need to install all the depends, if you are using debian apt-get build-dep coturn

[2020-10-26 11:28] wferi commented on #558
I also support the wildcard default, because that works with dynamic address changes as well. Preferably with IPv6 wildcard (`::`) even.

[2020-10-29 17:39] minghaow opened #642 "Use Coturn Without Public IP"
I have to run coturn in a Local Area Network without internet access. Therefore I do not have a public ip for coturn server. Can it work in this kind of network environment? What do I need to do?

Thanks a lot!

[2020-11-02 01:17] chanduthedev commented on #642
Hi @minghaow, Can you share the purpose of the Coturn you are using for? Generally Coturn will be used if both the end points not reachable directly or there is direct connection between two peers(involving firewalls in the network). But in your case, you menstioned that you are going to use in local area network where all the nodes are reachable and Coturn will be of no use even if you configured

[2020-11-02 22:20] cruizba commented on #315
Is it actually possible to use in  `external-ip` an IPv6? Just curious @misi

[2020-11-03 09:05] yfaker opened #644 "MESSAGE-INTEGRITY-SHA256"
Hi~
Is there any plan to support MESSAGE-INTEGRITY-SHA256 Attribute?
Thanks~

[2020-11-03 13:05] jespertheend commented on #619
I know sha1 is considered super insecure nowadays. But how bad would it be to use sha1 if my only goal is to prevent other developers from abusing my turn server?

[2020-11-04 00:42] Saddamus opened #645 "Key: server-relay - ACL"
Hello,
Im trying to cluster several turn instances behind cloud firewall. The problem is that public IP's are not reachable from private IPs that turn servers working on. In other words, we can hit turn servers over public IP's from outside, but turn server can not hit another turn server over its public IP.  In the end servers can not talk to one another - case when turn clients are connected to

[2020-11-05 01:59] SharadKumar97 commented on #629
Getting the same issue

[2020-11-05 03:13] towynlin commented on #629
I'm also getting this same error. Here's a log snippet that happens on service start. I believe the pkey and cert are set up correctly. It's not obvious that these errors actually indicate that the server is having a problem. AFAICT my server is working just fine, but the errors are disconcerting.

[code]

My server is ubuntu focal, using the apt package for 4.5.1.1 with security patches backporte

[2020-11-05 04:11] SharadKumar97 commented on #629
Hi @towynlin

Thanks for sharing the info. But i'm also getting Bind error where my coturn server is not starting and binding to the interface due this this DH error. Can you please share your turnserver.conf file ?

It will really help.

Thank you

[2020-11-05 05:59] towynlin commented on #629
Sure thing — here it is with all the explanatory comments removed. When I put something in `ALL_CAPS` I have my own value there, and you should set yours.

[code]

[2020-11-06 05:41] wilsonlv commented on #592
I have the same question, Do you resolve it？

[2020-11-06 11:24] lonesomewalker opened #646 "lt-cred-mech deprecated?"
As seen somewhere:
is the parameter lt-cred-mech deprecated since version 4.x...?

Can't find information to this.

Thanks.

[2020-11-06 12:07] terentev commented on #629
set
dh-file=/etc/letsencrypt/ssl-dhparams.pem

[2020-11-08 05:33] Neustradamus commented on #527
@misi:

draft-petithuguenin-tram-turn-dtls-00 -> rfc7350
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://tools.ietf.org/id/draft-petithuguenin-tram-turn-dtls-00.txt&url2=https://www.ietf.org/rfc/rfc7350.txt

draft-wing-tram-turn-mobility-02 -> rfc8016
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://tools.ietf.org/id/http://tools.ietf.org/html/draft-wing-tram-turn-

[2020-11-08 05:40] Neustradamus commented on #527
@misi:

draft-petithuguenin-tram-turn-dtls-00 -> rfc7350
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://tools.ietf.org/id/draft-petithuguenin-tram-turn-dtls-00.txt&url2=https://www.ietf.org/rfc/rfc7350.txt

draft-wing-tram-turn-mobility-02 -> rfc8016
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=http://tools.ietf.org/id/draft-wing-tram-turn-mobility-02.txt&url2=https:/

[2020-11-08 13:43] chenxinlong commented on #409
Hi, any progress here?

[2020-11-08 13:55] matiaslopezd commented on #641
From coturn I don't know, but from PeerConnection you can get it using getStats and iceCandidate negotiation. There you can see the last connection, if is relayed or between peer, also the bandwidth and bytes sent and received.

[2020-11-09 01:25] phpisfuture commented on #597
not，I installed it with Docker。

[2020-11-09 13:32] lonesomewalker commented on #635
Since you use BBB, you should either:
- stick to the official installation method
- get knowledge of Let's Encrypt

No, you don't need nginx, LE certificate are name based, this means if your hostname is the same as requested certificate, you can generate a LE certificate without any further services.

[2020-11-10 12:15] fooness commented on #635
Port 443 is privileged and thus can only be used by processes run as e.g. `root`.

The default coturn process is [run as `turnserver`](https://github.com/coturn/coturn/blob/master/examples/etc/coturn.service#L10-L11), which is the problem here.

[2020-11-10 20:22] tankakatan commented on #273
Hi all. Hope everyone in this thread is well!

@misi, @tyranron if possible, could you guys please post any updates on the official **coturn** docker image?

[2020-11-10 22:37] Ddvos commented on #43
I am also interested to see some settings in Nginx and coturn

[2020-11-11 08:52] tyranron commented on #273
@tankakatan sorry, but I had no time to dedicate to this recently. I'll try to make some during next month.

[2020-11-11 17:07] fabifrank commented on #629
File was at a different location on my side:

[code]

[2020-11-11 17:52] SharadKumar97 commented on #629
I fixed it. And I also got the permission issue on the latest coturn package.

[2020-11-11 18:57] towynlin commented on #629
I notice that there are zero calls to `ERR_get_error()` or related error checking routines in `mainrelay.c`. That's the only way we can know for sure what's happening here.

[2020-11-12 15:29] j4zzc4t opened #647 "Using coturn with syslog"
Hello there! I was looking for a way to add timestamps and on my coturn instance and found myself stuck.
Is there a way to have them enabled?

I thought of editing the code myself, but not being involved in the project would make patching tedious, so, can you help with configuration or maybe directions on how to implement it?

[2020-11-13 02:02] Neustradamus commented on #600
@misi: Have you seen?

[2020-11-13 02:03] Neustradamus commented on #601
@misi: Have you seen?

[2020-11-13 13:35] XingkaiEden opened #648 "Can't expose ip/port"
Hi there,

Thanks for the amazing project

I am currently developing a WebRTC Streaming app which needs a TURN server to relay streaming data between two peers.

I have read documentations and configured the TURN server with turnserver.conf. But it seems can not open a port. Below is the configuration:

[code]

And then, I run command `sudo turnserver -c turnserver.conf`
Here is what I got:
[code]

[2020-11-13 18:05] andyxheli opened #649 "4.5.1.3 not avalible on Ubuntu 20.04 LTS"
Can you please update the ubuntu 20.04 repository to when doing an apt-get update the 4.5.1.3 shows up only shows 4.5.1.1

[2020-11-14 08:32] fabifrank commented on #43
Does only `udp` require to run coturn with `stream` in nginx so `tcp` turn is able to run behind reverse proxy with classic ssl termination?

[2020-11-16 00:54] corytheboyd commented on #273
Thanks for taking this on @tyranron and @misi! Will be following along. Do you anticipate much changing from https://github.com/instrumentisto/coturn-docker-image with this new image?

[2020-11-16 09:43] tyranron commented on #273
@corytheboyd nope, but we're going to support ARM builds definitely.

[2020-11-17 02:40] lonesomewalker commented on #646
FYI, here described:
https://nextcloud-talk.readthedocs.io/en/turn_doc/TURN/

[2020-11-17 04:52] coder-with-a-bushido commented on #592
Same here, any fix?

[2020-11-17 15:31] XingkaiEden commented on #648
sorry for the confuse. This problem was caused by SSL certificate. I solved it by changing to another certificate.

[2020-11-17 15:31] #648 closed

[2020-11-18 00:07] kerel-fs commented on #635
Solution:
1. Modify unit file to start the turnserver as root (remove User & Group directives)
2. Modify turnserver configuration to drop privileges after start with
[code]

@misi Would you accept a PR which changes the default in debian to use this privilege dropping scheme?

[2020-11-18 01:14] kerel-fs commented on #146
I can confirm that the unit file is installed properly in Debian stable (buster/10) & unstable (sid).
In old-stable/stretch it was not included.

As described in https://github.com/coturn/coturn/issues/146#issuecomment-626697245 this issue is fixed and can be closed.

[2020-11-18 13:26] kcortman commented on #626
@mokkin

[2020-11-18 13:49] kcortman commented on #626
Hi all,

I'm having very similar behavior.  I've also noticed that these log entries span the course of a 1 minute and begin and end with the following, respectively:

[...start of log entry]
Nov 17 00:50:43 server turnserver: 35892: handle_udp_packet: New UDP endpoint: local addr X.X.X.X:3478, remote addr 147.194.81.110:61337

Nov 17 00:50:43 server turnserver: 35892: session 003000000000000095:

[2020-11-18 13:59] yspreen opened #650 "TURN without Port Range (like the example docker compose file)"
This is a pretty simple question:

The docker compose file of this repo comments out all relay port ranges. What are the limitations of this? Can the TURN server still be used without these ranges?

https://github.com/coturn/coturn/blob/master/docker/docker-compose-all.yml#L76-L78

[2020-11-18 21:02] hekmon commented on #629
Or simply activate the `dh2066` config line if you do not want to use an external DH file.

[2020-11-20 12:43] Trenrod opened #651 "Support to use redis with SSL"
Using coturn version Coturn-4.5.1.1 'dan Eider'

Problem:
I cannot connect to a redis db with ssl only enabled?

Configuration
redis-userdb="ip=xxxxxxxxx dbname=2 password=xxxxxxxxx port=xxxxx connect_timeout=30"

Getting error:
[code]
I could not find any statement if its supported out of the box. Or I have to build hiredis with SSL support on my on.

Usecase:
- I try to connect coturn with a man

[2020-11-24 03:11] madmath03 commented on #363
This is an old subject, but I was wondering if there was any update on this @misi ?

I tested again with 4.5.1.2 and it was still failing.

[2020-11-24 20:57] oxygen commented on #629
To generate a dh file using openssl:
`openssl dhparam -out dhparam4096.pem 4096`

[2020-11-25 10:43] Saddamus opened #652 "Several turn servers behind single firewall"
Hello,
Im looking for solution to load balance traffic between several Turn servers placed on private network behind single firewall.
Each of Turn servers have it's own public IP nated on firewall level.
Load balancing would work by round robin DNS.
In some cases users will be able to connect only Turn server provided by DNS record.
This means that in some cases user A will exchange traffic with T

[2020-11-25 13:24] iraklippv opened #653 "failing pairing icecandidates"
Hi,
 I just installed coturn server, but unfortunately does not works.
 Can someone help ??

[aboutWebrtc2.txt](https://github.com/coturn/coturn/files/5596900/aboutWebrtc2.txt)

[2020-11-25 19:21] towynlin commented on #629
At least for me, generating a dh file with openssl and setting dh-file in the config got rid of this error. 👍 Didn't know I had to do that. TIL. 😁

I still get the "no certificate found" and "invalid private key" errors as in my log snippet above, but that's a different issue. Thanks folks!

[2020-11-26 08:23] pig-peppa opened #654 "unsupport C++17"
when i use libturnclient.a, compiler reports:
/usr/include/turn/TurnMsgLib.h:78:44: error: ISO C++1z does not allow dynamic exception specifications
  StunAttrIterator(u08bits *buf, size_t sz) throw (WrongStunBufferFormatException)

**can you fix it, when you get time.**

[2020-12-02 17:14] brunoalex opened #656 "Trying to bind DTLS/UDP bind: Address already in use"
Im trying to use my mac to get a turnserver online, i never have done this ... iwhen i run
 #turnserver -L ip=192.168.1.66 -a -f -r turn.baixocarbono.pt -c /Users/sam/Downloads/turnserver/turnserver.conf   --pkey /Users/sam/Downloads/turnserver/turn_server_pkey.pem --cert /Users/sam/Downloads/turnserver/turn_server_cer.pem

i get a few erros :

[code]
im behinde a rooter... my mac ip is 192.168.1.

[2020-12-02 17:43] brunoalex commented on #656
when i use sudo turnserver -L ip=192.168.1.66 -a -f -r turn.baixocarbono.pt -c /Users/sam/Downloads/turnserver/turnserver.conf   --pkey /Users/sam/Downloads/turnserver/turn_server_pkey.pem --cert /Users/sam/Downloads/turnserver/turn_server_cer.pem  i get :

0: log file opened: /var/log/turn_3769_2020-12-02.log
0: Listener address to use: 0.0.0.0
error resolving 'ip=192.168.1.66' hostname: nodename

[2020-12-03 10:50] hex-m commented on #571
Other parts of the [wiki page](https://github.com/coturn/coturn/wiki/turnserver) are outdated too. This confused me quite a bit as search engines like to point to the wiki page.

A warning at the beginning of the page and a link to [README.turnserver](https://github.com/coturn/coturn/blob/master/README.turnserver) could be a quick fix.

[2020-12-05 03:06] sj82516 commented on #474
You have to build from the source.
And also prometheus metrics only support debian now, don't forget to install dependency before you build.
The dependencies are here which I copy from the PR
[code]

[2020-12-05 09:56] c4m4 commented on #474
@sj82516 are you using any grafana dashboard?

[2020-12-05 23:15] sj82516 commented on #474
Yes I do.
Any problem here ?

[2020-12-05 23:31] c4m4 commented on #474
is this dashboard public?

[2020-12-07 07:16] misi commented on #656
Please try to read this to understand more ICE and TURN from RFC-s or other sources.
HTH if you read this will help to clarify:
https://misi.github.io/webrtc-c0d3l4b/img/149faeda7a820cf4.png
https://misi.github.io/webrtc-c0d3l4b/

[2020-12-07 07:17] misi commented on #654
Please send PR with the fix.
Unfortunately we don't have actual capacity to make it very soon..
Thanks for your help and cooperation!

[2020-12-07 07:26] misi commented on #653
@iraklippv Try to add: turn:37.46.105.132:3478?transport=tcp
Please check media port range is allowed on your host firewall and any firewall before your coturn server..

[2020-12-07 07:27] misi commented on #649
This package is maintained by ubuntu community.

[2020-12-07 09:53] misi commented on #605
Which TLS version do you use? Maybe TLS 1.3 is causing the issue?

[2020-12-07 12:04] misi commented on #605
@tupelo-schneck  Can you please help how did you tested it. How can I reproduce it? Thanks!

[2020-12-07 15:50] axheli commented on #649
So how do we get the ubuntu community to update that?

[2020-12-07 16:52] brunoalex commented on #656
tks for your reply, im trying for days to get this to work on my home mac... now i get

0: pid file created: /var/run/turnserver.pid
0: IO method (main listener thread): kqueue
0: IPv6: On this platform, I am using alternative behavior of TTL (HOPLIMIT) according to RFC 6156.
0: WARNING: I cannot support STUN CHANGE_REQUEST functionality because only one IP address is provided
0: Wait for relay po

[2020-12-07 17:52] tupelo-schneck commented on #605
I just put substantial descriptive details in pull request #643.  I hope that has enough information.

A minimal reproduction is a bit tricky, as I need an RFC6062-capable TURN client which can send Allocate and CreatePermission requests to coturn, wait for a ConnectionAttempt indication *from* coturn, and then send a ConnectionBind request on a *new* connection to coturn.  If you really need to s

[2020-12-07 22:54] sj82516 commented on #474
It's private but I organized it and create by docker.
If you run on native machine, I think the set up is quite the same.
Here is my github repo and I just tried this morning, it should work fine.

https://github.com/sj82516/coturn-with-prometheus-grafana-on-docker

[2020-12-08 07:16] #605 closed

[2020-12-08 07:48] #552 closed

[2020-12-08 08:19] bodorjzsolt opened #657 "Proprietary code in ns_turn_khash.h ?"
The file contains the comment:
"proprietary header added, with proprietary memory management functions. "
The file contains proprietary code?

[2020-12-08 08:22] misi commented on #657
I was not part of the project when it was added.
We need to ask about it Oleg: @mom040267

[2020-12-08 08:24] misi commented on #651
Please send a PR with the fix, and I am happy to merge. Thanks for your help and cooperation.

[2020-12-08 08:28] misi commented on #656
TURN server normally runs on a server and need a global ip address or if it is behind a NAT it needs your extrenal IP address and also to port forward to all of its ports.

[2020-12-08 09:20] misi commented on #273
@tyranron let me know if we can meet and discuss further howto build the image. until it I will run an automated image build on dockerhub coturn/coturn

[2020-12-08 10:37] tyranron commented on #273
@misi I've recently [done some job](https://github.com/instrumentisto/haraka-docker-image/) on a new toolchain for building multi-arch Docker images via GitHub Actions and pushing them to ghcr.io, DockerHub, and quay.io, with a clever image tagging in mind, and keeping description up-to-date.

Once I find some time, I'll adapt that work to this repo as a PR.

[2020-12-08 11:23] Neustradamus opened #658 "README problems"
Dear @mom040267, @misi,

I have sent you an email, please look your inbox.

It is important to solve this problem quickly.

Thanks in advance.

[2020-12-08 12:28] misi commented on #658
I have answered to you..

Best,
Misi

2020. 12. 08. 12:23 keltezéssel, Neustradamus írta:

[2020-12-08 12:28] #658 closed

[2020-12-08 12:45] misi commented on #652
IMHO Create a REST API with Shared secret between api and Turn servers, and give back the TURN server IP that has least connection.

[2020-12-08 12:48] misi commented on #650
If the ICE STUN tests opens the pin hole of the NAT then it should work. Of course few packets could be dropped, but until there is traffic and keepalive of NAT not reached it should work.

[2020-12-08 12:50] misi commented on #649
@axheli go to https://packages.ubuntu.com/focal/coturn
See:
Maintainer:
    Ubuntu Developers (Mail Archive)

[2020-12-08 12:54] misi commented on #647
syslog will add timestamp autmatically.
In 4.5.2 we will have soon an new add new-log-timestamp option see more in master recent changes..
[code]

[2020-12-08 12:54] #647 closed

[2020-12-08 12:55] misi commented on #646
I don't think it is deprecated. It is outdated and not as secure as shared secret..

[2020-12-08 13:01] misi commented on #645
NAT hairpining is not working AFAIU.
You can handle it with double nat so on receiver side also NAT the destination IP to your public ip if it comes form your neighbor TURN server with private IP.

Please send a Pull Request with change for that and I am happy to merge.

[2020-12-08 13:03] misi commented on #644
I don't have resource to develop it, but it would be nice to have it, so if you can send a Pull Request I am more than happy to review and merge it.

[2020-12-08 13:04] misi commented on #642
I agree with @chanduthedev. I don't see too much reason for it, but in theory it is possible to use it..

[2020-12-08 13:07] pig-peppa commented on #654
@misi  I am making my own new cluster mode based on this project. If finish my work, let me fix it.

[2020-12-08 13:08] misi commented on #641
You need to check the ICE agent on your system in WebRTC stack if you use it then as @matiaslopezd wrote you can check the peerconnection ice agent actual state, and also you can see the stats object.
Open in new tab
Chorme:
`chrome://webrtc-internals`
Firefox
`about:webrtc`

[2020-12-08 13:08] #641 closed

[2020-12-08 13:11] misi commented on #640
@OmlineEditor Media Traffic must be encrypted always, In WebRTC by design, so I don't feel it as a big risk if it is not double encrypted, but I am happy to accept any Pull Request to solve the issue if you still feel proplematic..

[2020-12-08 13:22] misi commented on #639
Check your local interfaces and if they can reach the internet and turn server
See for it:
https://source.chromium.org/search?q=SERVER_NOT_REACHABLE_ERROR&sq=
https://source.chromium.org/chromium/chromium/src/+/master:third_party/webrtc/p2p/base/turn_port.cc;drc=fa8019c3c33a1e75b7dfc8aa8d8ad6e07c2d80a8;l=369

[2020-12-08 13:24] misi commented on #638
I don't think there is an option. Please send a fix and I am happy to merge it.
Thanks!

[2020-12-08 13:27] misi commented on #636
New version or patched version disabling the http server by default because it contains potential security issues. So I strongly propose to leave it disabled in production systems.

[2020-12-08 13:31] misi commented on #635
The easiest way is to port forward with local firewall rule the privileged port to the standard port.

@kerel-fs  Sorry for my late reply. Yes I will accept and warmly welcome any contribution!!
I am not fully understand yet how systemd handling privileged sockets, maybe we need to handle that way..

[2020-12-08 13:34] misi commented on #634
If socket cannot created it will give back 701 So check your local network setup. Use coturn on global IP..
See:
https://source.chromium.org/chromium/chromium/src/+/master:third_party/webrtc/p2p/base/turn_port.cc;l=369?q=SERVER_NOT_REACHABLE_ERROR
https://source.chromium.org/chromium/chromium/src/+/master:third_party/webrtc/api/transport/stun.cc;l=108;bpv=1;
bpt=1?q=701%20webrtc%20stun

[2020-12-08 13:35] misi commented on #634
Loopback peer is disabled by default..

[2020-12-08 13:43] misi commented on #633
@mgoodenUK
You should use relay-ip multiple time, -E
e.g
[code]
I have check and it works both from config and cli

[2020-12-08 13:46] misi commented on #630
@jpds Unfortunately I don't have time to implement it in foreseeable future, but I would very happy to merge a Pull Request with it.
It is a needed feature, but unfortunately I don't have capacity and enough knowledge to implement it. Any help would be great!

[2020-12-08 13:55] misi commented on #629
Hello Guys! @towynlin @oxygen  @hekmon @SharadKumar97 @fabifrank @terentev @oguzhancelikarslan @ngstwr

Sorry for my late response, I was busy with other projects.. :(

For me it is not clear what is the conclusion for this issue.
Is there an error still exists that I need to fix? What was your solutions.
Can you please help me to clarify and fix this issue?
So do you still experience it with the

[2020-12-08 13:57] misi commented on #628
@AlexSSP  I guess someone sent you a broken packet.. From that info i can guess only.. Maybe someone pentesting your infrastructure.. :)

[2020-12-08 13:59] misi commented on #626
@mokkin  Try to send log to syslog and there are well known ways like logrotate and filtering to handle this issue..

[2020-12-08 14:02] misi commented on #623
@ycaibb  Can you please help and send a fix Pull Request to this issue? Thanks for your help in advance!

[2020-12-08 14:09] misi commented on #622
@ycaibb Can you please help me and give ideas howto fix it or send PR? Thank you and sorry for my late response..

[2020-12-08 14:15] misi commented on #621
@ycaibb Thanks!!

[2020-12-08 14:23] misi commented on #620
@ShubhangiSGaikwad  Prometheus will be supported in 4.5.2.

[2020-12-08 14:28] misi commented on #619
@AgentForty7 I agree with you. Coturn should support SHA256!
Unfortunately I don't find the time for it. Can you please help and send a Pull Request with this feature.
Thanks for your help and cooperation!!

[2020-12-08 14:28] mgoodenUK commented on #633
Thanks for the response Misi, I'll give this a go.

[2020-12-08 14:28] #633 closed

[2020-12-08 14:30] misi commented on #617
I think you can solve it with NAT in linux firewall, replace dest IP on the destination machine if source is the neighbour server..

[2020-12-08 14:32] misi commented on #616
@tenge-amzn  I don't have such information.. How you measured packet loss?

[2020-12-08 14:34] misi commented on #614
@rajenpal033 Use tunserver utility uclient test tool to stress test your server..

[2020-12-08 15:37] brunoalex commented on #656
port forward resolved the issue, you save my day Thank you so much Misi.

[2020-12-08 15:37] #656 closed

[2020-12-08 18:37] tenge-amzn commented on #616
In /proc/net/snmp, the UDP "RcvbufErrors" skyrocketed when load goes up, around 100pps or 700-800Mbps.

[2020-12-09 07:00] misi commented on #616
So this mean I guess recv buffer overflow! Is any proxy before your service? It could cause problem in load-balance if source IP:port is the same, because it will loablanced to the same thread/core..

[2020-12-09 07:35] tenge-amzn commented on #616
No. TURN servers are public facing and load balanced by DNS. The netengine is 3 - udp socket per thread. Also tried to increase udp socket buffer size, but only limited help.

[2020-12-09 10:46] misi commented on #613
@weiliudong
Have you read this?
* https://github.com/coturn/coturn/blob/master/turndb/schema.stats.redis
* https://github.com/coturn/coturn/blob/master/turndb/schema.userdb.redis

And in config
[code]

[2020-12-09 10:50] misi commented on #612
@315567599 Which version of coturn do you use? Do you have this with the latest master?

[2020-12-09 10:57] misi commented on #610
@315567599
From the log it seems it is not sending user and realm.
Check that you set credential properly..
[code]

[2020-12-09 11:02] misi commented on #609
@ohameiri I don't have experience with scaling with loadbalancers.
Coturn could RoundRobin loadbalance see
https://github.com/coturn/coturn/tree/master/examples/scripts/loadbalance
@DevRockstarZ
Which ELB type do you use?
* Network Load Balancer
* Gateway Load Balancer
* Classic Load Balancer
?

[2020-12-09 11:04] #608 closed

[2020-12-09 11:05] misi commented on #607
@yurivict Can you please help me! I would happy to merge a fix for that issue, but I don't find time for it. Can you make PR for it?
Thanks for your help in advance..

[2020-12-09 11:06] #606 closed

[2020-12-09 11:09] misi commented on #604
Documentation need to be fixed

[2020-12-09 11:39] misi commented on #603
@532910 @weiss Do you think there is any open question here or can I close it?

[2020-12-09 11:55] misi commented on #601
@ycaibb Thanks!

[2020-12-09 11:57] misi commented on #600
@ycaibb Thanks! I will try to fix it.

[2020-12-09 11:59] #596 closed

[2020-12-09 12:01] misi commented on #595
@jodoma  I think @JonathanLennox  answered your question! In WebRTC browsers don't send REQUESTED_ADDRESS_FAMILY and this causing the issue you experience.

[2020-12-09 12:04] misi commented on #594
@iroach Please send a Pull Request with  a new server option. Unfortunately I don't find the time to work on this feature. Thanks for your help and cooperation!!

[2020-12-09 12:17] misi commented on #592
@EchoXBR @wilsonlv @coder-with-a-bushido
Can you please make a more Verbose log about the issue and a packet capture on the serever?

From these logs I see the following:
`CREATE_PERMISSION processed, error 403: Forbidden IP`
So it seems the peer IP fails in the good_peer_addr. Check your peer address balcklist/whitelist and multicast and loopback..
see:
https://github.com/coturn/coturn/blob/1e445

[2020-12-09 12:20] misi commented on #591
@vi  I am very open to any contributions, so absolutely.
Sorry for my late reply, unfortunately I have limited time to spend on the support of this project.

[2020-12-09 12:24] misi commented on #590
@519790441 Unfortunately I can't say from this log what causing it, but probably some race condition..
Thanks for the report. Let me know your experience with 4.5.1.3..

[2020-12-09 12:29] misi commented on #589
@K12AZ It seems from the infos you have provided that for me it is cloudflare proxy issue..
@wolmi Thanks for your help and clarification.

[2020-12-09 12:29] #589 closed

[2020-12-09 12:30] misi commented on #586
I will close this..

[2020-12-09 12:30] #586 closed

[2020-12-09 13:08] misi commented on #580
@c4m4 You can loadbalance roundrobin see:https://github.com/coturn/coturn/tree/master/examples/scripts/loadbalance

@c0r3dump3d
If your BBB server configures the browser's ICE agent to use TCP is only one part. In Webrtc it is not implemented AFAIK in any Browsers to request transport protocol. So server will allocate a UDP port by default. HTH

[2020-12-09 13:13] misi commented on #578
@CamJN  You can use webrtc option to enforce using TURN.
See:
https://developer.mozilla.org/en-US/docs/Web/API/RTCConfiguration/iceTransportPolicy
[code]

[2020-12-09 13:22] misi commented on #533
@Neustradamus  I will write about the lack of developer to the mailing list.

[2020-12-09 13:23] misi commented on #532
@Neustradamus I will. But it will be nice also if you could fix one of these issues you have raised..

[2020-12-09 13:24] misi commented on #531
@Neustradamus  Yes I will write to the list a notice about it.

[2020-12-09 13:25] misi commented on #530
@Neustradamus I will write an announcment to the list..

[2020-12-09 13:25] misi commented on #528
@Neustradamus Yes I will do it.

[2020-12-09 13:26] misi commented on #527
I will write to the list an announcement.

[2020-12-09 14:07] misi commented on #571
@Neustradamus @hex-m @DevRockstarZ
Thank you for the report. Wiki is outdated and I don't think that keep info redundant, is good practice, and also I don't have time for keep it sync always so I will delete entries from github wiki with link to the info in the code.

[2020-12-09 14:32] misi commented on #570
It is merged so it will be released in 4.5.2, but with syslog you can also add timestamp..

[2020-12-09 14:32] #570 closed

[2020-12-09 14:36] c4m4 commented on #580
@misi but what happen if the master goes down?

[2020-12-09 14:41] 532910 commented on #603
coturn still spams his log, and this issue must be fixed

[2020-12-09 17:53] yurivict commented on #607
I am only a package maintainer, not a user.

[2020-12-09 18:10] misi commented on #603
@532910 I agree I will try to fix it.

[2020-12-09 20:44] SharadKumar97 commented on #629
Hi @misi

For me, it was a permission issue for version coturn 4.5.1.1-1.1ubuntu0.20.04.1
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=964009

I have not tested 4.5.13 but I think it should be working now.

[2020-12-09 22:51] towynlin commented on #629
If generating a DH file is required to avoid this error, then that should be added to some getting started documentation. That's all I had to do to get rid of the error, but I didn't know it was necessary.

[2020-12-10 02:13] DevRockstarZ commented on #609
@misi I used AWS Network Load Balancer(TCP/UDP) to load balance Coturn instances.

[2020-12-10 07:30] misi commented on #569
@enoch85 I agree that it would be nice to make it configurable. I am not author of the original code just try to maintenance it, and unfortunately I have limited time for it. Please send a Pull Request and I am happy to accept it.

[2020-12-10 07:31] #567 closed

[2020-12-10 07:40] misi commented on #565
I can't help more so I close it.

[2020-12-10 07:40] #565 closed

[2020-12-10 07:49] misi commented on #563
Sorry for my late reply! @tfreedman
I am happy to merge a Pull Request if you write a fix for dns resolution, but I feel it is simple to make it in scripts.

[2020-12-10 08:26] misi commented on #607
@yurivict  Thanks! The same here. Packaging to debian and try to keep alive the project, fix security issues, and merge what users fix, unfortunately I also don't find time to fix all issues. :(

[2020-12-10 08:36] misi commented on #562
@marcohald What is in the line 9 in this file can you add this file here?
Thanks & Sorry for my late reply..
[code]

[2020-12-10 08:44] misi commented on #562
I don't see in the logs any issue from coturn side.

[2020-12-10 08:45] misi commented on #561
I will close the issue, please send a PR if you have a fix..

[2020-12-10 08:45] #561 closed

[2020-12-10 08:47] misi commented on #560
@FJEagle  Sorry for my late reply!
You can get this info from cli or you can just monitor your server instance network interface.

[2020-12-10 08:47] #560 closed

[2020-12-10 08:49] misi commented on #559
@zhouziyang I fully agree. Please help me. Unfortunately I don't find the time for making it. Send a Pull Request.. Helm chart is tricky we may need to have multus or other way to workaround the NAT.

[2020-12-10 09:21] misi commented on #558
@ruedigerkupper Please accept my apologies for my late reply.
@wferi  Thanks for your great and valuable help!
I think changing default listener behavior is a breaking change, so we need to be careful.
If I understand correctly  the network-online target will only delay little bit the start.

I see in actual systemd unit file the following.

[code]

@wferi Can you help I am not sure, am I right/wr

[2020-12-10 09:27] misi commented on #557
@schnitzi99 Thanks for sharing your experience!
I will close it, but it will be in the archive and google will find it. Thanks!
(My suggestion to be careful about removing ip-s from firewall.)

[2020-12-10 09:27] #557 closed

[2020-12-10 09:28] misi commented on #556
It is fixed so I close it! Thanks for your contribution!

[2020-12-10 09:28] #556 closed

[2020-12-10 09:35] misi commented on #555
@liuende501  Sorry for my late reply!
Server could not act as client see more in the IETF STUN and TURN RFC-s.
I think is very complicated but, maybe it could work TURN in TURN from client, because AFAIR TURN server don't care about the transported data. But may you need multiple TURN Client and ICE agents and it could be tricky.

[2020-12-10 09:41] rgarrigue opened #662 "When will 4.5.2 will be released ?"
Hi there

I'm waiting for the prometheus metrics feature, when will the version shipping it (I read in the related PR it'ld be 4.5.2) will be release ?

Thanks,

[2020-12-10 10:04] misi commented on #629
@towynlin The generated DH file is not required by default as far as I experienced.
I run Debian linux servers on without DH file with default settings and works properly. Is there any special in your config or environment?

[2020-12-10 10:38] TANGLIHUI opened #663 "coturn behind nginx with multiple workers"
it's ok that coturn behind nginx with one worker, but if nginx with multiple workers, the results is random, error code is 400, 437, even connected, package lost is up to 40%, how to solve it?
here is nignx config:

[code]

[2020-12-10 10:39] misi commented on #662
As far as the queue will be empty. Depends how I could progress.. I hope soon.. This year hopefully..

[2020-12-10 10:40] misi commented on #662
See: https://github.com/coturn/coturn/milestone/2

[2020-12-10 10:42] misi commented on #663
@TANGLIHUI  I don't use coturn behind nginx proxy, so I can't help.
Try to reach out the guys who sent the PR. Sorry..

[2020-12-10 10:50] TANGLIHUI commented on #663
@misi does there is any documentation about source code, I found those errors is cause by Invalid Allocation，but why? I have received allocated success before.

[2020-12-10 10:50] misi commented on #609
@DevRockstarZ  Thanks!
I will close this issue, because I feel I can't add more to it, if you think it should be kept open let me know and I will reopen it..

[2020-12-10 10:50] #609 closed

[2020-12-10 10:59] misi commented on #663
Only documentation is the code.
See these commits:
https://github.com/coturn/coturn/commit/ace903fd070c32a8c84e370775f718dc8038b5e9
https://github.com/coturn/coturn/pull/655/commits/c00d69e67f7161ab96b5df4fa35970d44bad3e0e

[2020-12-10 11:31] oxygen commented on #629
I think its required on Ubuntu 20.04.1.
It wasn’t on Ubuntu 18.04.

It might not even have to do with coturn’s version.

[2020-12-10 16:59] #580 closed

[2020-12-11 03:28] TANGLIHUI commented on #663
but coturn use udp to transfer data...
do you know some solution to build a cluster, nginx is not ok, how to do this? any suggestion? we want to save external ip.

[2020-12-11 05:25] ycaibb commented on #622
Thank you for your reply! Let me try it.

[2020-12-11 05:25] ycaibb commented on #623
Thank you for your reply! Let me try it.

[2020-12-11 09:01] misi commented on #580
@c4m4 Master is not handle any traffic just send STUN redirects ALTERNATE-SERVER
You can have multiple master..

[2020-12-11 09:11] misi commented on #663
@TANGLIHUI  I don't fully understand what you mean with

Can you please explain it more..

You can use ALTERNATE-SERVER mechanism to build cluster.
Saving external IP in case of high load is not possible anyhow,
because if you have lots of connection it need lots of ports.
And on one exeternal IP you could not scale ports..

[2020-12-11 09:39] c4m4 commented on #580
@misi thanks for your quick response, So my client could 2 master and behind these master a could multiple servers? if the answer is yes, it look good to me :)

[2020-12-11 09:40] TANGLIHUI commented on #663
I have test the proformance of coturn, port is enough, but too much connection will lost package, so I want to use just one external ip as a nginx server, behind this nginx server, there maybe ten coturn servers. but ALTERNATE-SERVER can't support this. so I want to know the relationship between allocation and fd(also ip:port), I don't see that from code.

[2020-12-11 10:22] misi commented on #580
@c4m4  It is not behind, in reality the master server are just sending back a redirect to the real servers..
So yes. I hope it will work as you expected..

[2020-12-11 10:26] misi commented on #663
@TANGLIHUI may you can use just simply a NAT so translate external IP to multiple hosts
e.g. https://scalingo.com/blog/iptables

[2020-12-12 13:02] ishan501 opened #664 "TURN server stops after some time"
I've installed CoTURN on Ubuntu 16.04 server. I'm starting the TURN server with the below command:

turnserver -a -o -v -n --cert /etc/letsencrypt/live/mydomain.com/fullchain.pem --pkey /etc/letsencrypt/live/mydomain.com/privkey.pem -u username:password -r "mydomain.com"

I check with Trickle ice and it works fine. But after some random time (typically in days) it stops working/shuts down.

Is the

[2020-12-14 07:44] misi commented on #664
@ishan501  Which version? What is the logs when it stops? Try to use -V if  -v don't show enough details

[2020-12-15 05:47] ishan501 commented on #664
Hey, CoTURN version: Version Coturn-4.5.0.7 'dan Eider'.

I can see the below logs

996: session 003000000000000001: realm <media1.sintonus.com> user <>: incoming packet BINDING processed, success
1006: session 005000000000000001: realm <media1.sintonus.com> user <MediaSintonus>: incoming packet BINDING processed, success
1006: session 003000000000000001: realm <media1.sintonus.com> user <>: incom

[2020-12-15 08:13] misi commented on #664
Try to upgrade to a more up2date version..
Try to log with more verbose -V

[2020-12-16 03:07] yuanchieh-cheng opened #666 "Running on docker with prometheus open keep eating up memory"
It seems that prometheus keeps all relay connection records in memory, so the CPU and memory keep increasing.
After reboot the server, CPU / memory drop down.

Is there any way to clear the memory without restarting the server?
It's ok to clear all the records.

[2020-12-16 04:47] domeger commented on #666
@yuanchieh-cheng how did you enable the endpoint ?, via the config ?

[2020-12-16 05:27] yuanchieh-cheng commented on #666
via config

[2020-12-16 07:43] misi commented on #666
@yuanchieh-cheng Can you please find the root and fix it and send a patch Pull Request.
I work on other issues, don't find the time to check it in short term...

[2020-12-16 07:56] yuanchieh-cheng commented on #666
I am not the c programmer but I would try my best.
My propose is to flush all the data if the api /metrics is called successfully.
Is it ok to do so ?

[2020-12-16 08:01] misi commented on #666
@wolmi  Can you please help on the fix of the issue?
See: https://github.com/coturn/coturn/pull/517

[2020-12-16 08:05] misi commented on #666
@yuanchieh-cheng I don't have a prometheus setup, so I don't fully see yet what data's stuck in memory.
Can you dig deeper in a memory dump and give more info about what info's/data block are stuck in memory and eating the memory?

[2020-12-16 09:03] yuanchieh-cheng commented on #666
Ok, I would try to produce the debug data

[2020-12-16 16:36] wolmi commented on #666
I think it is related to the huge amount of allocations and the fact that the allocation is a label that causes to have a lot of information on each metric.

The use case is a test environment or is it production? can you share some info about the number of users?

[2020-12-16 18:33] cedricve commented on #399
same question.. not working.

[2020-12-16 19:41] misi commented on #399
@cedricve  you need to send a request with REQUESTED-TRANSPORT = tcp WebRTC browsers don't requesting-transport  AFAIK. HTH

[2020-12-16 19:42] misi commented on #399
Transport tcp does mean only between TURN client and TURN server, but it will allocate UDP port on server.

[2020-12-16 19:44] cedricve commented on #399
thanks @misi, we are actually using a public TURN server (on a VPS), but the turn client is within a very strictly firewalled environment. We opened the TCP relay ports (2xxxx-6xxxxx) on the internal firewall, but that didnt work.

[2020-12-16 20:03] misi commented on #399
@cedricve  Pubilc TURN is fine.
Turn client(Dst:TCP turnserver:443) =={tcp}==Strict Firewall=={tcp}==Turn server----{udp}---Turn Peer
I guess you use 443 or port 80 with tcp ..

What do you mean internal firewall?

[2020-12-16 20:05] cedricve commented on #399
Yes we use 443, but the TURN client is within a company network. So therefore I believe the (UDP) port range to the TURN server has to be allowed.

[2020-12-16 20:11] misi commented on #554
Please help us and send a Pull Request.
CoTURN supports somehow multiple realm, but in reality only one realm. Yes it is confusing as it is.
The IETF darft https://tools.ietf.org/html/draft-ietf-tram-stun-origin-06 that allowed multiple realm has been canceled, so the coTURN name is not very valid today because of it. Coturn also supports RFC 7635 - oAuth third-party that is not used widely.

I do

[2020-12-16 20:15] misi commented on #549
@davefej ICE do with stun probe test. See ICE RFC https://tools.ietf.org/html/rfc5245#section-7

[2020-12-16 20:16] misi commented on #549
I think it is no coturn issue so please use the mailing list for discussions..

[2020-12-16 20:16] #549 closed

[2020-12-16 20:19] misi commented on #548
@undeadindustries
We don't yet have such env option, but you can mount config file where you can adjust all configuration.
So mount /etc/turnserver.conf
Please send a Pull Request with more sophisticated env handling

[2020-12-16 20:21] misi commented on #547
I don't find time to maintain more distros. I try to maintain debian. Please use it or ask/help maintainers in ubuntu team.

[2020-12-16 20:21] #547 closed

[2020-12-16 20:22] misi commented on #546
@jelmd I am working on it.. Sorry I have limited time..

[2020-12-16 20:23] misi commented on #545
Please use discussion the mailing list I don't feel it is a coturn issue..

[2020-12-16 20:23] #545 closed

[2020-12-16 20:27] misi commented on #544
See @downright-ux  `turnutils_uclient` and `turnutils_peer` You can make limited load test with these tools. See the man page for more info.

[2020-12-16 20:33] misi commented on #543
@schandrasekhar use turnutils_peer with  turnutils_uclient -v -x localhost
Use turn server in pre-production/production on global IP address in VPS not on your local host..
Or run it only for testing locally, but then you need to know how ICE and STUN TURN works and what part is used by WebRTC..

[2020-12-16 20:37] misi commented on #543
It is not a bug or an enhancement, you need to learn more about ICE STUN TURN and WebRTC I have an old codelab
misi.github.io/webrtc-c0d3l4b/ may it could help as first step but read the RFC-s for more comprehensive doc..

[2020-12-16 20:40] misi commented on #542
@mokkin  No unfortunately I don't have any idea from this info. Please dig deeper and find the root of the issue check your browsers ICE logs and open a new issue with more details.. It is not a coturn issue AFAIU..

[2020-12-16 20:40] #542 closed

[2020-12-16 20:42] misi commented on #541
@Antoine-Sevec Sorry for my late reply try to use REDIRECT-s see example in: https://github.com/coturn/coturn/tree/master/examples/scripts/loadbalance

[2020-12-16 20:43] misi commented on #541
So one (or more) Redirect server(s) is just round robin redirects to other worker servers the clients..

[2020-12-16 20:46] misi commented on #539
@mmujic  HTTP Web is disabled by default in the latest versions in coturn server. Which version do you mean?

[2020-12-16 20:50] misi commented on #536
Check your browser ice logs. Open new tab on chrome `chrome://webrtc-internals` or in firefox `about:webrtc` and check ICE logs.
See my old codelab for  WebRTC ICE STUN/TURN misi.github.io/webrtc-c0d3l4b/ may it help to understand more. Or check ICE and STUN/TURN RFC-s.. This issue is not a coturn issue please use the mailing list for further discussion..

[2020-12-16 20:50] #536 closed

[2020-12-16 20:51] misi commented on #535
@localguru @jianminfly   use trunutils to test stun e.g.  turnutils_uclient  (and turnutils_stunclient)

[2020-12-16 20:53] misi commented on #535
I don't see any coturn issue here. Please use the mailing list for help and discussion..

[2020-12-16 20:53] #535 closed

[2020-12-16 20:55] misi commented on #520
@rubo77  You need to restart to reload config. Please send a Pull Request with a clarification to the readme I am happy to merge..

[2020-12-16 20:57] misi commented on #515
@Sudheerkumar Try to use turn on tcp 443 instead of  turns.. Is your TURN client support turns?

[2020-12-16 21:01] misi commented on #511
@MiningPickaxe

Client request to tear down connection. Check your turn client /ICE agent/ logs why it requesting it..

[2020-12-16 21:09] misi commented on #510
@johnjaylward  Sorry for my  late reply. I don't run it in jail so my guess might it is connected to the jail.
The serer can't bind to local addr is may a stucked server process or the jail..

[2020-12-16 21:13] misi commented on #509
@yfaker Try to turnutils_uclient micro stun/turn client has many nice features for testing..

[2020-12-16 21:13] #509 closed

[2020-12-16 21:20] misi commented on #505
See `about:webrtc` or `chrome://webrtc-internals`
@wjhtinger I feel it is not a coturn issue or enhancement please use mailinglist for discussion or help.

[2020-12-16 21:20] #505 closed

[2020-12-16 21:25] misi commented on #504
@raccoonback
With multus + sbr you can create in k8s such pod where you have global IPv4 and IPv6 and you can use k8s to run coturn.
Or an alternative to nat(1:1) global ip  to a pod ip with calico and floating IP..
This is my final conclusion.. So the answer is yes.

[2020-12-16 21:25] #504 closed

[2020-12-16 21:26] misi commented on #502
@wyudong  try to check the file has right permission..

[2020-12-16 21:28] misi commented on #501
@saadat-atta-brainx Check config for relay listener and external-ip settings.

[2020-12-16 21:28] #501 closed

[2020-12-16 21:28] #500 closed

[2020-12-16 21:29] #498 closed

[2020-12-16 21:29] #494 closed

[2020-12-16 21:37] misi commented on #399
@cedricve  You mean the peer is behind the same strict firewall..

[2020-12-16 21:38] cedricve commented on #399
Exactly!

[2020-12-16 23:42] schandrasekhar commented on #543
@misi / @Neustradamus  thanks for the reply. will try with `turnutils_peer` command and see if it works. Thanks

[2020-12-17 02:23] yuanchieh-cheng commented on #666
Yes I think that is the root cause of the issue.
I still run in the test but I think it should be environment unrelated issue.
I run a cronjob at 1 min rate to start TCP relay for health check.
Roughly after one day (86400 records generated), it ate up 200 MB roughly.
Even worst I found the container throw Segment fault(core dump).

[2020-12-17 02:45] #502 closed

[2020-12-17 04:02] foresto commented on #563
@tfreedman Have you tried setting external-ip (or -X) to your host's domain name instead of an address? I just did, and it seems to work.

When mainrelay.c parses that option, it gets sent through `make_ioa_addr()`, [here](https://github.com/coturn/coturn/blob/9b1cca1fbe909e7cc7c7ac28865f9c190af3515b/src/apps/relay/mainrelay.c#L1379), which then passes it to `getaddrinfo()`, [here](https://github.

[2020-12-17 09:53] cedricve commented on #399
@misi just found the Peer in the strict firewall, is not generating srflx or relay candidates. Only host candidate are generated. Is this expected bahaviour? (not having opened the UDP port range, and thus not able to allocate).

[2020-12-18 08:24] #546 closed

[2020-12-18 08:58] marcohald commented on #562
@misi This file is generated on each meeting. So I don't have this.
I can provide you new logs in the first january week.

[2020-12-18 09:22] misi commented on #562
@marcohald I don't really think it is coturn issue many BBB installation use coturn without an issue..
You can see the error was not on coturn side but on BBB. Please help me and debug with your BBB system-admin the issue and come back if it is a proved coturn issue. Unfortunately I don't have time to understand and support all WebRTC sw-s that use coturn.

[2020-12-18 10:08] misi commented on #562
And one idea to iOS issues.
Check your TLS cert issuer, iOS is more strict. Accepting only less Certificate Authorities then others like Android.

[2020-12-18 15:05] rgarrigue commented on #662
Thanks. "This year" is a bit vague, this feature is really important for us, I hope it can be release ahead of time, without being slowed down by a backlog maybe a bit big ?

[2020-12-18 15:21] misi commented on #662
@rgarrigue It will be out before 11 of January 2021, but I can't tell you more.

[2020-12-18 15:26] rgarrigue commented on #662
Will do. Thanks !

[2020-12-19 12:58] damnms commented on #438
just hit the same problem

[2020-12-21 19:17] misi commented on #598
@JonathanLennox  Sorry for my late reply.
I have checked it on the latest master version and without REQUESTED-ADDRESS-FAMILY I  sent ALLOCATE request to (an IPv4 / IPv6 dual stack) a serverIPv6 address and it allocated an IPv4 address. So in the latest version it has been fixed or at least I couldn't reproduce it. Please comment this issue or open a new issue if you still experience it.

[2020-12-21 19:17] #598 closed

[2020-12-21 19:44] misi commented on #603
If you can forward your logs to syslog you can filter out the unwanted logs before write it to disk.
And also we can add a new option to disable logging of STUN bind requests. @532910  What do you think?

[2020-12-22 08:39] ishan501 commented on #664
I'm starting the server with pm2 now. Do you recommend it?

[2020-12-22 17:03] misi commented on #584
@fippo I added to white list the private IP part of the `external-ip` as discussed. Please test it..
See:
https://github.com/coturn/coturn/commit/6101ebd51b6731464ab346ae70159e8312d0b3c6

[2020-12-23 00:17] 532910 commented on #603
this sounds like a workaround

and this is the solution

[2020-12-23 06:21] tskten opened #667 "correct config for NAT Mapping determination(rfc 5780)?"
I'm seting up a coturn server for STUN use with rfc-5780 support, the server has 2 external IP, say \*.\*.65.50 and \*.\*.124.73.
my config is like below
[code]
when I send binding request to \*.\*.65.50:3488, coturn returns same IP \*.\*.65.50 in OTHER-ADDRESS, which I expected the IP to be \*.\*.124.73
However, when I send binding request to \*.\*.124.73, IP in OTHER-ADDRESS is \*.\*.65.50, as e

[2020-12-23 09:07] misi commented on #667
@tskten can you share your verbose logs about starting coturn.
Check if you have 2 listening IP-s without NAT..

See code:
https://github.com/coturn/coturn/blob/ae541958cd4c818e5d44d06d6ec75a7f1944ade6/src/apps/relay/netengine.c#L1079

So if you use NAT (external ip or you don't listen on 2 or more ip address) rfc5780 will not work AFAIU..

[2020-12-23 09:51] tskten commented on #667
the log shows I have 2 listener addresses, both private ips mapped to public ip.

[code]
I think this is the situation described here:
[code]

[2020-12-23 11:06] deyceg commented on #666
@wolmi We came to the same conclusion. Allocation ID is a very bad, high cardinality label. It should be removed otherwise the exporter is not usable.

[2020-12-23 12:01] wolmi commented on #666
I've managed to have a similar issue on my first exporter where I create basic process to subscribe the Redis stats and generate the Prometheus /metris endpoint. I finally have to remove the allocation from labels, first to fix the problem when performing queries to Prometheus that makes Prometheus to crash but also because it was useless related to not be able to track the users connection using

[2020-12-23 12:12] deyceg commented on #666
My preference is to simply remove it. If you want to do analysis per user/session then storing the allocations in redis/mysql/mongodb/some other storage backend is a better tool for the job.

There is no solution here that doesn't have a massive impact on Prometheus. It basically killed our monitoring stack with just a handful of users because of trickle ICE (a single WebRTC call for a single user

[2020-12-23 16:55] GregOriol commented on #240
It seem that this might be tracked as webkit bug #219274 (https://b.webkit.org/show_bug.cgi?id=219274) and might be a good news as it has just been resolved on 2020-12-10

[2020-12-23 21:25] sj82516 commented on #666
I wana echo @deyceg opinion.

Per user data is important for me to do some budget control.
Storing user session data into database is good idea because I could better estimate the storage size and manage the storage expansion.

For Prometheus metrics, the over whole system metrics like current session amount / current bandwidth are quite enough.

[2020-12-23 23:21] wolmi commented on #666
Ok, it seems itis time to make decisions.

@misi are you ok on removing the allocation label?

If yes I'll try to prepare a PR, I cannot promise it in short time, because the holidays, but it's easy to modify now.

[2020-12-25 02:13] tskten commented on #667
It seems this piece of code will always write same IP to alt_addr for same sa_family, so it is possible to return receive IP in OTHER-ADDRESS

[2020-12-25 20:06] PlanetDyna opened #668 "Matrix and coturn: Cannot bind local socket to addr: Address already in use."
Hello Folks,

I have installed Matrix - however the following errors appear in the Coturn log:

0: Trying to bind fd 19 to <192.168.2.131:3478>: errno=98
Cannot bind local socket to addr: Address already in use
0: Cannot bind TLS/TCP listener socket to addr 192.168.2.131:3478

tcp        0      0 192.168.2.131:3478      0.0.0.0:*               LISTEN      684/turnserver
tcp        0      0 192.168

[2020-12-25 21:34] luisrr1590 opened #669 "Coturn STUN returns private ip of server's firewall"
Hello i've been breaking my head for weeks now looking for an asnwer to my problem, but I cant seem to find any.

I have a physical server used for virtualization behind a Fortigate 70D firewall. I created an Ubuntu VM server dedicated to be used as a STUN/TURN server with Coturn and created IPv4 policies in the Fortigate to actually route traffic and ports to the server. I also have a static publ

[2020-12-26 12:53] meyca commented on #669
Let CoTurn decide which relay-ip to use and comment out that setting?!

[2020-12-26 20:12] luisrr1590 commented on #669
Thank you for answering @meyca....following your suggestions i commented out the listening-ip and relay-ip options of coturn and restarted the service... The server is still accesible but the response continues to be the same (192.168.1.1)

[2020-12-26 22:50] meyca commented on #669
A parallel VPN connection to that firewall or to some equipment behind it? ... There are too many options you are playing with: Fortigate-Networking, VM-Host, VM-Host-Networking, VM-Networking just to name a few. And I am not an expert either.

[2020-12-28 04:57] akash-docquity opened #670 "Question - How can I test the load capacity?"
Hi,

Sorry if this is a weird query.

But how can I check that how many simultaneous connections could be handled by my coturn server on EC2.

I have implemented P2P call and used coturn on EC2. I know how to load test signalling server using Jmeter.

Please help..

Thanks.

[2020-12-28 14:24] MilanKral opened #671 "Add support for TLS 1.3"
Please add support TLS 1.3 protocol.

This will probably require rewrite of check_tentative_tls, because in TLS 1.3 "Supported Versions" TLS extension is used to distinguish between TLS 1.2 and TLS 1.3

[2020-12-28 19:53] luisrr1590 commented on #669
managed to solve it....in the Fortigate I set the IPv4 policy with no NAT and then Coturn started to respond with the public IP of the client.....thank a lot....closing issue now.

[2020-12-28 19:53] #669 closed

[2020-12-30 18:56] ranjit-singh-cc commented on #244
Max number of open files/sockets allowed for this process: 3200

Is there a way to increase maximum number of allowed socket or is it dependent on configuration of system.

Any help related to windows will be very helpful.

[2020-12-30 19:02] ranjit-singh-cc commented on #380
Hey I can see "Max number of open files/sockets allowed for this process: 1048576" - when I am running my turn server its showing 3200 number only. can you please let me know how you increased it.

[2021-01-02 10:34] genofire opened #673 "bug: not filled prometheus metrics"
Version: ae541958cd4c818e5d44d06d6ec75a7f1944ade6

`_status` and `_total_` has no values

[code]

[2021-01-03 18:45] rubo77 commented on #520
In which file would you look for such a hint? The main Readme?

[2021-01-04 08:58] misi commented on #671
@MilanKral  It would be great if you can please help me and send a Pull Request with the needed changes. Unfortunately I am busy with fixing other issues. Many Thanks for your help in advance!

[2021-01-04 09:00] misi commented on #673
@genofire Can you please propose a fix for the issue?

[2021-01-04 10:36] misi commented on #670
There is tool `turnutils_uclient` and `turnutils_peer` you can use to load test.
See in the example/scripts folder for more info.

[2021-01-04 10:38] misi commented on #668
Are you sure it is not running already? Can you check what is listening on port 3478?

[2021-01-04 13:24] misi commented on #520
I think here: https://github.com/coturn/coturn/blob/master/README.turnserver
Please notice that man page is also generated from this file..

[2021-01-04 17:58] tenge-amzn opened #674 "Possible solution for different realm under different server name?"
I have the same server behind different domain name, TURN server is running both TLS and UDP.

I'm wondering if there's a way to use different realm on the session that's connected under different domain name?

For example, having xyz1.com and xyz2.com both pointed to same server.
Credential generated for xyz1.com won't work on xyz2.com, and vice versa.

[2021-01-04 21:01] misi commented on #674
The short answer is No.
See the RFC-s for more info..

[2021-01-05 02:48] Neustradamus opened #675 "New official release of coturn before Debian 11 freeze"
Dear Coturn team, @misi,

It is possible to have a new build before the Debian 11 freeze?
- https://tracker.debian.org/pkg/coturn
- https://packages.debian.org/search?keywords=coturn

Not up-to-date:
- https://salsa.debian.org/pkg-voip-team/coturn
- https://salsa.debian.org/pkg-voip-team/rfc5766-turn-server

Next Debian will be here in 2023.

Thanks in advance.

[2021-01-05 06:52] misi commented on #675
I will try to make it.

[2021-01-05 06:52] #675 closed

[2021-01-05 09:35] #674 closed

[2021-01-05 10:00] misi commented on #603
@532910  Implemented in latest master the solution.
Disabled binding logging and added new option --log-binding to keep previous behavior.
Please test it.

[2021-01-05 10:25] #604 closed

[2021-01-06 00:06] sj82516 commented on #666
I write one turn monitor and it work pretty well in our production env.
If anyone need any statistics right now, maybe you could consider my solution https://github.com/sj82516/turn-monitor.
Any suggestions are welcome.

[2021-01-06 13:20] RUDI-TERROR opened #676 "Question: BigBlueButton and Coturn"
Hello together,

we recently installed a BigBlueButten server to provide a video conferencing solution for our employees.

Since there are always problems with participants behind restrective firewalls, we have installed another server with coturn.

Unfortunately, the installation of the coturn server did not lead to success for us and now we suspect a configuration error.

The error can be reprod

[2021-01-06 13:26] misi commented on #676
@RUDI-TERROR Can you send a full ICE log FireFox trace? And a screenshoot about ICE negotiation result..

[2021-01-06 13:38] misi commented on #676
Check your browser DNS resolver:

It seems browser can't resolve ICE Candidate.. Check your browser host DNS resolution..

https://searchfox.org/mozilla-central/rev/a0ccd492719b1ad2106f6456549be62a76f45acb/dom/media/webrtc/transport/third_party/nICEr/src/ice/ice_candidate.c#682

[2021-01-06 14:47] RUDI-TERROR commented on #676
Hi,

thank you very much for your quick feedback!

The DNS resolution is indeed the cause of the error, thank you!

We added a hosts record for turn.company.de on 2 endpoints and then we were able to connect via the TURN server.

Do you have another tip for us on how to resolve the turn-server via the proxy server? What did not work was the Firefox proxy option "DNS over http". But this could be d

[2021-01-06 15:46] misi commented on #676
My idea is that you need to figure out with Admin of the proxy why DNS is not resolving.

DNS resolution is not where coTURN could help, so it is not related to this project.
I think the remaining issues are not related to coTURN anymore so if you don't mind I will close the issue..

[2021-01-06 17:19] remvst opened #677 "[gcloud] Instance works but network load balancer doesn't"
Hello,

I am currently trying to set up a TURN server on gcloud behind a load balancer. I have a managed instance group with a basic coturn template, which seems to work. I can use an individual instance's external IP and trigger candidates through https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/

The instance executes this script at startup:
[code]

My instance group is ad

[2021-01-06 18:45] jpds commented on #671
Dup of #630

[2021-01-06 18:53] jpds commented on #630
I was debugging a coturn server I run today, when I noticed that the `openssl` client I was using was talking TLS1.3 to it?

[code]

coturn version is `4.5.1.1-1.1+deb10u1`.

[2021-01-06 20:12] misi commented on #677
I do not know how GCP LB works, but please check session affinity and UDP..
* https://cloud.google.com/load-balancing/docs/network/networklb-backend-service#session_affinity
* https://cloud.google.com/load-balancing/docs/features#session_affinity

[2021-01-06 20:27] misi commented on #677
@remvst
I read here: https://cloud.google.com/load-balancing/docs/network/setting-up-network

You didn't had in your example health check, maybe this is the issue?
Check the docs I  don't have more idea

[2021-01-06 21:31] remvst commented on #677
I didn't mention it but yes I do have health checks on both the managed instance group and the target pool:
[code]

As you can see from the target pool creation, I do set the session affinity to CLIENT_IP (like you suggested in another github issue).
I am currently working with only one instance, so I don't think it is a session issue.

In the mean time, I think I can make it work by contacting th

[2021-01-07 04:03] ChristianStornowski commented on #469
I'm using a systemd timer that triggers a systemd service every 5 minutes.
This systemd service executes this script:

[code]

[2021-01-07 07:06] misi commented on #677
@remvst If you are behind NAT You need to know your external IP address so IP of the LB and set in coTURN..

[2021-01-07 09:19] bruke291 opened #678 "The server returned an error with code=701: STUN/TURN allocate request timed out."
Hi everybody,

First, many thanks to everybody and so sorry for my English.

I'm beginer in this, i installed and configured Coturn, it looks good. But when i tried test with Trickle ICE tools i got error 701:

![image](https://user-images.githubusercontent.com/33303998/103874371-a7638100-5103-11eb-808a-48ab9476746c.png)

I have tried everything but it still fails.

Please help me!
Thanks and best

[2021-01-07 09:20] bruke291 commented on #678
@misi can you help me look into it please

[2021-01-07 10:33] #602 closed

[2021-01-07 10:37] misi commented on #602
@532910
The problem is that we read options before we set the log destination until sequential read of options not reach the syslog it logs to file. As Quick fix / workaround put in the config file first line the syslog option.

It has been fixed in the latest master in commit  5b13fdd
Thanks for your patience..

[2021-01-07 10:37] #603 closed

[2021-01-07 10:38] misi commented on #584
I will close it because I feel it has been resolved. Please comment if there is anything I left out, and I will reopen  the issue..
Thanks!

[2021-01-07 10:38] #584 closed

[2021-01-07 11:11] misi commented on #678
See for stun 701 error code:
The standard

* https://www.w3.org/TR/webrtc/#dom-rtcpeerconnectioniceerrorevent-errorcode

The source of a browser implementation
* https://source.chromium.org/chromium/chromium/src/+/master:third_party/webrtc/api/transport/stun.cc;drc=837f13c84c41b2e507f5c38424414a57572632a2;l=108

So try to check your app signaling and server rechability from the client..

[2021-01-07 12:16] PlanetDyna commented on #668
Hey Misi!

Thank you for your reply. Iam sure its running. But maybe I missed to forwared ports?

https://abload.de/img/portszpktw.jpg

[2021-01-07 14:21] #676 closed

[2021-01-07 15:37] kirankumar-ravuri commented on #468
Updating here for the ones who is still trying.

Need to setup PUBLIC turn instances as we do for regular EC2 instances.  And then point NLB to those instances.

Hope this helps.

[2021-01-07 16:10] remvst commented on #677
You mean setting the `external-ip` field to the load balancer IP, right? I tried that (replaced the instance IP with the load balancer IP), still no luck :(

[2021-01-07 17:52] kirankumar-ravuri commented on #677
@remvst
I tried similar stuff with AWS NLB.

I spun up turn instances in PUBLlC subdomain. And configured turn instances as we would do for instances which are behind NAT, setting external-ip to public ip of instance. Then pointed NLB to those instances.

Seemed to work.

[2021-01-07 17:54] #152 closed

[2021-01-07 17:58] remvst commented on #677
Did you have one subdomain per instance then? And also, were those instances scaling automatically, or did you create each manually?
If I can't get the load balancer to work with coturn, I'm thinking I can still probably assign a domain for each instance automatically using gcloud's APIs, but ideally I'd love to only have a domain on the load balancer and let it redirect all traffic.

[2021-01-07 18:04] kirankumar-ravuri commented on #677
@remvst
my bad. I meant to say public subnet.

[2021-01-07 20:13] misi commented on #558
I added new option `--systemd`. To allow better integration with systemd. Notify systemd about coturn status, and start in systemd coturn not as forked type service but notified type service.
See commit https://github.com/coturn/coturn/commit/ef7916842d0f21ec1dfc26a8b23290fffd8e96bd

[2021-01-07 21:39] #600 closed

[2021-01-07 21:39] #601 closed

[2021-01-07 21:39] #621 closed

[2021-01-08 02:12] bruke291 commented on #678
Dear @misi,

Thanks for supporting me.
Im suspecting the problem is that there are some un-open ports between min-port 49152 and max-port 65535, because i checked stun/turn url on browser and both port 3478 and 5349 are open.
This is the list of detail specs:

![image](https://user-images.githubusercontent.com/33303998/103965937-62862b80-5191-11eb-85be-d57e318202dd.png)

I would appreciate it very

[2021-01-08 02:30] bruke291 commented on #678
About reachability, as i mentioned earlier, i checked everything i could, and i am suspecting the problem is that there are some un-open ports between min-port 49152 and max-port 65535.

[2021-01-08 08:52] misi commented on #678
@bruke291 Unfortunately I am busy with the actual release. I can support you only latter..
 Many thanks for your patience..

[2021-01-08 08:58] misi commented on #678
Have your tested from the browser machine to create a tcp connection to the server tcp port?

You should see if e.g. telnet server port that telnet connection established.. `connected`
[code]
And on server you should see if started with  `--verbose` option
[code]

[2021-01-08 09:15] rubo77 commented on #520
closed by https://github.com/coturn/coturn/pull/679

[2021-01-08 09:15] #520 closed

[2021-01-08 09:34] bruke291 commented on #678
@misi please, take your time. I appreciate all the help you have given me so far. Thank you very much!

[2021-01-08 09:44] bruke291 commented on #678
Yes i can create a tcp connection to my server with tcp port.
Im using this command:
`telnet 127.0.0.1 3478`
and the result is the same as yours
`29: IPv4. tcp or tls connected to: 127.0.0.1:59062`

And when I apply the specs to the [WebRTC demo](https://webrtc.github.io/samples/src/content/peerconnection/pc1/), it works. But when i tried to test my STUN/TURN server on [Trickle ICE](https://webrtc

[2021-01-08 09:46] misi commented on #558
It is closed by mistake

[2021-01-08 09:47] paulmenzel commented on #558
systemd notify integration is a very nice. Thank you for that.

How does Coturn handle removed network interfaces? I think the optimal solution would be, that Coturn would discover the network interfaces dynamically, so it would be able to start without any interfaces set up yet, and then gets notified about new interfaces or detects them itself.

[2021-01-08 10:07] misi commented on #558
Unfortunately AFAIK coturn does not handle dynamic interface removal or add :(
If config not specify listener/relay ips, then it discovers during start the actual interfaces and ip addresses, and it will listen on these addresses..

[2021-01-08 11:32] wferi commented on #558
Strictly speaking, you needn't change the default (enumeration and use of currently available addresses) behaviour, it's enough to add `-L ::` to the default `ExecStart` directive. That isn't very elegant, though; are there real use cases that the behaviour change would break?

That "little bit" may be arbitrarily long, but the main problems are that
1. the `network-online.target` is rather weakly

[2021-01-09 19:34] SirCypher commented on #240
While we all wait for an official change/fix there is a sort-of workaround:
Use ZeroSSL instead of LetsEncrypt.

ZeroSSL certificates are signed by a certificate which is also in the webkit CA store. The Element app on Android is now working properly with coturn and TLS on my private server. No more "Unknown CA" error in Wireshark. :)
ZeroSSL is also supported by quiet a few acme clients, so the s

[2021-01-09 19:48] SirCypher commented on #630
Coturn itself might not support TLSv1.3 right now, but the OpenSSL libraries of most OS do.
That's when you get this strange mismatch where the application does not officially support 1.3, but you can connect anyway.

The downside is that you can't disable TLSv1.3 or modify the cipher list from within the coturn configuration file. All those values will only affect TLSv1.2 and below.
If you want t

[2021-01-09 21:34] misi commented on #673
The total values only set when the session is concluding/terminating.. So I think it is a feature not a bug

[2021-01-09 21:34] #673 closed

[2021-01-09 21:42] misi commented on #666
@wolmi I am ok with removing the allocation..

[2021-01-10 08:39] misi commented on #666
I did what I can to simplify it to include it in 4.5.2 but it is still a beta not for production!

I will keep this issue open to remember to add more metrics in the 4.5.3++ release.
@wolmi if you have time please send a PR about it.

Thanks to all for Your contribution!

[2021-01-11 06:50] kunlk opened #680 "Question: is there a way to check the coturn version on an existing server ?"
Hi Team,

I have an existing coturn server, but don't know how to check the version. Is there a command or version file to show the version? thanks a lot!

[2021-01-11 07:18] misi commented on #680
Just run `turnserver` and it will write out the version

[2021-01-11 07:24] kunlk commented on #680
Thank you very much !

[2021-01-11 11:22] rgarrigue commented on #662
@misi : I got the release notification, thanks. I sent a mail to the related Debian mailing list for an ETA, and saw your name in the uploaders. Did you sent them the .deb too ?

Half related, I'ld be interested in the .deb as part as the Github release assets.

[2021-01-11 11:40] misi commented on #662
@rgarrigue I am working on the new release day and night. And yes I am working on the packaging. So I hope it will be rolled out today in unstable..

[2021-01-11 11:40] misi commented on #662
Can you forward me the email that you sent to debian list.. thx..

[2021-01-11 19:16] remvst commented on #677
This was apparently the winning solution, except I just didn't implement it right.

The UDP load balancer on gcloud has some caveats, which are described here: https://cloud.google.com/solutions/udp-with-network-load-balancing
Basically you're contacting the load balancer IP, but get the instance's IP back.

I was able to get my server to work by overriding both `listening-ip` and `external-ip`, w

[2021-01-11 22:25] wuelcas opened #681 "Question: What's the algorithm to hash the password in Redis?"
Hi everyone, a newbie to all WebRTC things here.

I have the task to configure our TURN server to use long-term credentials, for this we're creating a service that generates those credentials and using Redis to store the credentials.

According to [the userdb schema for redis](https://github.com/coturn/coturn/blob/master/turndb/schema.userdb.redis) "For the long-term credentials there must be keys

[2021-01-11 23:32] maximbaz opened #682 "Support setting external-ip twice, for IPv4 and IPv6"
Right now we can either set `external-ip` once (if no RFC5780 functionality is required), or use the extended syntax to map global to local IP addresses.

In environments like Docker where local IP address changes all the time, using the extended syntax is quite cumbersome, so it is nice to just define `external-ip=<public-ip>` and it will map correctly every time.

However because I have two publ

[2021-01-12 04:04] kirankumar-ravuri commented on #677
@remvst Congrats. It took time for me to figure out for AWS as well.

For the issue you faced,  you mean to say that dnslookup for NLB domain gave instance IP, not the NLB IP?

[2021-01-12 04:42] remvst commented on #677
I do not have any DNS set up (yet). Setting `listening-ip` to the load balancer IP is the equivalent of the solution described here: https://cloud.google.com/solutions/udp-with-network-load-balancing#let_the_app_explicitly_bind_to_the_load_balancers_ip_address
I'm not super familiar with how UDP works, but from what my smarter coworker told me, I was basically sending UDP packets to the load balan

[2021-01-12 05:43] Neustradamus commented on #675
@misi: Thanks!

[2021-01-12 08:09] misi commented on #681
md5
`echo -n “user:realm:secret" | md5sum`

[2021-01-12 09:38] MatMaul commented on #662
Hello there, thanks for the release @misi. Can you also trigger an update of the docker images when you have some time ? Thanks !

[2021-01-12 12:07] misi commented on #662
https://hub.docker.com/r/coturn/coturn
The latest tag automatically builds after every commit or base image change..

[2021-01-12 12:09] misi commented on #662
https://buildd.debian.org/status/package.php?p=coturn
4.5.2-1 land in unstable after compilations finihing

[2021-01-12 13:20] MatMaul commented on #662
oh thanks. I was actually using https://hub.docker.com/r/instrumentisto/coturn, I didn't know this one exists.
Can we have something a bit more "stable" than building master ? like building the last tagged release for example ?

[2021-01-12 13:30] wuelcas commented on #681
Hey @misi thank you so much!

[2021-01-12 13:30] #681 closed

[2021-01-12 14:29] misi commented on #662
I added 4.5.2 tag.
This is the actual stable. Please help me maintain the docker part.
Let me know if any other adjustment missing what you like in other instrumentisto/coturn

[2021-01-12 14:30] misi commented on #654
Fixed

[2021-01-12 14:30] #654 closed

[2021-01-12 22:02] tengg opened #683 "4.5.2 starting up got stuck"
Build on a new Ubuntu machine, all dependencies were installed via apt.
When starting up, each log line was printed twice, and got stuck somewhere reading redis socket:

[code]

[2021-01-12 22:05] tengg commented on #683
It's stuck here looks like some deadlock. No error reported.
Config file:
[code]

[2021-01-12 22:07] tengg commented on #683
strace showed stuck at:
[code]

[2021-01-12 22:43] misi commented on #683
- Don't use log-file=stdout, it logs by default to stdout.. So it is duplicate
- Don't use lt-cred-mech
  see in your log:
[code]
I checked on debian unstable with your config and it seems it works for me.

[code]

[2021-01-12 22:44] misi commented on #682
I am busy with the release but after it I will get back to you.

[2021-01-12 22:45] #680 closed

[2021-01-13 00:05] tengg commented on #683
Config corrected:
[code]

The output is corrected now.. but it's still stuck:
[code]

I don't think it's caused by the redis, as it works fine with redis-cli. Any suggestion to look at?

[2021-01-13 00:22] tengg commented on #683
Ok I think I found the problem.
Removed libssl-1.0-dev and installed llibssl-dev (1.1.1), it works good!

I'll check why..

[2021-01-13 09:52] cedricve opened #685 "how to install 4.5.2 on debian."
I just tried to installed coturn on a Debian VPS (digital ocean), and the version is 4.5.0.5-1+deb9u3
How can I upgrade?

[2021-01-13 09:53] misi commented on #685
Debian version?

[2021-01-13 09:54] cedricve commented on #685
root@turn2:~# uname -a
Linux turn2 4.9.0-13-amd64 #1 SMP Debian 4.9.228-1 (2020-07-05) x86_64 GNU/Linux

[2021-01-13 09:54] misi commented on #683
See PR #684

[2021-01-13 09:56] misi commented on #685
Please send the output of `lsb_release -a`

[2021-01-13 09:57] cedricve commented on #685
root@turn2:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.13 (stretch)
Release:	9.13
Codename:	stretch

[2021-01-13 10:00] misi commented on #685
4.5.2 rolled out only to unstable and will be rolled out today to testing.
After it will arrive to testin I will start work on the backport to stable.

[2021-01-13 10:01] cedricve commented on #685
Super!

[2021-01-13 12:05] Commifreak commented on #421
This indeed fixed it - but what is the cause? I've set up the coturn some month ago and changed nothing. Now it was siply not working/binding.

A simple update of the system & packages was causing this?

Is a fix on the way for the systemd config?

[2021-01-13 12:20] misi commented on #421
No it will not be fixed by default in systemd.
According RFC coturn default port don't need 3478 not need acces to privileged port.
See for more info and workaournds:
https://github.com/coturn/coturn/blob/4417fd2ca7e75833378e7ce961ee094f022e5714/debian/README.Debian#L55-L69

[2021-01-13 12:35] SandeepKhore commented on #122
Hi,

I'm referring https://github.com/coturn/coturn/blob/master/INSTALL to install on MacBook Pro.

Was getting below error so I installed openssl using brew.
<img width="700" alt="Screenshot 2021-01-13 at 6 00 46 PM" src="https://user-images.githubusercontent.com/30897338/104452627-463b2200-55c9-11eb-9d07-10a895c0aba8.png">

This error fixed but started getting issue related to Libevent2.
<img wi

[2021-01-13 12:49] misi opened #686 "4.5.2 with OpenSSL version below 1.1.1 cause an issue"
This is just a tracking issue until new release will fix it properly.

I made a mistake in 4.5.2.and some of you with openssl version below 1.1.1 can experience an issue.

I tried to fix that in  ssl 1.1.1no more needed:
[code]

But in the fix I missed to define OPENSSL_VERSION_1_1_1 :-/
So actually
[code]
never called.

It not cause all mostly used modern Linux distributions any issue because the

[2021-01-13 13:16] misi commented on #122
Unfortunately I don't have a mac, so I can't test it.

According travis test it should work and compile on travis...

See for osx install logs in travis: https://travis-ci.org/github/coturn/coturn

[2021-01-13 19:05] brevilo commented on #686
No worries, you merged the PR and issued another release 👍 That's just teamwork...

[2021-01-13 20:51] #683 closed

[2021-01-14 14:22] misi commented on #685
Arrived in testing

[2021-01-14 20:01] ptroms opened #688 "allocation watchdog determined stale session state"
Stun works, however I have around 3-5% of logs filling up with sentences:
"reason: allocation watchdog determined stale session state"
I need to admit all seems to be running OK, but the logs cached my attention.
Is anyone who may explain it please.

 ...
Be aware "PUBLIC-IP" - it is a number:)

[2021-01-14 20:30] misi commented on #688
Maybe these are just port scan that just open a connection but after no more communication. And so it has a timeout and watchdog and before coturn delete it. It puts this line in the logs:

See log "allocation watchdog determined stale session state" log is in line
https://github.com/coturn/coturn/blob/060bf187879fd1a6386012f4c5a7494824ebe5c8/src/server/ns_turn_server.c#L4273

And see the Timeout

[2021-01-14 21:37] damnms commented on #343
i configured turnserver to write to /var/log/turn.log, and what do i see in my syslog?
Jan 14 22:33:55 server turnserver[32225]: ERROR: Cannot open log file for writing: /var/log/turn_2021-01-14.log

thats a very nasty behaviour

[2021-01-14 22:14] misi commented on #682
AFAIK docker assign IP when it is starting a docker container. So e.g. in ENTYPOINT shell script you have in environment var  the local ip  by default, and maybe you can also could get as extra ENV var the global IP too, and can replace in config before starting coturn.
Also in k8s you can use multus where you can listen global IP directly.

In IPv6 NAT is very uncommon and even early days of IPv6

[2021-01-14 22:17] misi commented on #343
@damnms  If you can send a Pull Request I am happy to merge. Unfortunately I am busy with other issues..

[2021-01-14 22:55] maximbaz commented on #682
Many thanks for your detailed reply @misi! This is very interesting!

While you are correct that in most cases IPv6 NAT is not needed, a case for when it's still useful in Docker is best described in [`docker-ipv6nat` README](https://github.com/robbertkl/docker-ipv6nat#why-would-i-need-this) - maybe not all of those reasons apply to `coturn` specifically, but for example I run `coturn` on the same

[2021-01-15 15:16] maximbaz commented on #682
It turned out to be a lot easier to detect the private IP addresses than I expected, so I implemented the suggestion you gave me, by creating a custom entrypoint for the docker. I leave it up to you to decide if this should be implemented in coturn itself, or you think supporting NAT IPv6 is out of scope for the project 🙂

[code]

[2021-01-15 18:52] ptroms commented on #688
misi -> You comment make sense.
Surprisingly I have increased number of of treats (relay-treats) and the log went quiet.
I slice and dice the log configuration and whatever I do the log is quiet. Only syslog option does show some action. Pretty noisy down there.

[2021-01-16 12:11] misi commented on #682
Thanks! Sorry I mixed k8s and docker.
So you don't get ip by default on docker, but you can expose  status.podIP in k8s
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

Don't get me wrong. If you see worth to implement IPv6 NAT and you can make the PR, I am happy to include it..
Unfortunately I have limited time and I don't think this use case

[2021-01-16 12:25] maximbaz commented on #682
Understood, and agree! Let's close the issue not to take up the space, if I get to implementing the PR I will just send it directly 🙂👍

[2021-01-16 12:25] #682 closed

[2021-01-16 18:03] misi commented on #688
@ptroms I don't fully understand your last comment line. What is pretty noisy down there?

[2021-01-17 03:04] riker513 opened #689 "Port mapping lost if coturn operating behind reverse proxy"
Hi everybody,
thanks for all the work!
I'm trying for quite some time to get the Coturn setup correctly for use with Jitsi, Nextcloud Talk and BigBlueButton.
As a lst step I would like my Turn server to be reachable not only via 3478 and 5349, but also via 80 and 443.
However, 80 and 443 are used by Nginx, so I wanted to set up port sharing via Nginx' stream module. That did work well up to the po

[2021-01-17 03:20] riker513 opened #690 "Behavior & Filtering tests failing"
Hi everybody,

I've set up my Coturn in a way that it is working somehow but I'm not really sure.

Not all the tools work as well as I'd expect them to, but at least they do work somehow.

Coturn prints a lot of messages to syslog that seem reasonable, still none of the services do work when in Firefox advanced config I set
`media.peerconnection.relay_only=True`
which of course is worrying me.

I

[2021-01-17 03:26] riker513 opened #691 "Can't write log!"
Hi there,

I can't get my coturn installation to write log files. Must be something silly, but I just can't locate the cause.

My `turnserver.conf` contains
`#syslog`
`verbose`
`log-file=/var/log/turn/turn.log`
and I double-checked that the log directory is writeable for the `turnserver` user.

Other entries of the config file are plain and simple, nothing to do with the logs, plus it did work bef

[2021-01-18 09:14] aravindsasl opened #692 "RPM build SPEC file date issue."
https://github.com/coturn/coturn/blob/907f1ec9a886cb5b307564730552b473db50f173/rpm/turnserver.spec#L301

The spec file fails due to invalid date specified in changelog.

[2021-01-18 09:31] #692 closed

[2021-01-18 09:31] misi commented on #692
I hope it fixed! Please check Thanks for the report..

[2021-01-18 10:00] aravindsasl commented on #692
Fixed! Thanks.

[2021-01-18 10:02] misi commented on #691
Which version do you use?

[2021-01-18 10:10] misi commented on #690
Please describe more about your server setup.
Are you sure it is full access from the internet? Is there any firewall or packet filter?

[2021-01-18 10:14] misi commented on #689
I don't know how nginx could separate http from stun traffic.. I never heard of such setup yet. Can you share more how you do it?

[2021-01-18 15:54] laserrapt0r opened #693 "Capabilities getting lost with update on Ubuntu 20.04"
I need to run coturn on port 443 so I am setting capabilities so that coturn is allowed to bind on port 443.

Problem is that the setting gets lost on a update.

To reproduce: On Ubuntu 20.04

apt-get install coturn=4.5.1.1-1.1build2

add "AmbientCapabilities=CAP_NET_BIND_SERVICE" to "[Service]" section of  /usr/lib/systemd/system/coturn.service
systemctl daemon-reload
systemctl restart coturn
apt

[2021-01-18 16:12] wferi commented on #693
Does the section starting at https://github.com/coturn/coturn/blob/4417fd2ca7e75833378e7ce961ee094f022e5714/debian/README.Debian#L55 help?

[2021-01-18 16:33] laserrapt0r commented on #693
Hello wferi, thanks for your answer. iptables is no option but /etc/systemd/system/coturn.service.d/capability.conf seems to work fine. After upgrading coturn these settings are not lost. Thank you so much!

[2021-01-18 16:33] #693 closed

[2021-01-19 07:26] misi opened #694 "Add next debian version autopkgtest TLS test"
We test tcp and udp and it would be better and more comprehensive to add TLS too.

[2021-01-19 08:01] rgarrigue opened #695 "TURN high availability ?"
Hi there

How do you achieve high availability for the TURN part ? Will that work out of the box if I set up 2 coturn side by side being the same turn.company.com record ? Or is it a stateful thing that won't accept a client using the 1st IP, than the 2nd, then the 1st... ?

Best regards,

[2021-01-19 08:07] misi commented on #695
You can setup a 3-rd turnserver round robin load balancer that can send alternate server.
See: https://github.com/coturn/coturn/tree/master/examples/scripts/loadbalance

[2021-01-19 08:24] rgarrigue commented on #695
Ok, so the load balancer get the turn:turn.company.com:3478 query, hand it over to one of the "working node". And to avoid the load balancer being the SPOF, I should have two of them answering turn.company.com ?

I know nothing about the TURN protocol and almost nothing about SIP, I'm just the sysadmin, so can you explain me briefly what wouldn't work putting two coturn upfront without a specific

[2021-01-19 08:33] misi commented on #695
The process: LB sends back to client an alternate server STUN message, and client goes to Worker node where LB redirected.
LB is very stable but yes 2 LB in DNS could eliminate SPOF of the loadbalancer.

You can add multiple TURN server in ICE agent (TRUN client), but in some cases may it slows down the candidate gathering and concluding what ICE candidate pair to use, and so may leads longer call

[2021-01-19 11:26] joshsavage opened #696 "Enable a STUN BINDING request on the TURN allocation's IP address and port"
Is it possible to enable a STUN BINDING request on the TURN allocation's IP address and port? I'm finding that if the peer makes a request to 3478 then switches to the TURN allocation's port his Server reflective IP address in certain situations may change (e.g. if he is on a cellular network or in a network with load balancing, one request will come from one and another request from a different I

[2021-01-19 12:08] haraldkl opened #697 "coturn does not listen on socket"
After installing coturn, it appears like it is not listening on any port for connections. Netstat does not show it neither for TCP nor UDP.

The rfc5769 check after compilation seems to be fine:

    $ scripts/rfc5769.sh
    RFC 5769 message fingerprint test(0) result: success
    RFC 5769 simple request short-term credentials and integrity test result: success
    RFC 5769 NEGATIVE fingerprint te

[2021-01-19 14:53] riker513 commented on #689
HI @misi - please see the reference [1] in my post for an example using Nginx' stream directive in the case of port 443. For port 80 I simply separated between TCP and UDP.

[2021-01-19 14:58] riker513 commented on #690
Hi @misi - thanks for your reply.
The server is a simple VPS system, a root server, I even tried it with two different providers by now. The servers worked well for all other applications I tried before. The ports are not blocked (still I made sure to try also with ufw completely disabled).

My turnserver.conf is:

use-auth-secret
keep-address-family
static-auth-secret=...
realm=turn.domain.com
ce

[2021-01-19 15:13] riker513 commented on #691
Hi @misi - I'm on version 4.5.1.1

The following is my startup log when I run turnserver even though the daemon process is already running (so please ignore the `bind` problems below). Interestingly, it shows two times that a log is being created. The first points to a different directory than specified in the conf file. The second one is correct, and in fact also being created - with the content

[2021-01-19 15:20] riker513 commented on #691
Hi @misi - I'm on 4.5.1.1

[2021-01-19 15:56] rgarrigue commented on #695
Well, we tried with turn.company.com = coturn1 IP  and coturn2 IP

First call made a DNS resolution of turn.company.com and got coturn1 IP. The call worked.
2nd call didn't made the resolution, it worked too.
I I stopped coturn1, which automatically updated turn.company.com = coturn2 IP only
3rd call a new DNS resolution was made, the call was fine

So of course if the TURN goes down during a call

[2021-01-20 10:48] ptroms commented on #688
I tried to be funny, but I am as funny as a professional dancing bear.
Anyway I playing around with the log file just to realised that since I added "syslog" to tunrserver.conf the defined turn.log went quiet and the syslog gets all the action, which is understandable.
I just trying to gather all available data that helps me to protect the stun server and be ready to serves VOIP calls.
So far stun

[2021-01-20 15:46] ptroms commented on #688
The final goal would be having stun server smoothly support VOIP calls and also protect the vulnerable udp flood attack which occurring hourly basis.
So any help very welcome.

[2021-01-21 05:25] rasos commented on #421
We run a dedicated Stun/TURN server and have the best experience to circumvent restrictive firewalls by offering ports 80 and 443 for TURN(S).
[code]
Adding `AmbientCapabilities=CAP_NET_BIND_SERVICE` is thus required.

[2021-01-21 06:49] xujingzhou opened #698 "support RFC8445?"
RFC5245(ICE) is deprecated, does coturn support ICE standard: RFC8445? Or when do you plan to support this standard(RFC8445)?

[2021-01-21 07:14] misi commented on #698
Can you please explain what changes needed to support RFC8445? I am happy to merge an Pull Request with that changes.

[2021-01-21 07:28] misi opened #699 "prometheus log message"
If it is disabled by default it logs misleadingly "Could not start Prometheus collector!"
But we should distinct if it is disabled by default or could not strart, because of any error..

[2021-01-21 07:31] misi commented on #421
It is mentioned in debian package  README but I need to move it to upstream doc too.

[2021-01-21 08:03] xujingzhou commented on #698
In addition, Are there any plans to implement STUN's latest standard: RFC8489?

[2021-01-21 08:09] xujingzhou commented on #698
Because the WebRTC draft in 2020 already plans to support RFC8445, and it is believed that RFC8489 will be supported soon

[2021-01-21 08:26] misi commented on #698
ICE implemented not in TURN server, but in WebRTC ICE agent so RFC8445 support is AFAIU not connected to TURN server.

STUN-bis RFC8489 is the really relevant here, but unfortunately I don't know any person from the community who started working on it or planning to work on it.
So please help and send PR with it and I am happy to include it.

All in all actually there is no developer behind the co

[2021-01-21 08:29] misi commented on #697
I tried on debian bulls-eye with latest 4.5.2 and it worked for me
this i my output:
[code]

[2021-01-21 09:38] misi commented on #696
Can you please explain it little bit more. I think if your server listens on the same ip:3478 where the ports allocated then you listen on the allocated IP address. If you use TCP it will solve that NAT can't NAT ongoing TCP connection to a different source IP address.. Anyway I don't fully understand the problem. Please help me to understand it and explain it with more details.

[2021-01-21 10:59] haraldkl commented on #697
Hey, thanks for looking at this and the feedback. The system I am running on is a shared hoster with "CentOS Linux release 7.9.2009 (Core)" and a Kernel of "3.10.0-1160.6.1.el7.x86_64 #1 SMP". Could you offer any advice what I could do to figure out what is going on?

[2021-01-21 11:02] misi commented on #697
Try to run it with `-V` option instead of `-v` to get a more verbose logs. May it could help.

[2021-01-21 11:29] rgarrigue commented on #662
Hi @misi. 4.5.3 is in Debian Sid, but will it hit buster backports ? https://buildd.debian.org/status/package.php?p=coturn&suite=buster-backports

[2021-01-21 11:58] misi commented on #662
I am strugling with some systemd issues with the backport, but yes I am working on it. Sorry for the delay.

[2021-01-21 12:07] haraldkl commented on #697
Thanks, unfortunately it does not provide any more output.

[2021-01-21 12:52] misi commented on #697
Strange for me the strace is much more verbose..

[2021-01-21 20:18] haraldkl commented on #697
It looks like it gets stuck in trying to lock a mutex in the ssl part of the code. Here is the callstack after interrupting it, when continuing from here the mutex lock does not return:

    #0  0x00007ffff761f54d in __lll_lock_wait () from /lib64/libpthread.so.0
    #1  0x00007ffff761ae9b in _L_lock_883 () from /lib64/libpthread.so.0
    #2  0x00007ffff761ad68 in pthread_mutex_lock () from /lib64

[2021-01-21 20:45] wferi commented on #697
You may be hitting #686.

[2021-01-21 20:47] haraldkl commented on #697
Indeed, this looks likely. So, an earlier release of coturn may help this? Thanks!

[2021-01-21 21:00] haraldkl commented on #697
Yay, thanks a lot again. 4.5.1.3 works!

[2021-01-21 21:00] #697 closed

[2021-01-22 00:28] xujingzhou opened #700 "how much is the success rate of Coturn's hole punching In the case of stun only?"
Hi,
1. May I ask what is the success rate of Coturn's hole punching under large-scale and various NAT machines In the case of stun only( not turn)?
2. In addition, is there any way to increase the success rate of hole punching to 99% In the case of stun only(not turn)?  For example: merge the try mode code from pwnat into coturn?

Thanks

[2021-01-22 02:31] joshsavage commented on #696
I have a client that is streaming video data to a peer over a UDP TURN allocation. I don't want to stream over TCP for performance reasons.

Here is an overview of what I'm doing :
1) Client connects to TURN server (port 3478) and creates UDP allocation
2) Peer connects to TURN server (port 3478) and makes STUN BINDING request to get his public IP address / port (a.k.a Server reflective address)
3

[2021-01-22 07:10] xujingzhou commented on #698
Yes, I will

[2021-01-22 07:48] misi commented on #700
It depeneds on your clients.
According callstats.io old numbers see:
 https://www.slideshare.net/rootkiskacsa/stun-turn-pocpilot slide 6

[2021-01-22 10:16] xujingzhou commented on #700
If there has turn server, why can't the success rate of the hole punching reach to 99.99%?

[2021-01-22 10:22] misi commented on #700
There are some firewalls that inspect packets and packet patterns and they may understand that trun on port 443 is not fully following/matching the normal https traffic pattern/behavior.

[2021-01-24 18:19] karolyi commented on #43
+1

[2021-01-24 19:33] karolyi commented on #428
@maxpavlov I'm also looking into terminating SSL with nginx on port 443/TCP for coturn, since nginx does the letsencrypt certificate refreshes and it has loads of other virtualhosts.

did you manage to find a way for that? I'm looking into the documentation and searching the web for solutions, but there doesn't seem to be one that solves this issue.

[2021-01-24 19:37] karolyi commented on #428
@misi you might have something to add on this as well?

My goal would be to generate the SSL certificates with certbot and let nginx terminate the SSL connection itself (UDP/TCP), then forward an unencrypted one to coturn for usage. as it speaks HTTP, there would be `X-Forwarded-For` headers telling coturn the exact source IP.

is something like this possible? I don't have a dedicated extra IPv4 a

[2021-01-25 07:46] misi commented on #428
@karolyi  I don't fully understand your question can you please clarify in a new isse?
AFAIU You want to mix on one port 443 the  HTTP text based, and STUN binary protocol? It seems difficult problem.
Furthermore if we add that coturn could have also have an http based admin server listening on the same port, it could also adds more difficulty to it. I don't know how nginx could solve this but I a

[2021-01-25 07:59] sopnonill87 opened #701 "Turn Server long term user issues"
We set up a turn server in an EC2 instance earlier and created long term user for authentication. And we successfully used this in our webRTC based web and mobile application for video calling feature. All was working well, but suddenly the video calling feature stopped working. After debugging and checking long term user list, we found no user saved in the long term users list and thus creating 4

[2021-01-25 08:04] misi commented on #701
Coturn should not delete a user from database automatically..
Maybe sw upgrade overwrited your database?
Strange what you have reported. It should be bug if it happens.
Please doublecheck it again, and share more info about config, version. How it happens, how often etc.
I don't remember any standard way how this could happen.

[2021-01-25 11:09] sopnonill87 commented on #701
Thanks @misi for your response.
One thing i can assure that after the coturn setup we didn't do any sw update here.
We checked several times. Also same issue happened a month before. Then we create a new long term user and resolve it temporarily. Now this happens again.
We used latest version of coturn
And the configuration with did is as follows:
`
listening-port=3478

tls-listening-port=5349

#a

[2021-01-25 12:18] karolyi commented on #428
@misi I'll create a new issue where we can talk about this, and describe the problem in a detailed way.

[2021-01-25 12:45] karolyi opened #702 "Make coturn work reverse proxied through nginx"
Hey @misi,

so as discussed in #428, the need of putting coturn behind an nginx reverse proxy arises. Here's what nginx as a webserver does:

- it terminates the TLS connection coming from the browser, decrypts the content to plaintext.
- then with [proxy_pass](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass), it forwards a plain (or another TLS encapsulated specified by its c

[2021-01-25 12:59] karolyi commented on #702
To address your concerns about the admin UI: nginx can differentiate between various virtual hosts defined, based on [TLS SNI](https://en.wikipedia.org/wiki/Server_Name_Indication), so having a virtualhost for the admin UI (and connecting that to a different port of coturn) and having another virtualhost for the actual TURN functionality (connected to again another port of coturn) shouldn't be an

[2021-01-26 02:35] #700 closed

[2021-01-26 08:33] misi commented on #685
Debian 10 backport package will be uploaded today.. Sorry for the delay..

[2021-01-26 08:35] misi commented on #662
The debain 10 backport package will be uploaded today. Sorry for the delay.

[2021-01-26 08:47] cedricve commented on #685
Thanks!

Kind regards,
Verstraeten Cédric

[2021-01-26 11:07] tmohd-TechHead commented on #341
Is this thing resolved? I'm having the same issue with the timeout err.
Amazon EC2 Linux t2.micro 1vcpu

[2021-01-26 11:14] tmohd-TechHead commented on #341
Please close the issue : recommends usage of (v)erbose rather than (V)erbose
https://groups.google.com/g/turn-server-project-rfc5766-turn-server/c/CAld9iXrVQA

[2021-01-26 18:05] AnonymousWebHacker opened #705 "error 401: Unauthorized for more 1 NAT"
PD: Do not worry about credentials and ip, they are in a controlled laboratory, and the credential error, (it's all good) the problem is with more than 1 NAT

***Situation:**
I am implementing a TURN-server to use in Voip calls with Matrix Synapse (matrix.org)

***observations:**
The calls with 1 NAT, connect without problems and the calls work. The problem is when there is more than 1 NAT involve

[2021-01-26 20:07] misi commented on #705
Can you please share more info about your network setup.
It is not possible to route without NAT the Internal IP Address ranges? Why you need internally  multi level NAT?
The best way to avoid multilevel NAT internally by design if possible!

I think one global TURN could be enough to loopback even internal traffic. It is not optimal, but  could work. e.g. both endpoint allocates port on the same

[2021-01-26 23:01] brunoalex opened #706 "turn server and webrtc only working one way (please help!!)"
when my video rtc runs it works fine on one end but not on the other.
I am setting the coturn server my macbook behind a rooter, and  mapped local 3478 -> public  3478 using portmap app
when i connect : pc1 (server) pubip:85.243.249.150  -> pc2 (pubip:95.92.185.86)  i only get both videos on pc2 , on pc 1 i get no error but no video from pc1 (once it worked well but not now i dont know why)

when

[2021-01-27 09:28] tobias-tengler opened #707 "Setup with two NICs"
I have the following setup described below:
![image](https://user-images.githubusercontent.com/45513122/105970081-41767380-6089-11eb-8376-e10c2b50ef9b.png)
The Server is running OpenSuse Leap 15.2 and I plan to use Coturn as a Docker container.
On the Server I have IPv4 Forwarding enabled (no NATing) and the clients can communicate Peer-to-Peer, when no Firewall is active. I'd like to enable a Fir

[2021-01-27 12:28] powerzumsel commented on #166
+1

[2021-01-27 15:32] AnonymousWebHacker commented on #705
Thank you very much for responding quickly, sorry for my delay, my internet in my country is a dud.

The situation of the network is that it is a SNET with more than 1000 users (without internet access).
The main network, has a range of 1441.100.1. * But for example, a nano connected to that network, has an IP equal to 144. *, but its subnet, would already be example 10. * or 192. * .. etc, nated

[2021-01-28 12:03] qwe624758472 opened #708 "When I use the requests module of Python to log in to web admin, there is an exception。"
When I use the requests module of Python to log in to web admin, there is an exception。
When using Python to simulate login, the login page is returned.

It turns out that's what happened next
![image](https://user-images.githubusercontent.com/22900394/106136068-a355dc80-6160-11eb-8da8-6fcfa93cfe22.png)

The code for Python is
`# -*- coding:utf-8 -*-
__author__ = "MuT6 Sch01aR"
import requests

ur

[2021-01-28 12:20] qwe624758472 commented on #708
4363: : IPv4. tcp or tls connected to: 113.200.76.118:43832
4363: : send_socket_to_admin_server: --------------success to register callback on web-admin ioa socket
4363: : --------------socket_input_worker 2645
4363: : --------------TCP & TLS  & SCTP & SCTP/TLS  2889
4363: : ret =  0,  len = -1,  line:3025
4363: : --------------socket_input_worker 2645
4363: : --------------TCP & TLS  & SCTP & SCT

[2021-01-28 12:26] qwe624758472 commented on #708
Can I turn off SSL verification of Web admin?

[2021-01-28 13:22] lonesomewalker commented on #364
Please refer to #646 thanks

[2021-01-28 15:11] tobias-tengler commented on #707
I ended up solving it in the following way:

`docker network create test-turn --opt com.docker.network.bridge.name=br-test-turn --subnet=192.168.3.0/30`

`docker-compose.turn.yml`:

[code]

`turn.conf`:

[code]

Start the TURN Server:

`docker-compose -f ./docker-compose.turn.yml up -d --force-recreate`

Firewall configuration:

[code]

And finally I would use it in my JS code like this:

[code]

[2021-01-28 15:11] #707 closed

[2021-01-28 16:32] Davidian34 commented on #421
I've been trying to set alt-listening-port and alt-tls-listening-port in the configuration but they are always ignored. (I've tried with two alt ips for each)

[2021-01-29 10:31] powerzumsel opened #709 "4.5.2 building issue on cygwin / windows"
Hi there

Using Win10 1909 an cygwin 3.1.6
I just tried to build turnserver 4.5.2  based on this tutorial:
https://nsoft-s.com/en/mychatarticles/1283-how-to-install-turn-server-for-windows.html

4.5.2   .\configure outpout looks like this:
[code]

Running final 4.5.2 turnserver.exe creates a turnserver.exe.stackdump:
[code]

Earlier versions 4.5.0.8 and 4.5.1.3 are doing fine. Turnserver.exe runs

[2021-01-29 11:18] misi commented on #709
Sorry I did test it only linux. Can you send a full log of compiling 4.5.2 and 4.5.1.3 to see the difference.
I merged a patch that changed the lib discovery, may it cause it..

[2021-01-29 11:23] misi commented on #708
I think you can't turn out ssl on web admin.. Web admin is dangerous and turned off by default. It is not robust enough as it is today.

[2021-01-29 14:52] rgarrigue commented on #662
Nothing in the buster-backport's status page yet ?

[2021-01-29 14:58] powerzumsel commented on #709
I hope this is helping:

[4.5.1.3configure+make.log](https://github.com/coturn/coturn/files/5894499/4.5.1.3configure%2Bmake.log)

[4.5.2configure+make.log](https://github.com/coturn/coturn/files/5894502/4.5.2configure%2Bmake.log)

[2021-01-29 15:10] wferi commented on #662
It's waiting for the gatekeepers at https://ftp-master.debian.org/backports-new.html.

[2021-01-29 16:58] brunoalex commented on #706
Nevermind , something broke my webrtc in this mac (i think it was tunnerbeer even after uninstall) ..tryed on difrent pcs and its all working... ill mark it as closed

[2021-01-29 16:58] #706 closed

[2021-01-30 06:24] qwe624758472 commented on #708
Thank you for your reply。

[2021-01-30 06:32] qwe624758472 commented on #708
I didn't open SSL verification on postman, which is also accessible?

[2021-01-30 23:11] rpirsc13 commented on #421
Same issue here. I've been trying to set both alternative listening ports with no success. Based on the logs the server does not even attempt to listen on those ports. For now just modifying the main ports to 80 and 443 does the trick

[2021-01-31 14:57] Davidian34 commented on #421
I've tried that but it behaves a lot better with these two: listening-port=3478 & tls-listening-port=443 than with: listening-port=80 & tls-listening-port=443. This causes more connection failures in my case.

I will let you know if I find how to set alt ports or let me know if you find it cause it would probably help to have more opened ports.

[2021-02-02 06:52] Chandramouli-P opened #711 "Prometheus Exporter for CoTurn"
Hello Team,

I would like to know that **Is there any good Prometheus exporter library is available for CoTurn?**

(Like below for PM2) (NodeJS):
https://www.npmjs.com/package/pm2-metrics

If we get all the required parameters by using one library, it becomes very easy to monitor by using Grafana tool. Thank you.

Best Regards,
Chandramouli.

[2021-02-03 13:11] Chandramouli-P commented on #711
Hi,

If I understand correctly, First I should install prometheus-client-c library from https://github.com/digitalocean/prometheus-client-c/releases web site. I installed libprom-dev-0.1.3-Linux.deb and libpromhttp-dev-0.1.3-Linux.deb files. Still, Do I need to any thing? When I am trying to run "make" in .tar.gz file, it is giving "Docker" not available error. Can any one help me in installing th

[2021-02-04 07:31] Chandramouli-P commented on #711
Hello,

Good morning and any update would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-04 12:55] Chandramouli-P opened #712 "Not seeing "prometheus" parameter in turnserver.conf file"
Hello,

"prometheus" parameter is not coming in turnserver.conf file. Do I need to install anything, before installing CoTurn? Thank you.

Best Regards,
Chandramouli.

[2021-02-06 08:34] dhaminitinAltran commented on #113
facing the same error as well. Has anyone got the solution yet?

[2021-02-06 12:47] #691 closed

[2021-02-06 12:49] riker513 commented on #689
So I conclude no one ever tried this? Suprising to me, because it is even suggested in the Jitsi docs - have they suggested something although it does in fact not work?

[2021-02-06 12:51] riker513 commented on #690
I guess it is too much effort to analyze - this software either works if you follow the installation guidelines, or it doesn't. It is very much not robust, so be careful not to invest too much time as an end user. Aren't there any more robust alternatives out there? Can't imagine coturn is the only one. Video conferencing is such an important topic these days...

[2021-02-06 14:28] dhaminitinAltran commented on #247
The problem persists for me as well.  has someone found a solution to it yet?

[2021-02-08 06:42] #698 closed

[2021-02-08 12:07] Chandramouli-P commented on #712
Hello,

Any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-08 13:45] nejeoui commented on #355
Same here

TURN Server
use https connection for the admin session

But when i connect with https i got timeout

[2021-02-09 14:23] dhaminitinAltran commented on #43
Hi did anyone manage to do it if yes can you share the co-turn configuration and the ngnix conf file?

[2021-02-10 05:44] Anurag2Yadav commented on #43
Hi @dhaminitinAltran ,
We will work together closely to resolve the issue !

[2021-02-10 07:20] dhaminitinAltran commented on #259
@jonathanmmm can you share the turn config for TLS setup?

[2021-02-10 08:18] jonathanmmm commented on #259
`tls-listening-port=5349
fingerprint
lt-cred-mech
use-auth-secret=<mysecret>                                                                                                                                                                                               realm=website
total-quota=100
bps-capacity=0
stale-nonce
cert=/opt/certs/website_ecc/fullchain.pem
pkey=/opt/certs/website_ecc/key.pe

[2021-02-10 08:23] dhaminitinAltran commented on #259
@jonathanmmm  is the Nginx configuration the same which is mentioned in the first comment? and were you able to relay both TCP and UDP traffic via the Ngnix server to the co-turn server?

[2021-02-10 08:24] jonathanmmm commented on #259
Feb 10 04:17:03 turnserver[981]: 2: Trying to bind fd 316 to <[2003:ipv6 address]:3478>: errno=99
Feb 10 04:17:03 turnserver[981]: 2: Cannot bind TLS/TCP listener socket to addr [2003:ipv6address]:3478

I found this in systemctl status coturn.service

Netstat shows that turnserver binds to many ports, also to 2003:xx:3478 ipv6 but mostly not public (fd8b or something like that)

[2021-02-10 08:28] dhaminitinAltran commented on #259
can you share the Ngnix conf file as well? or give me a place where I can contact you? I am facing this issue for a long time.

[2021-02-10 08:31] chrisooo3 opened #714 "How to obtain ip address of client in turn server"
How can I use some turn server to establish a TCP connection between two machines, each in a different network and behind NAT?
I mean to which ip address I should send data from client A, and to which address I should send data from B client.

I am building p2p chat, on a very low level in C#.

[2021-02-10 08:44] misi commented on #714
Use the ICE protocol
See ICE, STUN, TURN RFCs on IETF.
or more high level see how WebRTC use ICE: https://misi.github.io/webrtc-c0d3l4b/#9

[2021-02-10 08:45] misi commented on #712
It is here: https://github.com/coturn/coturn/blob/b58166cc90f85eb3dc8178b40ae83dfc34d2c7b1/examples/etc/turnserver.conf#L199

[2021-02-10 08:46] chrisooo3 commented on #714
@misi
So what should I write in terminal to get know to what ip should I send data?

[2021-02-10 08:49] misi commented on #711
You need to install libprom and libpromhttp. After you did it coturn will detect these, and after recompile you can use it.
I am not sure if the docker updated to contain these libs, so you need to make it manually..

[2021-02-10 08:50] jonathanmmm commented on #259
Look at the top of this issue, this was my proposed conf for coturn in nginx. Right now I dont use nginx and coturn dkrectly, didnt work so far.

[2021-02-10 08:54] misi commented on #709
@powerzumsel Many Thanks! I will try to check it.

[2021-02-10 08:55] misi commented on #708
@qwe624758472
I don't really understand your last question. Can you please clarify it more.. Thanks!

[2021-02-10 09:07] misi commented on #714
@chrisooo3 You need to negotiate it with ICE

[2021-02-10 09:55] chrisooo3 commented on #714
@misi
could you explain a little bit more?
How can I use the turn server to redirect requests from client A to client B on a low level? So what type of command should I use or what types of application should I use?

[2021-02-10 10:12] misi commented on #702
@karolyi
First of all sorry for the late reply.

I did't made such setup yet, so I don't have direct experience with it.
According  you are right using TLS SNI and different domain name for the web and turn may could work, but still proxy will hide the original source IP address AFAIU, and coturn loadbalance to different threads based on source IP-s. So it will load only load only one thread/core

[2021-02-10 10:16] misi commented on #705
This is a complex network setup. So I need some more time to draw a topology and think about the problem. Sorry, but I split my time between multiple projects, and I don't yet find the time to think about your problem.

[2021-02-10 10:17] misi commented on #685
4.5.2 rolled out so I close now this issue.

[2021-02-10 10:17] #685 closed

[2021-02-10 10:47] misi commented on #714
Unfortunately I don't have enough time to support you more.
Please read RFC-s and understand ICE and TURN protocol. See slides on slideshare or find other sources..
If you have specific question I happy to answer, but unfortunately I don't have the time to support you more.

[2021-02-10 10:47] #714 closed

[2021-02-10 11:48] dhaminitinAltran commented on #247
@misi  when I try to run my Android and windows clients using "Turns"
I get the following error:
1460: : session 000000000000000018: closed (2nd stage), user <> realm <alt.org> origin <>, local 10.0.3.7:5349, remote 45.118.156.96:63989, reason: TLS/TCP socket buffer operation error (callback)
1460: : session 001000000000000019: usage: realm=<alt.org>, username=<>, rp=0, rb=0, sp=0, sb=0

is this d

[2021-02-10 12:07] weiss commented on #247
My guess would be that the client simply doesn't accept the server's certificate.  [libwebrtc][1] comes with a short list of hard-coded CA certificates and won't trust anything else (e.g., Let's Encrypt certificates will be rejected) unless the client sets libwebrtc's `TLS_CERT_POLICY_INSECURE_NO_CHECK` flag.

[1]: https://webrtc.googlesource.com/src

[2021-02-10 15:44] karolyi commented on #702
That's unfortunate.

I will have to trick around with nginx and certbot for the certification creation, and then build some automation to hand that over to coturn so it could always use a valid certificate. Also, coturn behind port 443 (HTTPS) seems to be not doable, since nginx already sits there, and the built-in API in coturn wants to only talk HTTPS. No reverse proxy to that backend either.

L

[2021-02-11 13:33] Chandramouli-P commented on #712
Hello,

Operating system: Ubuntu 18.04 AWS

Good morning and thank you very much for your reply. I have already gone through that sample configuration file on Internet. But, I can not see "prometheus" parameter in configuration file. I tried to added this "prometheus" parameter manually and CoTurn failed to start. This is for your information.

I installed CoTurn and it is running successfully. Bu

[2021-02-12 07:33] Chandramouli-P commented on #712
Hello,

Any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-12 12:49] chrisooo3 commented on #714
Hi @misi
So I have specific questions:

I am using xirsys turn server.

Now I want to connect client A which is behind symmetric NAT with client B which is also behind symmetric NAT.

1) On which port should I listen on client A?
2) To which ip and port should I connect to establish tcp connection with client A from client B?
3) How can I obtain the ip of xirsys turn server?

On client A I want to

[2021-02-13 07:35] rasos commented on #247
I can confirm that the Trickle ICE test using TURNS is not responding a relay with an LE nor with a wildcard certificate (root certs: https://www.certum.eu/en/cert_expertise_root_certificates/). I see a lot of

          TCP socket error: Connection reset by peer

The setup works fine with TURN and TLS/SCTP listeners are opened.

Version: coturn 4.5.1.1-1.1+deb10u2

Here is the discussion on suppo

[2021-02-14 19:40] Mike-McAnally commented on #166
No reason to be an OS snob.   Many of us have decades of experience with windows servers and feel more comfortable working with them.   Or may have access to an IT dept. with a windows server installation.  It's surprising that in this day and age of equality and inclusiveness, I would even have to respond.

[2021-02-15 07:52] Chandramouli-P commented on #712
Hello,

Any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-15 14:42] ivan-uqido commented on #355
I have the same problem with coturn 4.5.2 on latest ubuntu 20.04.02 LTS: http works but return just a simple message to use https instead; https doesn't load and the request go in timeout.

[2021-02-15 23:11] ggodool commented on #397
Yes, correct.

[2021-02-18 01:10] seth586 opened #715 "unable to disable logging"
Platform:
FreeBSD 12.2
coturn 4.5.1.3

turnserver.conf:
[code]

Start the service:
[code]
🤦

[2021-02-18 01:16] seth586 commented on #715
Appears to be fixed in 4.5.2, closing

[2021-02-18 01:16] #715 closed

[2021-02-18 06:15] seth586 commented on #469
And for those of you running on FreeBSD with csh shell, use this (install dog with `pkg install dog`):
[code]
If your router is your NAT and has upnp, you can `pkg install miniupnpc` and resolve your public IP internally:
[code]

[2021-02-18 10:35] Chandramouli-P commented on #712
Hello Misi,

Any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-19 10:55] Chandramouli-P commented on #712
Hello,

I added "prometheus" parameter in the configuration file and it CoTurn is started successfully. I understand that this uses 9641 port. But, when I am executing netstat command, I am not seeing this service:

root@ip-172-31-32-187:~# netstat -tulpn
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp

[2021-02-21 17:50] karolyi commented on #510
I have the same issue popping up, with coturn running in a separate jail (yes, FreeBSD). fun fact: it only occurs when using the non-TLS socket, that is 3478. with a tls-only config it doesn't happen.

maybe this might be an indicator as to what's really happening.

[2021-02-21 18:06] karolyi commented on #510
it doesn't seem to be matrix related.

by looking at the source code, it seems when I enable the non-TLS functionality, the DTLS client (the source where the line is coming from) wants to bind to the same port that the non-TLS client has already bound to.

I have no idea as to why this is happening, but as mentioned before, it only happens when the non-TLS version is on.

I can't even turn the TLS

[2021-02-21 18:16] karolyi commented on #510
So interestingly in my case, it's the non-TLS port it tries to 'overbind':
[code]

[2021-02-21 18:20] karolyi commented on #510
@misi in case you want to investigate, here's my ifconfig output:
[code]
mind you, I have 2 IPs on 2 interfaces: `lo0` holds the NAT-ed interface for IPv4, and `bridge0` holds an actual IPv6 address. maybe your code is not prepared to handle this right?

[2021-02-22 08:22] Chandramouli-P commented on #712
Hello Misi,

Any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-02-22 22:33] AnonymousWebHacker commented on #705
Anyway, you've done enough answering me, thank you very much. When he has a time he does it, no rush, and thanks for coturn

[2021-02-23 06:33] #708 closed

[2021-02-23 08:07] Carpintonto opened #716 "am I logging STUN or TURN?"
I'm running Version: 4.5.0.7-1ubuntu2.18.04.3 set up exactly as described at

https://prosody.im/doc/coturn

plus logging enabled

It totally works with Android Conversations app.

How can I tell if I have established a STUN or TURN connection from the log?

I am watching the log scroll with tail -f and updates append until we disconnect, which I think would suggest TURN ?

Thanks to all.

[2021-02-23 09:26] yuanchieh-cheng commented on #598
I used 4.5.2 but still get the IPv6 address return without keep-address-family on server.
I use `$ turnutils_uclient -T -n 2 -m 2 -l 100 -y -g  -x -u username -w password -v my-host` for test. It return `IPv6. Received relay addr:...`

[2021-02-23 09:37] yuanchieh-cheng commented on #564
May I ask how you solve the problem when client is using ipv4 and ipv6 both ?
Could you share your coturn config file ?

For my understanding, the turn server would assign relay address in IP format, which means the ELB would not handle the IPv6 for turn server because the client would send data to turn server directly through ip.
Do I misunderstanding something?

[2021-02-23 10:50] wolmi commented on #666
@misi I've just checked you have already refactored the https://github.com/coturn/coturn/blob/master/src/apps/relay/prom_server.c and you have removed the allocation.

Do you need me to make any more changes?

[2021-02-23 12:29] misi commented on #716
TURN is extension of STUN protocol. So it is confusing how can I answer.
Maybe very simplified if you see port Allocaction in a session then it is TURN.

[2021-02-23 13:17] hendrikhuels commented on #712
@Chandramouli-P can you show us the logs?
As soon as i activate prometheus in my config, Bad configuration format: prometheus appears.

[2021-02-23 15:50] Carpintonto commented on #716
thanks misi.
Examples of what I think you mean:
[code]
recurring and changing ports continuously throughout the calls evidence TURN.
That makes sense.

[2021-02-23 16:04] misi commented on #716
HTH: https://misi.github.io/webrtc-c0d3l4b/#9

[2021-02-23 16:15] Carpintonto commented on #716
Great explanation - thank you.

Also very helpful for the prosody set-up is the TURN REST API section of
https://github.com/coturn/coturn/blob/master/README.turnserver

I find the coturn documentation to be extensive and really good - just SO much of it !!

[2021-02-23 16:15] #716 closed

[2021-02-24 02:45] DevRockstarZ commented on #564
@yuanchieh-cheng
Can you configure Route 53 too? I used ELB and Route53 both.

[2021-02-24 02:58] yuanchieh-cheng commented on #564
@DevRockstarZ
Yes I can.
Currently I set the route53 with
[code]
Could you please share your infrastructure ?
How do you set up the route 53 / elb / instance?

Thanks a lot!

[2021-02-24 03:45] DevRockstarZ commented on #564
@yuanchieh-cheng
I just created EC2 instance with IPv4, and do not configure anything about IPv6.
And configure Route53 to your EC2 and domain host.
Connect with your IPv6 devices such as 5G devices.

[2021-02-24 04:00] yuanchieh-cheng commented on #564
Thanks for your reply. I will try it.
But you have mentioned ELB above. Is that still needed ?

[2021-02-24 04:06] DevRockstarZ commented on #564
@yuanchieh-cheng
If you have multiple coTURN servers you need ELB.
But you have only one coTURN server, you don't need it.

[2021-02-24 04:14] yuanchieh-cheng commented on #564
The solution is not work for me.
My mobile phone is IPv6 only and it cannot connect to IPv4 only relay server.

[2021-02-24 06:29] yuanchieh-cheng commented on #712
You could follow these install steps in Dockerfile https://github.com/coturn/coturn/blob/master/docker/coturn/Dockerfile
It should be the same if you install natively on debian system.
Don't forget to pull the source code, prometheus works only under 4.5.2

Please note there is still some memory issue in 4.5.2
https://github.com/coturn/coturn/issues/666
So my recommendation is to wait for next fix

[2021-02-25 06:29] yuanchieh-cheng commented on #598
I found out this comment.
It seems that If I don't write listening ip in the config, CoTURN would return ip based on client ip family, which is the same effect as "keep-address-family".
https://github.com/coturn/coturn/issues/217#issuecomment-407414379

[2021-02-26 04:55] KangLin commented on #211
See: #721

[2021-03-02 02:12] averyzhong opened #722 "socket: Protocol not supported"
It's always this error to run on CentOS 7

RFC 3489/5389/5766/5780/6062/6156 STUN/TURN Server
Version Coturn-4.5.2 'dan Eider'
0: :
Max number of open files/sockets allowed for this process: 1000000
0: :
Due to the open files/sockets limitation,
max supported number of TURN Sessions possible is: 500000 (approximately)
0: :

==== Show him the instruments, Practical Frost: ====

0: : TLS supported
0

[2021-03-02 04:59] #722 closed

[2021-03-02 13:36] ajf101 commented on #595
Is there any way to get coturn to act as a transparent v4/v6 relay here?

I've been running into the same issue - looking to get a v4 candidate for a v6 client, or vice versa. Clients don't send this TURN option so really just want coturn to "do what the config says and give out the configured relay-ip" :)

[2021-03-02 14:33] misi commented on #595
@ajf101 Let's look it together in a call and check what we can do with it. I am open to fix it..

[2021-03-02 16:24] mingyub opened #723 "coturn.service keeps restarting every 1 or 2 minutes"
Host: EC2 instance on AWS
System: Ubuntu 20.04.1 LTS
Coturn:

- Installed by `sudo apt-get -y install coturn`
- Customized configuration and ran by `sudo systemctl start coturn`
- config:
[code]

Issue:
The coturn.service keeps restarting every one or two minutes.

https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
Using this tool, it cannot discover all.
The output is as fol

[2021-03-03 03:52] jbg opened #724 "provide option to disable SCTP"
Unless I missed it, there doesn't seem to be an option to disable the native SCTP listeners. It would be good to be able to turn these off.

[2021-03-03 06:47] mingyub commented on #723
Running `ip a` results in this.
[code]

It looks like public external IP is not available. Any comments? I'd appreciate it.

[2021-03-03 07:00] misi commented on #723
Can you replace "verbose" with capital letter "Verbose" and  add "syslog" share the logs?  Thanks!

[2021-03-03 07:37] mingyub commented on #723
That `syslog` makes difference. Here are the logs.
[code]

[2021-03-03 07:49] mingyub commented on #723
@misi I checked and there aren't processes bound to port 80.

[2021-03-03 08:36] EssGeeEich opened #725 "Let SIGHUP reload OpenSSL certificates"
Currently coturn only seems to reload the certificates [on startup](https://github.com/coturn/coturn/blob/57180ab60afcaeb13537e69ae8cb8aefd8f3f546/src/apps/relay/mainrelay.c#L2399) or [on SIGUSR2](https://github.com/coturn/coturn/blob/57180ab60afcaeb13537e69ae8cb8aefd8f3f546/src/apps/relay/mainrelay.c#L2524).

I propose this change so you can use `systemctl reload coturn` on certificate renewal ho

[2021-03-03 10:14] wferi commented on #725
Does `systemctl --signal=SIGUSR2 kill coturn` qualify as weird trickery?

[2021-03-03 12:28] misi commented on #725
Many Thanks! I ask your patience.. I will check your proposed changed and get back to you soon.

[2021-03-03 12:28] misi commented on #724
I agree. Please send Pull request and I am happy to merge..

[2021-03-03 12:46] EssGeeEich commented on #725
Sorry, I was unaware of --signal, altough it still _feels_ like weird trickery since you're not really killing a service.

In my opinion the issue should stand, since semantically `systemctl reload coturn` should reload certificates (imo).

If the issue gets closed "as-is", may I ask to put `systemctl --signal=SIGUSR2 kill coturn` in the README?
This way the next person knows what to put in a cert

[2021-03-03 13:07] misi commented on #725
Don't get us wrong we need to reconsider how we could make it..

[2021-03-03 14:54] hills commented on #725
I found some serious bugs with certificate reloading; I have patches but didn't have chance to prepare them for upstream yet (and my other patches had no response)

Would be good to merge my bug fixes before anyone considers refactoring of the code.

[2021-03-03 19:28] spartanz51 commented on #33
TURN TLS is needed because some firewall are exposing only TLS (over 443 for example)

[2021-03-04 02:19] shu-mutou commented on #686
Thank you for fixing this!

F.Y.I. I also faced this issue with following environment.
- OS: RHEL 7.5
- OpenSSL version: 1.0.2k 12.el7

[2021-03-04 13:47] Cybermilitia opened #726 "300 Alternate-Server Redundancy Possibilities"
Hi all,

I have a problem about 300 Alternate-server feature. It's very useful and easy-to-use feature for the load balancing. I tested it. However, as far as I understand, this feature can not cover the redundancy scenarios.

I mean, when I configured -for example- two different servers as alternate-servers and one of them is down later on, there is no way to detect the situation and then to reco

[2021-03-06 17:34] Carpintonto opened #728 "> still interesting what is this?"
BINDING requests are normal STUN requests.  I see millions of those per day on my public STUN servers.

Address spoofing is usually done to DDoS the spoofed address (though STUN isn't really the most effective protocol to perform this kind of attack).

_Originally posted by @weiss in https://github.com/coturn/coturn/issues/603#issuecomment-677579596_

[2021-03-06 17:52] Carpintonto commented on #728
I am just curious to know the order of operations request, authorization, binding, and what is the default log level?
What does

 mean exactly?

It blew my mind to see how big log files get in 24 hours, but I've figured out I'm probably incurring as much bandwidth tailing the logs via ssh as the requests themselves. (I have disabled TURN)

The unauthorized requests invariably end up

I recall seei

[2021-03-07 20:55] john357smith opened #729 "RFC5245 implementation"
Hi,

I see COTURN receiving STUN BIND request, I see submitted BIND response but that's all ... RFC5245 defines connectivity checks as 4-way handshake but COTURN handles only 2 way - any idea what is wrong here?

Thanks.

[2021-03-08 11:45] Chandramouli-P commented on #711
Hello @misi ,

Good morning and as you suggested, I followed and it is working now. Here I am posting the documentation for other users:

wget https://github.com/digitalocean/prometheus-client-c/releases/download/v0.1.3/libprom-dev-0.1.3-Linux.deb
sudo dpkg -i libprom-dev-0.1.3-Linux.deb
wget https://github.com/digitalocean/prometheus-client-c/releases/download/v0.1.3/libpromhttp-dev-0.1.3-Linux.d

[2021-03-08 11:45] #711 closed

[2021-03-08 11:46] Chandramouli-P commented on #712
Hello team,

Good morning and thank you all for your suggestions. It is working now. Here I am posting the documentation for other users:

wget https://github.com/digitalocean/prometheus-client-c/releases/download/v0.1.3/libprom-dev-0.1.3-Linux.deb
sudo dpkg -i libprom-dev-0.1.3-Linux.deb
wget https://github.com/digitalocean/prometheus-client-c/releases/download/v0.1.3/libpromhttp-dev-0.1.3-Linux.

[2021-03-08 11:46] #712 closed

[2021-03-08 11:52] Chandramouli-P opened #730 "CoTurn stopped functioning suddenly"
Hello,

CoTurn (v.4.5.2), Ubuntu 18.04 server, AWS.

I am using CoTurn in 3 servers. I am clearly noticing that CoTurn is stopped functioning frequently. Please note that CoTurn service is running and not seeing any errors in the log file. When I restarted the server, it is starting functioning again.

Can anyone tell what could be the root cause and suggest a solution? Thank you.

Best Regards,
C

[2021-03-08 17:50] Carpintonto commented on #728
finding some answers:

to my first question see here
https://github.com/coturn/coturn/issues/435#issuecomment-547290965

"BINDING success" <> binding request in terms of the --log-binding switch

still would like to know if in the log lines

is the remote IP the "[reflexive transport address](https://tools.ietf.org/html/rfc8489#page-6)"?

[2021-03-09 09:43] fleixi opened #731 "Stun working but turn not"
I have running coturn 4.5.2 on an Arch-Linux with this config:
[code]

real,static-auth-secret, external-ip,listening-ip and relay-ip are replaced with sane values

if i try to test it with https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
the stun is working but the turn could not be reached.

Firewall has open 5349 for udp and tcp and the server is accessable via internet

[2021-03-09 13:02] mingyub commented on #341
It's actually working, I confirmed with my servers. timeout is normal in Verbose mode.

[2021-03-09 17:52] bschelling opened #732 "where can i learn about coturn configuration?"
the wiki more or less says read the source, but this seems a little hard.
can anyone point me to some information/tutorials where i can read up on it?

[2021-03-10 07:42] mingyub commented on #723
It cannot bind to port 80 for unknown reason. Changed `listening-port` and it works.

[2021-03-10 08:25] #723 closed

[2021-03-10 08:44] mingyub commented on #347
I used port 5349 for tls and it wasn't starting. The reason was because user `turnserver` can't access certificate files.

[2021-03-10 16:53] gabrielssanches commented on #732
if you mean the turnserver, just take a look at https://github.com/coturn/coturn/blob/master/README.turnserver

[2021-03-10 17:41] bschelling commented on #732
thanks that's a start :) i'd be particulary interested in configuring short term credentials . all i found so far were some pdf slides that explain the theory but it would be great to have a more hands on tutorial...

[2021-03-11 14:18] ycaibb opened #733 "Possible data races on variables e->invalid"
Dear developers:
       We found a possible harmful data race bug between [here](https://github.com/coturn/coturn/blob/ae2ee1f4e4f4f4119425e3d890a7f6ca44b57d0b/src/apps/common/hiredis_libevent2.c#L361) and [here](https://github.com/coturn/coturn/blob/ae2ee1f4e4f4f4119425e3d890a7f6ca44b57d0b/src/apps/common/hiredis_libevent2.c#L77). The thread is forked [here](https://github.com/coturn/coturn/blob/

[2021-03-11 14:26] ycaibb opened #734 "Possible data race bug on variables e->wev_set"
Dear developers:
    We found a possible data race bug between [here](https://github.com/coturn/coturn/blob/ae2ee1f4e4f4f4119425e3d890a7f6ca44b57d0b/src/apps/common/hiredis_libevent2.c#L285) and [here.](https://github.com/coturn/coturn/blob/ae2ee1f4e4f4f4119425e3d890a7f6ca44b57d0b/src/apps/common/hiredis_libevent2.c#L160). The thread is forked [here.](https://github.com/coturn/coturn/blob/bcb556ff

[2021-03-12 10:44] Chandramouli-P commented on #730
Hello,

Good morning and any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-03-14 16:12] jbg commented on #726
One way we have done it before is to anycast an IP from the servers running coturn (advertising the IP from each server using BGP and using a health check on coturn to drop the BGP advertisement if coturn is not healthy) and then use ALTERNATE-SERVER to redirect the user to that server's own unicast IP (so that long-running sessions don't get set up on the anycast IP which would cause them to brea

[2021-03-15 12:30] Chandramouli-P commented on #730
Hello Team,

Good morning and any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-03-16 01:43] plague-doctor opened #735 "Help me to understand the error 403: Forbidden IP"
Coturn in docker version 4.5.2
Use case: Matrix Synapse (element.io on mobile phones - both peers)
Network diagram:
[code]

VoIP (audio+video) works fine in most cases. However the connection from a peer on Internet, to the peer in LAN, looks like this:

[code]

Can you guys, help me to understand:
- What is that error?
- What does it mean?
- What IP is forbidden?

[code]

Occasionally the connect

[2021-03-16 03:08] yuanchieh-cheng commented on #735
I saw there are few lines of source code about 403 IP Forbidden

maybe you could try open the `allow-loopback-peers`
[code]

Not sure whether it would work or not.
Just share some of my discover

[2021-03-16 03:22] grayey opened #736 "Pion setup on windows"
Please provide clear instructions on how to set this up on windows.
Still setting up with simple-server, I figured I'd have to pass "public-ip" and "users" as command line arguments because the program prompted for those and i couldn't find the .conf file. That's where I'm hung. Nothing happens. Can you at least provide clear instructions for this.
Like:
1. Unzip or extract the windows tar.gz file

[2021-03-16 08:00] Cybermilitia commented on #726
Thanks for your reply, @jbg Sorry for my clumsy censoring attempt for IPs:

![image](https://user-images.githubusercontent.com/12972305/111270612-219f0d00-8641-11eb-8f87-9995c9d90be3.png)

As you said, looks Firefox doesn't support this method.

So, what is the solution can be used? I mean the Load balancing + High Availability. I'm not interested in DNS or other commercial solutions. I've tried N

[2021-03-16 17:20] plague-doctor commented on #735
@yuanchieh-cheng nope. This does not solve my error. It must be a different IP...

[2021-03-17 03:40] yuanchieh-cheng commented on #731
Did you open the relay port
You could modify the port range, but remember open this port in your Firewall
[code]

[2021-03-17 12:33] QuickBanny opened #737 "large stream of messages like "incoming packet BINDING processed, success" in logs"
I am using coturn + matrix synapse

and in the logs I sometimes receive a large stream of this kind of messages
![image](https://user-images.githubusercontent.com/5971623/111467739-ff93b080-874e-11eb-896d-a404ad933ced.png)

where such logs come from, it's hard for me to track, can you tell me what could be the reason for such a situation

[2021-03-17 13:55] nowjean opened #738 "Is coturn possible to running on kubernetes?"
Hi.
I tying to deploy coturn on aks(azure kubernetes). And using licode to media server. (K8s deployment, 3 replica pods)

It seems like working well. But, only in behind NAT enviroment client(like company network) can't connect with coturn server correctly.
I already open firewall with 3478 udp/tcp and 30000-65532 udp port.

If i change kubernetes coturn to azure vm, it's working well in company

[2021-03-18 23:00] geovanipfranca commented on #738
I think yes, because I used in docker the image from woahbase/alpine-coturn, using the network from host and I think it's possible, but I can't be affirmative ...

Have a code in GitHub of a project clone of Twitter Spaces / Clubhouse, they use coturn with this image, you can take a look if makes sense: gitlab.com/jam-systems/jam

[2021-03-18 23:04] geovanipfranca commented on #738
I Think it's possible, because I can run in docker using the network from host, but I can't be affirmative, have a project I liked because uses a image from woahbase/alpine-coturn and I liked to be simple way to run coturn in docker, if u like or wan't to try this is the repo [http://gitlab.com/jam-systems/jam](http://gitlab.com/jam-systems/jam)

[2021-03-19 02:10] nowjean commented on #738
@geovanipfranca thank for answer! Now i succeed to running coturn on kubernetes.

[2021-03-24 12:45] bszente commented on #626
There are other things to be considered as well:

1. Wear leveling for SSDs and SDCards, generating so many logs will kill an SDCard in a short time
2. The log should contain "useful" information, so that a sysadmin can act upon it.

The flood with the following message (filling MBs of log also in my case):
[code]
is _meaningless_, because it is simply a success INFO message. Does not help, at lea

[2021-03-24 12:47] misi commented on #626
@bszente  Check latest master in the new version there is an option and by default we don't log binding request.

[2021-03-24 13:24] bszente commented on #626
@misi Thanks, you are right. Indeed, since `coturn-4.5.2` (I recently upgraded) I don't have those `BINDING` log lines anymore.

Is there anything that can be done for the second log type? (The `ERROR: handle_udp_packet: socket to be closed` one.)

[2021-03-24 13:58] bszente commented on #737
See [#626](https://github.com/coturn/coturn/issues/626#issuecomment-805791851) for the solution.

[2021-03-24 15:14] bierzorutas commented on #273
Any advance on this ? I can also find some time to help if needed.

kind regards

[2021-03-24 19:55] misi commented on #273
@tyranron @bierzorutas Can we make a short call and discuss how to make it happen?
I saw the github actions. It is very nice and it would be great to have. :)

[2021-03-25 08:48] tyranron commented on #273
@misi @bierzorutas please, wait for a PR a little bit more. I almost reached the point of contibution.

[2021-03-25 20:50] fcecagno commented on #738
Would you mind sharing what you've done and what are the difficulties you identified in the process?

[2021-03-26 07:05] misi commented on #738
There is multiple way.
As here stated the host mode but I think it is more scalable my solution, but may it will not work in cloud k8s provider network I tested it only on premise k8s install.

To avoid one node one pod you can also use k8s with multus + whereabouts cni + sbr (source based routing)
(I used calico as the base cni)

The architecture:
![k8s-node](https://user-images.githubusercontent

[2021-03-26 07:11] nowjean commented on #738
Hi all.
Recently i succed deploy coturn on AKS. It works very well.

Before, My company have a problem with specific azure public IP.
So now it works fine.

Plus, k8s doesn't provide tcp/udp ip adresss with loadbalancer type service. So i made public udp IP for 3478 and internal IP for 3478(udp/tcp), 30000-65535(udp).

Guys thanks for helping me.

[2021-03-26 07:47] misi commented on #738
@nowjean
AFAIU in your setup real coturn server is behind NAT.

Yes it could work but it not very effective to run through NAT the media, and so it adds some extra latency/jitter because of the middle boxes and NAT.

Please consider that such setup as you described, if I understand correctly where media(rtp/rtcp) porst are behind a NAT can experience issues if ICE agent connection check frequency

[2021-03-26 08:16] nowjean commented on #738
@misi
Thanks for your comment. Actually i'm not familiar with network and TURN Server stuff.

Anyway, my coturn server is not behind NAT but on the AKS(Azure Kubernetes). and my client is behind NAT(like a company network).  Coturn deployed with k8s deployment resource with 3 replicas.

I did long-run test for coturn server with licode more than 4hours. Everything works fine. Network traffic load

[2021-03-27 13:51] s-dvd opened #740 ""allocation watchdog determined stale session state" very quickly"
We have hosted coturn and found that with one user I am getting following error in a second

`Mar 27 10:38:47 ip-172-31-35-194 turnserver: 5084: session 001000000000000076: usage: realm=<xxx.xxxx.xxxx>, username=<>, rp=2, rb=48, sp=2, sb=228
Mar 27 10:38:47 ip-172-31-35-194 turnserver: 5084: session 001000000000000076: closed (2nd stage), user <> realm <turn.100ms.live> origin <>, local 172.31.35.

[2021-03-29 02:33] claudiocastro commented on #355
make sure to setup the "cert" and "pkey" parameter in order to use web-admin

[2021-03-29 07:44] ivan-uqido commented on #355
@claudiocastro in my case those two parameters are configured with Letsencrypt certificates.

[2021-03-29 16:25] claudiocastro commented on #355
@ivan-uqido take a look at the logs, maybe you have the wrong permissions on the letsencrypt certificates?

[2021-03-29 20:33] paulmenzel commented on #626
Nice. Which commit is it exactly?

[2021-03-29 20:33] paulmenzel commented on #626
https://github.com/coturn/coturn/commit/6a5d067d7c2b8afb14f2bd95bcf1f2c0b1bd7b73?

[2021-03-29 20:45] paulmenzel commented on #626
I am seeing this with Debian 10 (buster) with *coturn* 4.5.1.1-1.1+deb10u2.

[2021-03-30 09:06] tianqingqingyun opened #742 "My coturn server can only work in a LAN，unable to visit through 4G network on my phone"
**When I use this link (https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) to test my coturn server(it's on my company's intranet) on my phone(using 4G Net)，the configurations are as below**

**TURN username** aaa
**TURN password** 123

**The coturn logged as below, and my phone finally logged _TURN allocate timed out._**

**While if I visit http://103.19.65.188:19303, it re

[2021-03-30 09:34] PhMemmel opened #743 "Coturn TCP not working on certain ports"
I recently encountered a problem with my coturn and I'm at my wits' end right now. So I report this as it's probably a coturn issue. Please correct me, if I'm wrong.

Because I'm using the machine where coturn runs on for multiple purposes I have been running coturn quite successfully for a long time on 3478 (stun/UDP) and 993 (TLS/TCP) via `tls-listening-port=993` (most firewalls allow outgoing T

[2021-03-30 15:42] alexrierra opened #744 "TURN server without SSL"
This may be a stupid question. But, is it safe to use TURN server without SSL encryption and certificate? I know WebRTC encrypts its traffic with Secure Realtime Protocol.
What are the dangers of such use? Interception of traffic?

[2021-03-30 18:55] misi commented on #743
STUN status 701 is not an error code, cotrun returns, it is I guess from your browser e.g. chrome ICE/TURN client.
https://source.chromium.org/chromium/chromium/src/+/master:third_party/webrtc/api/transport/stun.cc;l=108?q=stun%20701&ss=chromium

See: https://source.chromium.org/search?q=SERVER_NOT_REACHABLE_ERROR&sq=&ss=chromium

It could cause many things..
Check your server dns, IPv6 etc..

[2021-03-30 18:58] misi commented on #743
Double check also if your turnserver hostname you use in your cert is valid and match the real hostname you use in the client..

[2021-03-31 14:28] misi commented on #743
You are right @PhMemmel!
Yes it went out my head. Your are right because the splitstreaming attack:
https://www.armis.com/resources/iot-security-blog/nat-slipstreaming-v2-0-new-attack-variant-can-expose-all-internal-network-devices-to-the-internet/

There was a change in browsers see for more details here: https://groups.google.com/g/discuss-webrtc/c/dPklFzpRd9Q/m/n00NNk7LAgAJ

[2021-03-31 16:04] alexrierra commented on #744
Thank you so much for explanation!

[2021-03-31 16:04] #744 closed

[2021-04-01 02:33] RealAlphabet commented on #678
Same here (UP) ?

[2021-04-01 04:14] tiena2cva opened #745 "[Question] I got error: CHANNEL_BIND processed, error 403: Forbidden IP"
### My setup:
- coturn: install with apt `sudo apt install coturn` (version coturn/bionic-updates,bionic-security,now 4.5.0.7-1ubuntu2.18.04.3 amd64)
- setup SSL with certbot and dns-cloudflare plugin
- config:
[code]
- test with uclient: `turnutils_uclient -W secret -p 5349 -v localhost`
### Error
- client log:
[code]
- server log
[code]

Can someone help me why I got that error?

[2021-04-01 09:26] Chandramouli-P commented on #730
Hello Team,

Good morning and any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-04-02 04:47] plague-doctor commented on #735
@misi, could you have a look and give your advice?

[2021-04-02 19:18] muranava commented on #217
anyone know if coturn for the ubuntu 18.04 package will be updated?
thz

[2021-04-05 16:47] andyCapone commented on #626
Having that problem with Debian Buster (coturn 4.5.1.1-1.1+deb10u2 amd64).

[2021-04-05 23:49] dev4223 opened #747 "cert and key have to be readable by turnserver:turnserver"
Ubuntu 20.04
coTURN 4.5.1.1
Running turnserver as daemon

It would be nice to mention in the docs that, when setting up a TLS listening port, the cert- and key-file have to be readable by turnserver user and group. Else the TLS listening port isn't binding. There is no error message and adding `AmbientCapabilities=CAP_NET_BIND_SERVICE` to the `[Service] section` alone didn't help.

[2021-04-06 07:19] LordDashMe commented on #678
Same issue here!
No changes from the server config, this is working before but now this error message keep showing.

[2021-04-06 07:27] bszente commented on #626
Upgrade to `coturn-4.5.2`.

[2021-04-06 07:34] paulmenzel commented on #626
Can you please point to the commit fixing this issue?

[2021-04-06 07:40] jbg commented on #626
27b261eb58116e1dd395124e90ccbcc09d13b135

[2021-04-06 11:00] hakicode opened #748 "coturn crash on ubuntu, help me."
ubuntu server 18.04.x
coturn is already the newest version (4.5.0.7-1ubuntu2.18.04.3)

ERROR: apport (pid 3768) Tue Apr  6 08:41:27 2021: called for pid 2433, signal 11, core limit 0, dump mode 2
ERROR: apport (pid 3768) Tue Apr  6 08:41:27 2021: not creating core for pid with dump mode of 2
ERROR: apport (pid 3768) Tue Apr  6 08:41:27 2021: executable: /usr/bin/turnserver (command line "/usr/bin/

[2021-04-06 11:07] hakicode commented on #748
coturn automatically turns off after half a day, I check there is a log at /var/log/coturn.log
This has been happening frequently recently, and I have to restart it almost every day.

Can someone tell me what's going on and what should I do to fix it.

[2021-04-06 11:10] hakicode commented on #730
I am also having the same problem on the latest automatic installation on ubuntu, I need your help as well, hope someone can help us.

[2021-04-07 19:38] misi commented on #748
Try to upgrade to newer ubuntu server version with the latest coturn package and it will not fix the issue send a more detailed debug back trace from the core file..

[2021-04-07 19:41] misi commented on #747
Thanks! I will add it to debian.README file..

[2021-04-07 19:47] misi commented on #745
Try to use different IP address not 127.0.0.1 if possbile or use option _--allow-loopback-peers_

[2021-04-07 21:42] misi commented on #742
Please make a tcpdump on both side (client and server or phone and coturn side on the same time) and compare and check any packet filtered on 4G network..

[2021-04-07 21:54] misi commented on #740
Interesting. Can you please send a packet capture about such case?

[2021-04-07 21:58] misi commented on #737
Try to upgrade to very latest version or with syslog filter it out..

[2021-04-07 22:02] misi commented on #626
@jbg you still get binding logs even if you use 4.5.2. Can you explain more detailed?

[2021-04-07 22:05] misi commented on #626
Just a temporary workaround if you log to syslog you can filter out in syslog. It is not a solution of course still, it will still cause IO, but it will not fill the disk..
4.5.2 should help if it does not work, just let me know and I will adjust it to fix.

[2021-04-07 22:08] misi commented on #736
Try to use docker container with linux on windows..

[2021-04-07 22:16] misi commented on #735
Forbidden IP
See: https://github.com/coturn/coturn/blob/2204778ce18723781e797fef17c58b9c0d009a4b/src/server/ns_turn_server.c#L2336
See: whitelist/blacklist and multicast and loopback
https://github.com/coturn/coturn/blob/2204778ce18723781e797fef17c58b9c0d009a4b/src/server/ns_turn_server.c#L267-L343
Is the remote IP address not on the black list loopback or multicast?

[2021-04-07 22:39] misi commented on #735
@plague-doctor Can you please help and capture all the logs and also the packets on the same time for such issue.
You sent already above the logs but it would be great to see the packet capture too..

[2021-04-07 22:53] misi commented on #732
See: https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf

[2021-04-07 22:54] misi commented on #732
It explains little bit turn auth methods..

[2021-04-07 23:05] misi commented on #728
So sorry for the delayed answer.
Remote IP is the client IP that server sees, so it is the server reflexive transport address.

[2021-04-07 23:13] Carpintonto commented on #728
not at all misi.

I have had time to configure and compare different scenarios, and am slowly beginning to understand what is being logged.  For my purposes the server totally works. Thanks for the great work.

Also, I never knew how popular I could be until I spun up coturn. Yikes !!

[2021-04-07 23:13] #728 closed

[2021-04-07 23:13] misi commented on #729
ICE is between ICE agents. The 4 way check is between somehow "client 2 client".
Both ICE agent act it is a server and other is the client and after it there is swap so 2 times 2way check = 4
coturn is doing right the 2 way stun binding request handling.

[2021-04-07 23:15] misi commented on #731
@fleixi  if you add verbose logging do you see the incoming requests?

[2021-04-08 01:17] plague-doctor commented on #735
As you can see in my `turnserver.conf` I do not have any black list activated (with the exception of `no-multicast-peers`, but I doubt very much the IP would be on that list).

I would be happy to assist with whatever you need, but some "hand holding" will be required. In terms of commands, etc.

[2021-04-08 03:50] plukito commented on #678
In my case, I added ?transport=tcp and it's working immediately because I opened the port as TCP.
Check whether you open the port as UDP or TCP.

[2021-04-09 05:28] #745 closed

[2021-04-09 12:56] muabada commented on #36
Apr  9 08:42:40 JVBNA kernel: [252318.145277] turnserver[10065]: segfault at 7ff0d0000078 ip 00007ff0d0000078 sp 00007ff0d5999958 error 15

Still getting this issue, turn server keeps crashing :

Version : Version Coturn-4.5.0.5
OS :
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.8 (stretch)
Release:	9.8
Codename:	stretch

[2021-04-09 13:00] #742 closed

[2021-04-10 01:22] chan1600 commented on #219
I also have this question.
For example, if I use geo-IP lookup to determine the closest TURN server.
1. Client A connected to the closest TURN deployed in Japan
2. Client B connected to the closest TURN deployed in US
How do we let two TURN communicate with each other?

[2021-04-10 02:47] tengg commented on #219
Cascading the TURN server is not defined in RFC, however there’s some solution if you use AWS.

Check out global accelerator, it uses aws backbone to solve the cross continent latency issue. Or if you want to setup server less for real-time communication, check out Amazon chime sdk.

[2021-04-10 03:46] chan1600 commented on #219
Thank you. I will check the global accelerator.

[2021-04-10 06:56] tengg commented on #219
It’s free to use this endpoint to detect your location:
https://nearest-aws-region.l.chime.aws

[2021-04-11 04:14] LordDashMe commented on #678
Update: In Firefox browser, no message shown related to that error. This message can only be seen on Chrome.

[2021-04-11 16:22] Federico-Catelotti opened #749 "SSL on AWS problem"
When I go to the ip address of my server, obs ninja opens me and warns me that the SSL certificate is not present, when I go to the address with dns connected with record A or with the IP of the server but with https: // that it precedes, I display the page Welcome to nginx! ....
How can I solve? Where am I wrong? What should the SSL certificate do?

If I connect directly to the IP without adding

[2021-04-11 18:53] nilinswap commented on #361
this works for me well. Thanks @lekhnath

[2021-04-12 08:15] Chandramouli-P commented on #730
Hello Team,

Good morning and any help would be appreciated. Thank you.

Best Regards,
Chandramouli.

[2021-04-12 08:28] #749 closed

[2021-04-12 09:50] qwertiko opened #750 "coturn crashes with Segmentation fault"
Our coturn instance crashes daily around the same time. We are running coturn 4.5.0.7-1ubuntu2.18.04.2

gdb output:

[code]

turnserver.conf

[code]

[2021-04-12 20:26] misi commented on #750
@qwertiko
Can you try to compile version 4.5.2 on your server?
You can use debian buster backports package on debian.

Unfortunately I heard from more sources that there is an issue with ubuntu and 4.5.0.7 and dtls

[2021-04-13 13:44] MeinhartEsrohr commented on #748
orked for several months without problems, now I restart the server every night at 3 o'clock and still the service fails around noon ( the required ports are then no longer open : netstat -tulpn
 )

[2021-04-14 06:42] qwertiko commented on #750
@misi Thanks. I switched to 4.5.1.1-1.1ubuntu0.20.04.2 on Ubuntu 20.04 LTS and it is running stable without any segfaults in the last 24h

[2021-04-14 17:32] #273 closed

[2021-04-14 18:37] misi commented on #750
Thanks for the feedback..

[2021-04-14 18:37] misi commented on #748
@MeinhartEsrohr wihich version do you run?

[2021-04-14 18:39] misi commented on #748
Please dist upgrade to ubuntu 20.04 LTS or use 4.5.2 backported package..